    $spinnerHeight:systemTheme(spinner,spinnerHeight);
    $spinnerWidth:systemTheme(spinner,spinnerWidth);
    $spinnerTime:systemTheme(spinner,spinnerTime);
    $spinnerInnerLeft:systemTheme(spinner,spinnerInnerLeft);
    $spinnerInnerTop:systemTheme(spinner,spinnerInnerTop);
    $spinnerMaskLeft:systemTheme(spinner,spinnerMaskLeft);
    $spinnerMaskTop:systemTheme(spinner,spinnerMaskTop);
    $spinnerOuterLeft:systemTheme(spinner,spinnerOuterLeft);
    $spinnerOuterTop:systemTheme(spinner,spinnerOuterTop);
    $spinnerMaskBorderRadius:systemTheme(spinner,spinnerMaskBorderRadius);
    $spinnerMaskBackgroundColor:systemTheme(spinner,spinnerMaskBackgroundColor);
    $spinnerMaskWidth:systemTheme(spinner,spinnerMaskWidth);
    $spinnerMaskHeight:systemTheme(spinner,spinnerMaskHeight);
    $spinnerZIndex:systemTheme(spinner,spinnerZIndex);
    $spinnerLogoBoxShadowColor:systemTheme(spinner,spinnerLogoBoxShadowColor);
    $spinnerLogoBoxShadowSpacing:systemTheme(spinner,spinnerLogoBoxShadowSpacing);