// Primary Colors
$colorPrimaryBase: #007856;
$colorPrimaryDark: #005c42;
$colorPrimaryLight: #7ab800;
$colorPrimaryLighter: #edece4;
$colorPrimaryLightest: #f5f8fa;

// Semantic
$colorYellowBase: #ffb300;
$colorOrangeBase: #B55612;
$colorOrangeLight: #FFE4CB;
$colorRedBase: #BE4940;
$colorRedLight: #FFD4D1;
$colorGreenBase: #327E75;
$colorGreenLight: #D8F3E4;
$colorBlueBase: #6E86A6;
$colorBlueLight: #E7EBF3;

// Deprecated
$colorYellowLight: #fff1d0;
$colorBlueDark: #153358;
$colorOrangeDark: #c53e0d;

//  GrayScale
$colorGrayBase: #bababa;
$colorGrayBase2: #6c7784;
$colorGrayBase3: #7c8a98;
$colorGrayDark: #767676;
$colorGrayDarker: #333333;
$colorGrayDarkest: #2a2e33;
$colorGrayLight: #d7d7d7;
$colorGrayLighter: #efefef;
$colorGrayLightest: #f5f8fa;

//black
$colorBlack: #000000;

//White
$colorWhite: #ffffff;

// Secondary
$colorSecondary: #eaf7ed;
$colorSecondaryDark1: #60517e;
$colorSecondaryDark2: #6e295b;
$colorSecondaryDark3: #b23e62;
$colorSecondaryDark4: #f16521;
$colorSecondaryDark5: #989e36;
$colorSecondaryDark6: #6c8c7c;
$colorSecondaryDark7: #3253a4;

$colorSecondaryLight1: #b3aed0;
$colorSecondaryLight2: #6e295b;
$colorSecondaryLight3: #d99ca3;
$colorSecondaryLight4: #ffae52;
$colorSecondaryLight5: #d8d488;
$colorSecondaryLight6: #bcc8b2;
$colorSecondaryLight7: #a7b7de;
$colorSecondaryLight8: #adb8bf;
$colorSecondaryLight9: #faf9f4;

// Asset Colors
$colorAssetPrivateMarkets: #60517e;
$colorAssetHedgeFunds: #6e295b;
$colorAssetCash: #d85427;
$colorAssetRealAssets: #989e36;
$colorAssetFixedIncome: #6c8c7c;
$colorAssetEquities: #3253a4;
$colorAssetOther: #95a0a8;

$colorConicGradient: conic-gradient(rgba(122,184,0,0), rgba(122,184,0,0), rgba(122,184,0,100), rgba(122,184,0,100));

// WT Color Tokens added to stop error building
$colorGrayscaleGrayBase: #697786;
$colorGrayscaleBlack: #010000;
$colorGrayscaleWhite: #ffffff;
// $colorGrayscaleGrayLight: #e0e9ed;