@mixin proto-chip() {
    align-items: center;
    background: $colorGrayLighter;
    border-radius: 50px;
    color: $colorPrimaryBase;
    display: flex;
    font-weight: $typeFontWeightMedium;
    margin-right: $spacingSmall;
    padding: $spacingSmall $spacingLarge;
    white-space: nowrap;
    font-family: $typeFontFamily;
    align-items: center;
    font-size: $typeScaleMedium;
    
    @if $isWTC == true {
      font-size: $typeScaleXXSmall;
      padding: $spacingXSmall $spacingSmall;
    }
  
    &--active{
      background: $colorPrimaryBase;
      color: white;
    }   

    &__close {
        display: flex;
        align-items: center;
        margin-left: $spacingMedium;
    }

    &__container {
        display: flex;
    }

    &__icon {
      font-size: 12px;
      padding-left: $spacingSmall;
      display: flex;
      align-items: center;
    }
  }
  
  