$wt-footer-tokens: (
    footerMainBackgroundColor: $colorGrayscaleWhite,
    footerLinkColor: $colorSecondaryBlueBase,
    footerFontColor: $colorPrimaryBase,
    footerFontFamily: $fontFace,
    footerMainPadding: $spacingXLarge 0 0 0,
    footerMainTextAlign: left,
    footerWidth: 100%,  
    footerContentMaxWidth: auto,
    footerParagraphFontWeight: $typeFontWeightRegular,
    footerParagraphLineHeight: $typeScaleMedium,
    footerParagraphMarginBottom: $spacingMedium,
    footerParagraphTextAlign: left,
    footerParagraphFirstMarginTop: 0,
    footerParagraphLastMarginBottom: 0,  
    footerImagesMarginBottom: $spacingMedium,
    footerFontSize: $typeScaleXXSmall,
    footerMainBorderTop: $spacingXXXSmall solid $colorGrayBorder,
    footerHeaderLinksMarginTop: $spacingXLarge,
    footerHrBorder: 1px solid $colorGrayBorder,
    footerHrMargin: $spacingXLarge 0,
    footerParagraphFirstPChildFontWeight: $typeFontWeightBold,
    footerParagraphLastTextAlign: center,
    footerParagraphLastFontWeight: $typeFontWeightRegular,
    footerParagraphLastPFontWeight: $typeFontWeightRegular,
    footerParagraphLastLineHeight: $typeScaleMedium,
    footerParagraphLastPChildFontWeight: $typeFontWeightBold,    
    footerHeaderDesktopAlignItems: center,
    footerHeaderLinksDesktopMargintop: 0,
    footerLinksDesktopMarginLeft: $spacingXLarge
);
