$footerMainBackgroundColor: systemTheme(footer, footerMainBackgroundColor);
$footerLinkColor: systemTheme(footer, footerLinkColor);
$footerFontColor: systemTheme(footer, footerFontColor);
$footerFontFamily: systemTheme(footer, footerFontFamily);
$footerMainPadding: systemTheme(footer, footerMainPadding);
$footerMainTextAlign: systemTheme(footer, footerMainTextAlign);
$footerWidth: systemTheme(footer, footerWidth);
$footerContentMaxWidth: systemTheme(footer, footerContentMaxWidth);
$footerParagraphFontWeight: systemTheme(footer, footerParagraphFontWeight);
$footerParagraphLineHeight: systemTheme(footer, footerParagraphLineHeight);
$footerParagraphMarginBottom: systemTheme(footer, footerParagraphMarginBottom);
$footerParagraphTextAlign: systemTheme(footer, footerParagraphTextAlign);
$footerParagraphFirstMarginTop: systemTheme(footer, footerParagraphFirstMarginTop);
$footerParagraphLastMarginBottom: systemTheme(footer, footerParagraphLastMarginBottom);
$footerImagesMarginBottom: systemTheme(footer, footerImagesMarginBottom);
$footerFontSize: systemTheme(footer, footerFontSize);

$footerMainBorderTop: systemTheme(footer, footerMainBorderTop);
$footerHeaderLinksMarginTop: systemTheme(footer, footerHeaderLinksMarginTop);
$footerHrBorder: systemTheme(footer, footerHrBorder);
$footerHrMargin: systemTheme(footer, footerHrMargin);
$footerParagraphFirstPChildFontWeight: systemTheme(footer, footerParagraphFirstPChildFontWeight);
$footerParagraphLastTextAlign: systemTheme(footer, footerParagraphLastTextAlign);
$footerParagraphLastFontWeight: systemTheme(footer, footerParagraphLastFontWeight);
$footerParagraphLastPFontWeight: systemTheme(footer, footerParagraphLastPFontWeight);
$footerParagraphLastPChildFontWeight: systemTheme(footer, footerParagraphLastPChildFontWeight);
$footerParagraphLastLineHeight: systemTheme(footer, footerParagraphLastLineHeight);
$footerHeaderDesktopAlignItems: systemTheme(footer, footerHeaderDesktopAlignItems);
$footerHeaderLinksDesktopMargintop: systemTheme(footer, footerHeaderLinksDesktopMargintop);
$footerLinksDesktopMarginLeft: systemTheme(footer, footerLinksDesktopMarginLeft);