$labelFontColor: $colorGrayDarker;
$labelFontFamily: $typeFontFamily;
$labelFontWeight: $typeFontWeightMedium;
$labelFontSize: $typeScaleMedium;
$labelDisplay: block;
$labelMarginBottom: $spacingXSmall;

@if $isWTC {
    $labelFontColor: $colorGrayscaleBlack;
    $labelFontSize: $typeScaleXSmall;
}