.c-dropdown {
    @if $isWTC == true {
        &__dropdown {
            width: $dropdownWidth;
            height: $dropdownHeight;
            padding: $dropdownPaddingHeight $dropdownPaddingWidth;
            border-radius: $dropdownBorderRadius;
            border: $dropdownBorderWidth $dropdownBorderType $dropdownBorderColor;
            overflow: hidden;
            position: absolute;
            vertical-align: top;
            display: inline-block;
            background: $dropdownBgColor;
            z-index: $dropdownZindex;
        }

        &__show-dropdown {
            height: $dropdownShowHeight;
        }

        &__dropdown-item {
            list-style: none;
            line-height: $dropdownItemLineHeight;
        }

        &__dropdown-item:hover {
            cursor: $dropdownItemHover;
            color: $dropdownItemHoverColor;
        }

        &__toggle-button {
            position: absolute;
            top: $dropdownToggleTop;
            right: $dropdownToggleRight;
        }

        &__description {
            position: relative;
            top: $dropdownDescriptionTop;
        }

    }
}

// desktop view
@media only screen and (min-width: $desktopBreakpoint) {
    @if $isWTC == true {
        .c-dropdown {
            &__dropdown {
                height: $dropdownMediaHeight;
            }

            &__show-dropdown {
                height: $dropdownMediaShowHeight;
            }

            &__dropdown-item {
                line-height: $dropdownMediaLineHeight;
            }

            &__toggle-button {
                position: absolute;
                top: $dropdownMediaToggleTop;
                right: $dropdownMediaToggleRight;
            }

            &__description {
                top: $dropdownMediaDescriptionTop;
            }
        }
    }
}