$breadcrumbListItemColor: $colorPrimaryBase;
$breadcrumbListItemFontSize: $typeScaleXXSmall;
$breadcrumbListItemFontWeight: $typeFontWeightMedium;
$breadcrumbIconColor: $colorPrimaryBase;
$breadcrumbIconMargin: 0 $spacingXSmall;
$breadcrumbIconTop: 3px;