// WTC Loading is different will and is going to be contributed WTC Devs
@if $isWTC == false {

    .c-loading {
        @include proto-loading($loadingBackgroundColor);

        &--non-blocking {
            position: fixed;
            top: $spacingMedium;
            left: 50%;
            transform: translateX(-50%);
            @include proto-loading($loadingNonBlockBackgroundColor);

            .c-loading__content {
                color: $loadingNonBlockFontColor;
            }

            .c-loading__spinner {
                background: $loadingNonBlockBackgroundColor;
                &:before {
                    background: $loadingNonBlockBackgroundColor;
                }
            }
        }

        &--hidden {
            opacity: 0;
        }

        &__content {
            color: $loadingFontColor;
            font-family: quote($loadingFontFamily), Helvetica, Arial, sans-serif;
            font-size: $loadingFontSize;
            font-weight: $loadingFontWeight;
            padding-left: $loadingContentPadding;
        }
        

        &__spinner {
            animation: spin 2000ms infinite linear;
            background: $loadingBackgroundColor;
            background-clip: padding-box; /* !importanté */
            border: solid $loadingSpinnerBorderSize transparent; /* !importanté */
            border-radius: 100%;
            box-sizing: border-box;
            color: $loadingFontColor;
            height: $loadingSpinnerSize;
            margin: 0;
            padding: 0;
            position: relative;
            width: $loadingSpinnerSize;
            z-index: 3;

            &:before {
                background: $loadingBackgroundColor;
                border-radius: 100%;
                content: '';
                height: 20px;
                position: absolute;
                width: $loadingSpinnerSize - $loadingSpinnerBorderSize;
                z-index: 3;
            }
        
            &:after {
                content: '';
                position: absolute;
                top: 0; 
                right: 0; 
                bottom: 0; 
                left: 0;
                z-index: 2;
                margin: -$loadingSpinnerBorderSize; /* !importanté */
                border-radius: inherit; /* !importanté */
                background: $loadingSpinnerBackground;
                transition: all .3s ease-in-out;
                opacity: 1;
            }

            &--complete {
                &:after {
                    opacity: 0;
                }
            }
        }

        &__check {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            

            &:before {
                content: "";
                position: absolute;
                top: 25px;
                left: 16px;
                border-right: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transform: rotate(45deg);
                transform-origin: 0% 100%;
                animation: checkmark-reveal .3s .5s cubic-bezier(.4,.0,.23,1) forwards;
            }
        }

        &__overlay {
            @include proto-overlay();
            transition: opacity .3s .3s ease-in-out;
            
            &--contained {
                @include proto-overlay();
                position: absolute;
                transition: opacity .3s ease-in-out;
            }

            &--hidden {
                opacity: 0;
            }
        }
    }
}