$wt-form-alert-tokens: (
    formAlertPadding: $spacingXSmall,
    formAlertBorderWidth: 1px,
    formAlertBorderType: solid,
    formAlertBorderColor: $colorSemanticRedBase,
    formAlertBorderRadius: 5px,
    formAlertCloseTop: 4px,
    formAlertCloseRight: 4px,
    formAlertCloseWidth: 30px,
    formAlertCloseHeight: 30px
  );