$formAlertPadding:systemTheme(formAlert,formAlertPadding);
$formAlertBorderWidth:systemTheme(formAlert,formAlertBorderWidth);
$formAlertBorderType:systemTheme(formAlert,formAlertBorderType);
$formAlertBorderColor:systemTheme(formAlert,formAlertBorderColor);
$formAlertBorderRadius:systemTheme(formAlert,formAlertBorderRadius);
$formAlertCloseTop:systemTheme(formAlert,formAlertCloseTop);
$formAlertCloseRight:systemTheme(formAlert,formAlertCloseRight);
$formAlertCloseWidth:systemTheme(formAlert,formAlertCloseWidth);
$formAlertCloseHeight:systemTheme(formAlert,formAlertCloseHeight);