// Small devices (landscape phones, 576px and up)
$nav-sm: 576px;
// Medium devices (tablets, 768px and up)
$nav-md: 768px;
// Large devices (desktops, 992px and up)
$nav-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$nav-xl: 1200px;
@if $isWTC == true {
    //TODO: Add this to the colors?
    $gray-border: $navGrayBorder;

    $nav-menuitem-active-background-color: $navMenuItemBackgroundColor  !default;
    $nav-menuitem-focus-background-color: $navMenuItemBackgroundColor  !default;
    $nav-menuitem-hover-background-color: $navMenuItemBackgroundColor  !default;
    $nav-menuitem-hover-underline-color: $navUnderlineColor !default;

    $c-nav-horizontal-separator-color: $navBackgroundColor !default;
    $c-nav-horizontal-separator-height: 0 !default;


    .c-nav {
      background-color: $navBackgroundColor;
      color: $navColor;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "menubar-left logo-and-title-group menubar-right";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      @media (min-width: $nav-lg) {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: "logo-and-title-group menubar-left menubar-left menubar-left menubar-left menubar-left menubar-right menubar-right menubar-right";
      }

      &__logo-and-title-group {
        grid-area: logo-and-title-group;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding: $navMenuPadding $navLogoTitlePaddingWidth;

        @media (min-width: $nav-sm) {
          flex-flow: row;
        }
      }

      &__logo {
        fill: $navLogoFill;
        width: $navLogoWidth;
        height: $navLogoHeight;
      }

      &__menubar {
        list-style-type: none;
        margin: $navMenuMargin;
        padding: $navMenuPadding;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $nav-sm) {
          align-items: center;
        }

        &-left {
          grid-area: menubar-left;
          align-content: flex-start;

          @media (min-width: $nav-lg) {
            align-content: center;
          }
        }

        &-right {
          grid-area: menubar-right;
          justify-content: flex-end;

          .c-nav__menubaritem-container {
            height: 100%;
          }

          .c-nav__menubaritem {
            display: flex;
            flex-flow: column;
            height: 100%;
            justify-content: center;
          }

          .c-nav__menubaritem--sign-out {
            display: none;

            @media (min-width: $nav-lg) {
              display: flex;
            }
          }
        }
      }

      &__menubaritem {
        color: $navMenuBarItemColor;
        padding: $navMenuBarItemPadding;
        background-repeat: no-repeat;
        background-color: $navMenuBarItemBackgroundColor;
        background-position: center;
        border: 0;

        &:hover,
        &:focus {
          background-color: $navMenuBarItemHoverBgColor;
          color: $navMenuBarItemHoverColor;
          font-weight: $navMenuBarItemFontWeight;
        }

        &:active {
          background-color: $navMenuBarItemColor;
          color: $navMenuBarItemActive;
        }

        &-container {
          width: auto;
          display: flex;
        }

        &-text {
          padding: $navMenuBarItemTextPaddingHeight $navMenuPadding;
        }

        &--toggle {
          &-left {
            @media (min-width: $nav-lg) {
              display: none;
            }

            background-image: get-icon("menu-toggle", $navToggleBgColor);

            &:hover,
            &:focus {
              background-image: get-icon("menu-toggle", $navToggleHoverBgColor);
            }

            &:active {
              background-image: get-icon("menu-toggle", $navToggleActiveBgColor);
            }

            &[aria-expanded="true"] {
              background-image: get-icon("close", $navToggleExpandedBgImg);
              background-color: $navToggleExpandedBgColor;

              &:active {
                background-image: get-icon("close", $navToggleExpandedActiveBgImg);
              }
            }
          }

          &-right {
            background-image: get-icon("user-avatar", $navRightBgImg);

            @media (min-width: $nav-lg) {
              background-position: $navRightMediaBg center;
              padding: $navRightMediaPaddingHeight $navRightMediaPaddingWidth;
            }

            &:hover,
            &:focus {
              background-image: get-icon("user-avatar", $navRightHoverBg);
            }

            &:active {
              background-image: get-icon("user-avatar", $navRightActiveBg);
            }

            .c-nav__menubaritem-text {
              display: none;

              @media (min-width: $nav-lg) {
                display: flex;
              }
            }

            &-dropdown {
              background-image: get-icon("user-avatar", $navDropDownBg);
              background-position: center;

              &:hover,
              &:focus {
                background-image: get-icon("user-avatar", $navDropDownHoverBg);
              }

              &:active {
                background-image: get-icon("user-avatar", $navDropDownActiveBg);
              }

              @media (min-width: $nav-lg) {
                background-image: get-icon("user-avatar", $navDropDownMediaBg),
                  get-icon("chevron-down", $colorGrayscaleWhite);
                background-position: $navDropDownMediaBgPosition center,
                  right $navDropDownMediaBgPosition center;

                &:hover,
                &:focus {
                  background-image: get-icon(
                      "user-avatar",
                      $navDropDownMediaHoverBg
                    ),
                    get-icon("chevron-down", $colorPrimaryBase);
                }

                &:active {
                  background-image: get-icon(
                      "user-avatar",
                      $navDropDownMediaActiveBg
                    ),
                    get-icon("chevron-down", $colorSecondaryBase);
                }
              }
            }
          }
        }

        &--communication {
          background-image: get-icon("bell", $navCommunicationBg);

          &:hover,
          &:focus {
            background-color: $navCommunicationHoverBg;
            background-image: get-icon("bell", $navCommunicationImgIconBg);
          }

          &:active {
            background-color: $navCommunicationActiveBg;
            background-image: get-icon("bell", $navCommunicationActiveIconBg);
          }

          .c-nav__menubaritem-text {
            display: none;

            @media (min-width: $nav-lg) {
              display: flex;
            }
          }
        }

        &[aria-haspopup="true"][aria-expanded="false"] + [role="menu"] {
          display: none;

          &.c-nav__menu--collapse {
            @media (min-width: $nav-lg) {
              display: flex;
              flex-flow: row;
              position: initial;
              top: initial;
            }
          }
        }

        &[aria-haspopup="true"][aria-expanded="true"] + [role="menu"] {
          display: flex;
          flex-flow: column;
          position: absolute;
          top: 100%;

          &.c-nav__menu--collapse {
            @media (min-width: $nav-lg) {
              display: flex;
              flex-flow: row;
              position: initial;
              top: initial;
            }
          }
        }
      }

      &__menu {
        display: none;
        list-style-type: none;
        margin: $navMenuMargin;
        padding: $navMenuPadding;
        background-color: $navMenuBgColor;
        width: 100%;
        height: 100vh;
        overflow: auto;
        transition: left $navMenuTranstionLeftTime, right $navMenuTranstionRightTime;

        @media (min-width: $nav-sm) {
          width: auto;
          height: auto;
        }

        @media (min-width: $nav-lg) {
          padding: $navMenuPadding;
        }

        &--collapse {
          @media (min-width: $nav-lg) {
            display: flex;
            position: initial;
            top: initial;
          }
        }

        &--left {
          left: 0;

          @media (min-width: $nav-sm) {
            left: initial;
          }

          .c-nav__menuitem-container {
            @media (min-width: $nav-lg) {
              float: left;
            }
          }

          .c-nav__menuitem--sign-out {
            display: flex;

            @media (min-width: $nav-lg) {
              display: none;
            }
          }
        }

        &--right {
          right: 0;

          @media (min-width: $nav-lg) {
            right: initial;
          }
        }
      }

      &__menuitem-container {
        width: auto;
      }

      &__menuitem {
        display: flex;
        align-items: flex-start;
        flex-flow: column;
        justify-content: center;
        color: $navMenuItemColor;
        text-align: center;
        padding: $navMenuItemPaddingHeight $navMenuItemPaddingWidth;
        text-decoration: none;
        background-color: $navMenuItemBgColor;
        width: 100%;

        @media (min-width: $nav-sm) {
          padding: $navMenuItemMediaPadding;
        }

        @media (min-width: $nav-lg) {
          align-items: center;
        }

        &[aria-current="page"] {
          padding-bottom: $navMenuItemMediaAriPaddingBottom;

          @media (min-width: $nav-sm) {
            background-color: $navMenuItemMediaAriBgColor;
            color: $navMenuItemMediaAriColor;
          }

          &::after {
            content: "";
            border: $navMenuAfterBorderWidth $navMenuAfterBorderType;
            position: absolute;
            left: $navMenuAfterLeft;

            @media (min-width: $nav-sm) {
              display: none;
            }
          }

          .c-nav__menuitem-text {
            @media (min-width: $nav-sm) {
              background-color: $navMenuItemTextBgColor;
              color: $navMenuItemTextColor;
              border-bottom: $navMenuItemTextBorderBottomWidth
                $navMenuItemTextBorderBottomType;
            }
          }
        }

        &:hover,
        &:focus {
          color: $navMenuItemTextHoverColor;
          font-weight: bold;

          @media (min-width: $nav-lg) {
            padding-bottom: calc(
              #{$navMenuItemTextHoverMediaPaddingBot} -
                #{$navMenuItemTextHoverMediaPaddingBotSub}
            );
          }
          &[aria-current="page"] {
            @media (min-width: $nav-sm) {
              background-color: $navMenuItemTextHoverPageBgColor;
            }

            .c-nav__menuitem-text {
              @media (min-width: $nav-sm) {
                color: $navMenuItemTextHoverSmColor;
                border-bottom: $navMenuItemTextHoverSmBorderBottomWidth
                  $navMenuItemTextHoverSmBorderBottomType;
              }
            }
          }
          .c-nav__menuitem-text {
            border-bottom: $navTextBorderWidth solid
              $nav-menuitem-hover-underline-color;
          }
        }

        &-text {
          padding: 10px $navMenuPadding;
          width: 100%;
          text-align: left;
          border-bottom: $navTextBorderTextWidth $navTextBorderType;

          @media (min-width: $nav-sm) {
            border-bottom: $navMenuBorder;
            width: auto;
          }

          @media (min-width: $nav-lg) {
            text-align: center;
          }
        }

        &--sign-out {
          border: $navMenuBorder;
          flex-flow: row;
          justify-content: flex-start;

          .c-nav__menuitem-text {
            border-bottom: $navMenuBorder;
            border-top: $navSignOutBorderTopWidth $navSignOutBorderTopType;
          }
        }
      }

      &__horizontal-separator {
        border-top: $c-nav-horizontal-separator-height solid
          $c-nav-horizontal-separator-color;
      }
    
    }
}