// Button Color
$smallButtonBackgroundColor: systemTheme(smallButtons, smallButtonBackgroundColor);

// Button Borders
$smallButtonBorderRadius: systemTheme(smallButtons, smallButtonBorderRadius);
$smallButtonBorderColor: systemTheme(smallButtons, smallButtonBorderColor);
$smallButtonBorderWeight: systemTheme(smallButtons, smallButtonBorderWeight);
$smallButtonBorderStyle: systemTheme(smallButtons, smallButtonBorderStyle);

// Button Padding
$smallButtonPaddingTop: systemTheme(smallButtons, smallButtonPaddingTop);
$smallButtonPaddingBottom: systemTheme(smallButtons, smallButtonPaddingBottom);
$smallButtonPaddingLeft: systemTheme(smallButtons, smallButtonPaddingLeft);
$smallButtonPaddingRight: systemTheme(smallButtons, smallButtonPaddingRight);

// Button Text Styles
$smallButtonTextAlignment: systemTheme(smallButtons, smallButtonTextAlignment);
$smallButtonTextColor: systemTheme(smallButtons, smallButtonTextColor);
$smallButtonTextStyle: systemTheme(smallButtons, smallButtonTextStyle);
$smallButtonFontSize: systemTheme(smallButtons, smallButtonFontSize);
$smallButtonFontFamily: systemTheme(smallButtons, smallButtonFontFamily);
$smallButtonFontStyle: systemTheme(smallButtons, smallButtonFontStyle);
$smallButtonFontWeight: systemTheme(smallButtons, smallButtonFontWeight);
$smallButtonLineHeight: systemTheme(smallButtons, smallButtonLineHeight);

// Default Button
$smallButtonBackgroundColor: systemTheme(smallButtons, smallButtonBackgroundColor);
$smallButtonBorderColor: systemTheme(smallButtons, smallButtonBorderColor);
$smallButtonBorderWeight: systemTheme(smallButtons, smallButtonBorderWeight);
$smallButtonBorderStyle: systemTheme(smallButtons, smallButtonBorderStyle);
$smallButtonTextColor: systemTheme(smallButtons, smallButtonTextColor);
$smallButtonTextStyle: systemTheme(smallButtons, smallButtonTextStyle);

// Primary Button
$smallButtonPrimaryBackgroundColor: systemTheme(smallButtons, smallButtonPrimaryBackgroundColor);
$smallButtonPrimaryBorderColor: systemTheme(smallButtons, smallButtonPrimaryBorderColor);
$smallButtonPrimaryBorderWeight: systemTheme(smallButtons, smallButtonPrimaryBorderWeight);
$smallButtonPrimaryBorderStyle: systemTheme(smallButtons, smallButtonPrimaryBorderStyle);
$smallButtonPrimaryTextColor: systemTheme(smallButtons, smallButtonPrimaryTextColor);
$smallButtonPrimaryTextStyle: systemTheme(smallButtons, smallButtonPrimaryTextStyle);
$smallButtonHoverColor: systemTheme(smallButtons, smallButtonHoverColor);

// Subtle Button
$smallButtonSubtleBackgroundColor: systemTheme(smallButtons, smallButtonSubtleBackgroundColor);
$smallButtonSubtleBorderColor: systemTheme(smallButtons, smallButtonSubtleBorderColor);
$smallButtonSubtleBorderWeight: systemTheme(smallButtons, smallButtonSubtleBorderWeight);
$smallButtonSubtleTextColor: systemTheme(smallButtons, smallButtonSubtleTextColor);
$smallButtonSubtleTextStyle: systemTheme(smallButtons, smallButtonSubtleTextStyle);

// Loading Button
$loadingButtonDotColor: systemTheme(smallButtons, loadingButtonDotColor);

// Disabled Button
$smallButtonDisabledColor: systemTheme(smallButtons, smallButtonDisabledColor);
$smallButtonDisabledTextColor: systemTheme(smallButtons, smallButtonDisabledTextColor);

// Button Group
$smallButtonGroupBorderColor: systemTheme(smallButtons, smallButtonGroupBorderColor);
$smallButtonGroupFontColor: systemTheme(smallButtons, smallButtonGroupFontColor);
$smallButtonGroupHoverBorderColor: systemTheme(smallButtons, smallButtonGroupHoverBorderColor);
$smallButtonGroupActiveColor: systemTheme(smallButtons, smallButtonGroupActiveColor);
$smallButtonIconColor: systemTheme(smallButtons, smallButtonIconColor);
$smallButtonPrimaryHoverBorderColor: systemTheme(smallButtons, smallButtonPrimaryHoverBorderColor);
$smallButtonPrimaryHoverColor: systemTheme(smallButtons, smallButtonPrimaryHoverColor);
$smallButtonPrimaryHoverBackgroundColor: systemTheme(smallButtons, smallButtonPrimaryHoverBackgroundColor);

$smallButtonChangeHueValue: systemTheme(smallButtons, smallButtonChangeHueValue);
$smallButtonLoadingCursor: systemTheme(smallButtons, smallButtonLoadingCursor);
$smallButtonDisabledCursor: systemTheme(smallButtons, smallButtonDisabledCursor);
$smallButtonDefaultCursor: systemTheme(smallButtons, smallButtonDefaultCursor);
$smallButtonHeight: systemTheme(smallButtons, smallButtonHeight);
$smallButtonWidth: systemTheme(smallButtons, smallButtonWidth);
$smallButtonDisplay: systemTheme(smallButtons, smallButtonDisplay);
$smallButtonVerticalAlign: systemTheme(smallButtons, smallButtonVerticalAlign);
$smallButtonMargin: systemTheme(smallButtons, smallButtonMargin);
$smallButtonLetterSpacing: systemTheme(smallButtons, smallButtonLetterSpacing);
$loadingPrimaryButtonDotColor: systemTheme(smallButtons, loadingPrimaryButtonDotColor);
$smallButtonDisabledFontColor: systemTheme(smallButtons, smallButtonDisabledFontColor);

$smallButtonDisabledTextColor: systemTheme(smallButtons, smallButtonDisabledTextColor);

