$wt-chart-tokens: (
    chartLegendItemFontSize: 10px,
    chartLegendItemColor: $colorPrimaryBase,
    chartLegendItemMargin: $spacingXXXSmall,
    chartLegendItemTwoColWidth: 175px,
    chartLegendDotHeight: 5px,
    chartLegendDotWidth: 5px,
    chartLegendDotBorderRadius: 50%,
    chartLegendDotMarginRight: 5px
  );