$chartLegendItemFontSize:systemTheme(chart,chartLegendItemFontSize);
$chartLegendItemColor:systemTheme(chart,chartLegendItemColor);
$chartLegendItemMargin:systemTheme(chart,chartLegendItemMargin);
$chartLegendItemTwoColWidth:systemTheme(chart,chartLegendItemTwoColWidth);
$chartLegendDotHeight:systemTheme(chart,chartLegendDotHeight);
$chartLegendDotWidth:systemTheme(chart,chartLegendDotWidth);
$chartLegendDotBorderRadius:systemTheme(chart,chartLegendDotBorderRadius);
$chartLegendDotMarginRight:systemTheme(chart,chartLegendDotMarginRight);