$wt-dropdown-tokens: (
    dropdownWidth: auto,
    dropdownHeight: 44px,
    dropdownPaddingHeight: 5px,
    dropdownPaddingWidth: 10px,
    dropdownBorderRadius: 14px,
    dropdownBorderWidth: 1px,
    dropdownBorderType: solid,
    dropdownBorderColor: $colorGrayscaleGrayLight,
    dropdownBgColor: $colorGrayscaleWhite,
    dropdownZindex: 99,
    dropdownShowHeight: auto,
    dropdownItemLineHeight: 34px,
    dropdownItemHover: pointer,
    dropdownItemHoverColor: $colorSecondaryBase,
    dropdownToggleTop: 8px,
    dropdownToggleRight: 8px,
    dropdownDescriptionTop: 13px,
    dropdownMediaHeight: 28px,
    dropdownMediaShowHeight: auto,
    dropdownMediaLineHeight: 20px,
    dropdownMediaToggleTop: 2px,
    dropdownMediaToggleRight: 6px,
    dropdownMediaDescriptionTop: 5px
  );