// Map of all border sides
$sides: top bottom left right;

// Map of all border types
$types: solid dashed;

// Map of all color possibilities
$borderColors: ("primary": $colorPrimaryBase,
  "gray": $colorGrayBase,
  "gray-light": $colorGrayLight,
  "gray-lighter": $colorGrayLighter,
  "white": $colorWhite);

// Mixin to create a full border
@mixin border($type, $color) {
  border: $type 1px $color;
}

//Mixin to create a side border
@mixin borderSide($side, $type, $color) {
  border-#{$side}: $type 1px $color;
}

.u-border {

  // Loop through every kind of border and create class name
  @each $type in $types {
    &-#{$type} {

      // Loop through every color possibility and create class name
      @each $colorName,
      $colorToken in $borderColors {
        &--#{$colorName} {
          @include border($type, $colorToken);
        }
      }
    }
  }

  // Loop through every side of border and create class name
  @each $side in $sides {
    &-#{$side} {

      // Loop through every kind of border and create class name
      @each $type in $types {
        &-#{$type} {

          // Loop through every color possibility and create class name
          @each $colorName,
          $colorToken in $borderColors {
            &--#{$colorName} {
              @include borderSide($side, $type, $colorToken);
            }
          }
        }
      }
    }
  }

  &--none {
    border: none;
  }
}