.u-display {
  &--none {
    display: none;
  }

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }

  &--inline-block {
    display: inline-block;
    vertical-align: top;
  }

  &--flex {
    display: flex;
  }

  @media only screen and (max-width: $desktopBreakpoint - 1px) {
    &-xs {
      &--none {
        display: none;
      }

      &--block {
        display: block;
      }

      &--inline {
        display: inline;
      }

      &--inline-block {
        display: inline-block;
        vertical-align: top;
      }

      &--flex {
        display: flex;
      }
    }
  }

  @media only screen and (min-width: $desktopBreakpoint) {
    &-sm {
      &--none {
        display: none;
      }

      &--block {
        display: block;
      }

      &--inline {
        display: inline;
      }

      &--inline-block {
        display: inline-block;
        vertical-align: top;
      }
      
      &--flex {
        display: flex;
      }
    }
  }
}