$sizes: (
  xxsmall: $typeScaleXXSmall,
  xsmall: $typeScaleXSmall,
  small: $typeScaleSmall,
  medium: $typeScaleMedium,
  large: $typeScaleLarge,
  xlarge: $typeScaleXLarge,
  xxlarge: $typeScaleXXLarge,
  xxxlarge: $typeScaleXXXLarge,
  xxxxlarge: $typeScaleXXXXLarge,
);


$weights: (
  light: $typeFontWeightLight,
  regular: $typeFontWeightRegular,
  weight-medium: $typeFontWeightMedium,
  semibold: $typeFontWeightSemibold,
  bold: $typeFontWeightBold,
  normal: normal,
);

$aligns: left right center;

.u-type {

  &--italic {
    font-family: quote($typeFontFamily), Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  &--underline {
    text-decoration: underline;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &-line-height {
    &--medium {
      line-height: 1.3;
    }
    &--wide {
      line-height: 1.6;
    }
  }

  @each $align in $aligns {
    &--#{$align} {
      text-align: #{$align};
    }
  }

  @each $size,
  $val in $sizes {
    &--#{$size} {
      font-size: $val;
      line-height: $val + $typeLineHeightIncrement;
    }
  }

  @each $weight,
  $val in $weights {
    &--#{$weight} {
      font-weight: $val;
      font-family: $fontFace;
    }
  }

  @media only screen and (max-width: $desktopBreakpoint - 1px) {
    &--xs {
      @each $size,
      $val in $sizes {
        &-#{$size} {
          font-size: $val;
        }
      }
      @each $weight,
      $val in $weights {
        &-#{$weight} {
          font-weight: $val;
          font-family: $fontFace;
        }
      }
      @each $align in $aligns {
        &-#{$align} {
          text-align: #{$align};
        }
      }
    }
    &--xs-left {
      text-align: left
    }
    &--xs-center {
      text-align: center
    }
    &--xs-right{
      text-align: right
    }
  }

  @media only screen and (min-width: $desktopBreakpoint) {
    &--sm {
      @each $size,
      $val in $sizes {
        &-#{$size} {
          font-size: $val;
        }
      }
      @each $weight,
      $val in $weights {
        &-#{$weight} {
          font-weight: $val;
          font-family: $fontFace;
        }
      }
      @each $align in $aligns {
        &-#{$align} {
          text-align: #{$align};
        }
      }
    }
    &--sm-left {
      text-align: left
    }
    &--sm-center {
      text-align: center
    }
    &--sm-right{
      text-align: right
    }
  }
  
  @media only screen and (min-width: 1350px) {
    &--md {
      @each $size,
      $val in $sizes {
        &-#{$size} {
          font-size: $val;
        }
      }
    }
    &--md-left {
      text-align: left
    }
    &--md-center {
      text-align: center
    }
    &--md-right{
      text-align: right
    }
  }

}
