.u-is-hidden {
  display: none !important;
}

.u-xs-is-hidden {
  display: none;
}

@media only screen and (min-width: $desktopBreakpoint) {
  .u-sm-is-hidden {
    display: none !important;
  }
}

$_screens: (
  xsmall: $breakpoint--xsmall,
  small: $breakpoint--small,
  medium: $breakpoint--medium,
  large: $breakpoint--large,
  xlarge: $breakpoint--xlarge,
  xxlarge: $breakpoint--xxlarge,
);

@each $name, $value in $_screens {
  .u-is-hidden--#{$name} {
    @media (max-width: $value) {
      display: none !important;
    }
  }
}
