.u-is-visible {
  display: block !important;
}

.u-xs-is-visible {
  display: block;
}

@media only screen and (min-width: $desktopBreakpoint) {
  .u-sm-is-visible {
    display: block !important;
  }
}

$_screens: (
  xsmall: $breakpoint--xsmall,
  small: $breakpoint--small,
  medium: $breakpoint--medium,
  large: $breakpoint--large,
  xlarge: $breakpoint--xlarge,
  xxlarge: $breakpoint--xxlarge,
);

@each $name, $value in $_screens {
  .u-is-visible--#{$name} {
    @media (max-width: $value) {
      display: block !important;
    }
  }
}

@each $name, $value in $_screens {
  .u-is-visible-flex--#{$name} {
    @media (max-width: $value) {
      display: flex !important;
    }
  }
}
