.u-icon {
    &--rotate {
        &-90 {
            @include icon-rotate(90deg, 1);
        }
        
        &-180 {
            @include icon-rotate(180deg, 2);
        }
        
        &--270 {
            @include icon-rotate(270deg, 3);
        }
    }
    
    &--flip {
        &-y {
            @include icon-flip(-1, 1, 0);
        }
        &-x {
            @include icon-flip(1, -1, 2);
        }
    }
    
    &--spin {
      -webkit-animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
    }
    
    &-bg {
        &--square {
            padding: 0.35em;
            background-color: $icon-background-color;
        }
        
        &--circle {
            padding: 0.35em;
            background-color: $icon-background-color;
            border-radius: 50%;
        }
    }
}