.u-pull {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  &--none {
    float: none;
  }
    
  &--center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}