//prevent scrolling on the page body while scrolling in the modal
.u-scroll--none {
    overflow: hidden;
}

//enable scrolling in the x or y direction
.u-scroll--vertical {
    overflow-y: auto;
}

.u-scroll--horizontal {
    overflow-x: auto;
}