.c-search {
    @if $isWTC == true {
      &__container {
        margin: $searchContainerMargin;
        width: $searchContainerWidth;
        height: $searchContainerHeight;
        border-radius: $searchContainerBorderRadius;
        border: $searchContainerBorderWidth $searchContainerBorderType
          $searchContainerBorderColor;
        background: $searchContainerBackgroundColor;
      }

      &__content {
        padding: 0 $searchContentPadding;
        height: $searchContentHeight;
        align-items: $searchContentAlignItems;
        position: $searchContentPosition;
      }

      &__input {
        border: $searchInputBorder;
        box-shadow: $searchInputBoxShadow;
        height: $searchInputHeight;
        background: $searchInputBackground;
        outline-width: $searchInputOutlineWidth;
        width: $searchInputWidth;
      }

      &__icon {
        width: $searchIconWidth;
        height: $searchIconHeight;
        position: $searchIconPosition;
        right: $searchIconRight;
        top: 0;
      }
    }
}
