.c-chart {
    @if $isWTC == true {
      &__legend-item {
        font-family: quote($fontFace), Arial, sans-serif;
        font-weight: $typeFontWeightLight;
        font-size: $chartLegendItemFontSize;
        color: $chartLegendItemColor;
        margin: $chartLegendItemMargin;
        list-style: none;
        float: none;
        &--two-col{
          width: $chartLegendItemTwoColWidth;
          float: left;
        }
      }

      &__legend-dot{
        height: $chartLegendDotHeight;
        width: $chartLegendDotWidth;
        border-radius: $chartLegendDotBorderRadius;
        display: inline-block;
        margin-right: $chartLegendDotMarginRight;
      }
    }
}

