$passwordBottom: systemTheme(password, passwordBottom);
$passwordRight: systemTheme(password, passwordRight);
$passwordWidth: systemTheme(password, passwordWidth);
$passwordHeight: systemTheme(password, passwordHeight);
