$wt-card-tokens: (
    cardItemBorderRadius: 5px,
    cardItemCursor: pointer,
    cardItemTitlePaddingBottom: $spacingSmall,
    cardContentNameBorderRightWidth: 1px,
    cardContentNameBorderRightType: solid,
    cardContentNameBorderRightColor: #e0e9ed,
    cardItemItemPadding: $spacingSmall,
    cardMediaPaddingHeight: $spacingMedium,
    cardMediaPaddingWidth: $spacingSmall,
    cardMediaMenuTop: 8px,
    cardMediaMenuRight: 8px
  );