$cardItemBorderRadius:systemTheme(card,cardItemBorderRadius );
$cardItemCursor:systemTheme(card,carditemCursor );
$cardItemTitlePaddingBottom:systemTheme(card,cardItemTitlePaddingBottom );
$cardContentNameBorderRightType:systemTheme(card,cardContentNameBorderRightType );
$cardContentNameBorderRightWidth:systemTheme(card,cardContentNameBorderRightWidth );
$cardContentNameBorderRightColor:systemTheme(card,cardContentNameBorderRightColor );
$cardItemItemPadding:systemTheme(card,cardItemItemPadding );
$cardMediaPaddingHeight:systemTheme(card,cardMediaPaddingHeight );
$cardMediaPaddingWidth:systemTheme(card,cardMediaPaddingWidth );
$cardMediaMenuTop:systemTheme(card,cardMediaMenuTop );
$cardMediaMenuRight:systemTheme(card,cardMediaMenuRight );

// Lives in M&T
$cardShadowKey: systemTheme(cards, cardShadowKey);
$cardShadowAmbient: systemTheme(cards, cardShadowAmbient);
$cardBorder: systemTheme(cards, cardBorder);
$cardMargin: systemTheme(cards, cardMargin);
$cardFont: systemTheme(cards, cardFont);
$cardBorderTop: systemTheme(cards, cardBorderTop);
$cardHoverColor: systemTheme(cards, cardHoverColor);
$cardHoverDarkenValue: systemTheme(cards, cardHoverDarkenValue);
$cardBodyPadding: systemTheme(cards, cardBodyPadding);
$cardBodyPaddingSmall: systemTheme(cards, cardBodyPaddingSmall);
$cardBodyPaddingHero: systemTheme(cards, cardBodyPaddingHero);
$cardImageBorderRadius: systemTheme(cards, cardImageBorderRadius);
$cardImageBorderRadiusHero: systemTheme(cards, cardImageBorderRadiusHero);
$cardEyebrowColor: systemTheme(cards, cardEyebrowColor);
$cardEyebrowFontSize: systemTheme(cards, cardEyebrowFontSize);
$cardEyebrowTextTransform: systemTheme(cards, cardEyebrowTextTransform);
$cardTitleColor: systemTheme(cards, cardTitleColor);
$cardTitleFontWeight: systemTheme(cards, cardTitleFontWeight);
$cardTitleFontSize: systemTheme(cards, cardTitleFontSize);
$cardTitleMargin: systemTheme(cards, cardTitleMargin);
$cardTitleMarginSmall: systemTheme(cards, cardTitleMarginSmall);
$cardTitleMarginHero: systemTheme(cards, cardTitleMarginHero);
$cardTextColor: systemTheme(cards, cardTextColor);
$cardTextFontSize: systemTheme(cards, cardTextFontSize);
$cardTextFontWeight: systemTheme(cards, cardTextFontWeight);
$cardTextMarginBottom: systemTheme(cards, cardTextMarginBottom);
$cardTextLineHeight: systemTheme(cards, cardTextLineHeight);
$cardTextColorSmall: systemTheme(cards, cardTextColorSmall);
$cardTextFontSizeSmall: systemTheme(cards, cardTextFontSizeSmall);
$cardTextFontWeightSmall: systemTheme(cards, cardTextFontWeightSmall);
$cardTextMarginBottomSmall: systemTheme(cards, cardTextMarginBottomSmall);
$cardTextLineHeightSmall: systemTheme(cards, cardTextLineHeightSmall);
$cardButtonDefaultMarginTop: systemTheme(cards, cardButtonDefaultMarginTop);
$cardButtonDefaultMarginLeftHero: systemTheme(cards, cardButtonDefaultMarginLeftHero);
$cardLinkMarginTop: systemTheme(cards, cardLinkMarginTop);
$cardLinkColor: systemTheme(cards, cardLinkColor);
$cardButtonDefaultMarginLeftHeroMobile: systemTheme(cards, cardButtonDefaultMarginLeftHeroMobile);
$cardHeroMobileMaxWidth: systemTheme(cards, cardHeroMobileMaxWidth);