.c-grid-filter {
    @if $isWTC == true {
      .ag-theme-balham {
        .ag-header-icon {
          opacity: 1 !important;
        }

        .ag-sort-ascending-icon,
        .ag-sort-descending-icon {
          width: $gridFilterAscendingWidth;
          height: $gridFilterAscendingHeight;
          position: relative;
          top: $gridFilterAscendingTop;
          left: $gridFilterAscendingLeft;
        }

        .ag-icon-filter,
        .ag-filter-icon {
          display: none;
        }

        .ag-cell-label-container {
          display: block;

          .ag-header-icon,
          .ag-header-cell-label {
            display: inline-block;
            height: $gridFilterCellHeight;
            vertical-align: top;
          }

          .ag-header-icon.ag-header-cell-menu-button {
            position: relative;
            top: $gridFilterMenuButtonTop;
            background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggc3Ryb2tlPSIjNDI1OTY4IiBkPSJNNS45MDIgNi41bDQuNTk4IDcuMzU3djUuMzM0bDMtMS41di0zLjgzNEwxOC4wOTggNi41SDUuOTAyeiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM0MjU5NjgiIGQ9Ik0xMCAxM2gydjFoLTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=")
              no-repeat;
            height: $gridFilterMenuButtonHeight;
            width: $gridFilterMenuButtonWidth;

            svg {
              display: none;
            }
          }
        }

        .ag-header-cell-filtered
          .ag-cell-label-container
          .ag-header-icon.ag-header-cell-menu-button {
          background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggc3Ryb2tlPSIjQzUzRTBEIiBkPSJNNS45MDIgNi41bDQuNTk4IDcuMzU3djUuMzM0bDMtMS41di0zLjgzNEwxOC4wOTggNi41SDUuOTAyeiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNDNTNFMEQiIGQ9Ik0xMCAxM2gydjFoLTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=")
            no-repeat;
        }
        .ag-menu {
          padding: $gridFilterMenuPadding;
          border: $gridFilterMenuBorderWidth $gridFilterMenuBorderType
            $gridFilterMenuBorderColor;
          box-shadow: 0 $gridFilterMenuShadowRight $gridFilterMenuShadowBottom 0
            $gridFilterMenuShadowColor;
          border-radius: $gridFilterMenuBorderRadius;
          margin-top: $gridFilterMenuMarginTop;

          // these styles apply all over the datepicker
          & * {
            font-family: $fontFace;
            line-height: normal;
          }

          .ag-tab-header {
            display: none;
          }

          .ag-header-icon {
            opacity: 1 !important;
          }

          .ag-filter {
            .ag-filter-apply-panel {
              border-top: $gridFilterPanelBorderTopWidth
                $gridFilterPanelBorderTopType $gridFilterPanelBorderTopColor;
              margin-top: $gridFilterPanelMarginTop;
            }

            .mat-form-field-wrapper {
              padding-bottom: $gridFilterWrapperPaddingBottom;
            }

            .mat-datepicker-toggle {
              button.mat-icon-button.mat-button-base {
                height: $gridFilterButtomBaseHeight;
                widows: $gridFilterButtomBaseWindows;
              }

              .mat-button-wrapper {
                background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM3QzhBOTgiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE4IDRhMiAyIDAgMCAxIDIgMnYxNEg0VjZhMiAyIDAgMCAxIDItMmgxMnpNNyAxN0g1djJoMnYtMnptMyAwSDh2Mmgydi0yem02IDBoLTJ2Mmgydi0yem0zIDBoLTJ2Mmgydi0yem0tNiAwaC0ydjJoMnYtMnptLTMtM0g4djJoMnYtMnptNiAwaC0ydjJoMnYtMnptMyAwaC0ydjJoMnYtMnpNNyAxNEg1djJoMnYtMnptNiAwaC0ydjJoMnYtMnptLTMtM0g4djJoMnYtMnptNiAwaC0ydjJoMnYtMnptMyAwaC0ydjJoMnYtMnpNNyAxMUg1djJoMnYtMnptNiAwaC0ydjJoMnYtMnptNS02SDZhMSAxIDAgMCAwLTEgMXY0aDE0VjZhMSAxIDAgMCAwLTEtMXoiLz4KPC9zdmc+Cg==")
                  no-repeat;
                width: $gridFilterWrapperWidth;
                height: $gridFilterWrapperHeight;
                display: block;
                position: absolute;
                top: $gridFilterWrapperTop;
                left: $gridFilterWrapperLeft;

                svg {
                  display: none;
                }
              }

              &.mat-datepicker-toggle-active {
                .mat-button-wrapper {
                  background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiNDNTNFMEQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE4IDRhMiAyIDAgMCAxIDIgMnYxNEg0VjZhMiAyIDAgMCAxIDItMmgxMnpNNyAxN0g1djJoMnYtMnptMyAwSDh2Mmgydi0yem02IDBoLTJ2Mmgydi0yem0zIDBoLTJ2Mmgydi0yem0tNiAwaC0ydjJoMnYtMnptLTMtM0g4djJoMnYtMnptNiAwaC0ydjJoMnYtMnptMyAwaC0ydjJoMnYtMnpNNyAxNEg1djJoMnYtMnptNiAwaC0ydjJoMnYtMnptLTMtM0g4djJoMnYtMnptNiAwaC0ydjJoMnYtMnptMyAwaC0ydjJoMnYtMnpNNyAxMUg1djJoMnYtMnptNiAwaC0ydjJoMnYtMnptNS02SDZhMSAxIDAgMCAwLTEgMXY0aDE0VjZhMSAxIDAgMCAwLTEtMXoiLz4KPC9zdmc+Cg==")
                    no-repeat;
                }
              }
            }

            .ag-filter-apply-panel {
              text-align: center;
              display: block;
              padding-top: $spacingMedium;

              button {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: $gridFilterButtonBg;
                color: $gridFilterButtonColor;
                border: $gridFilterButtonBorderWidth gridFilterButtonBorderType
                  $gridFilterButtonBorderColor;
                border-radius: $gridFilterButtonBorderRadius;
                padding: $gridFilterButtonPaddingHeight
                  $gridFilterButtonPaddingWidth;
                cursor: pointer;
                font-size: $gridFilterButtonFontSize;

                &:hover {
                  background: $gridFilterButtonHoverBg;
                }
              }
            }
          }

          .ag-filter .ag-filter-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: $gridFilterSelectPaddingHeight $gridFilterSelectPaddingWidth;
            font-size: $gridFilterSelectFontSize;
            border-radius: $gridFilterSelectBorderRadius;
            color: $gridFilterSelectColor;
            border: $gridFilterButtonBorderWidth $gridFilterButtonBorderType
              $gridFilterButtonBorderColor;
            margin: 0;
            background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0MjU5NjgiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE4IDkuNjQ1bC02IDYtNi02TDYuNjQ1IDkgMTIgMTQuMzU1IDE3LjM1NSA5eiIvPgo8L3N2Zz4K")
              no-repeat;
            background-position: $gridFilterSelectBgPositionHeight
              $gridFilterSelectBgPositionWidth;

            &::ms-expand {
              display: none;
            }
          }

          .mat-form-field-underline {
            display: none !important;
          }

          .mat-form-field-infix {
            width: $gridFilterInfixWidth;
            padding-top: $gridFilterInfixPaddingTop;
            border-top: $gridFilterInfixBorderTop;

            input {
              padding: $gridFilterInfixInputPaddingHeight
                $gridFilterInfixInputPaddingWidth;
              font-size: $gridFilterInfixInputFontSize;
              border-radius: $gridFilterInfixInputBorderRadius;
              color: $gridFilterInfixInputColor;
              border: $gridFilterButtonBorderWidth $gridFilterButtonBorderType
                $gridFilterButtonBorderColor;

              &::placeholder {
                color: $gridFilterInfixInputPlaceholderColor;
                padding: $gridFilterInfixInputPlaceholderPaddingHeight
                  $gridFilterInfixInputPlaceholderPaddingWidth;
                font-size: $gridFilterInfixInputPlaceholderFontSize;
              }
            }

            .mat-form-field-label-wrapper {
              display: block;
              position: absolute;
              top: $gridFilterFormFieldLabelWrapperTop;
              left: $gridFilterFormFieldLabelWrapperLeft;
              padding: $gridFilterFormFieldLabelWrapperPadding;
              width: $gridFilterFormFieldLabelWrapperWidth;
              height: $gridFilterFormFieldLabelWrapperHeight;

              label.mat-form-field-label {
                display: none;
                position: absolute;
                left: $gridFilterFormFieldLabelWrapperMatLeft;
                font-size: $gridFilterFormFieldLabelWrapperMatFontSize;
                color: $gridFilterFormFieldLabelWrapperMatColor;

                &.mat-form-field-empty {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
}
