.c-banner {
    @if $isWTC == true {
      position: relative;

      &__scrollable-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: $bannerScrollableContainerOverflow;
        min-width: $bannerScrollableContainerMinWidth;
        box-sizing: border-box;
      }

      #activityChartTooltip.showCaret::before {
        border-style: $bannerTooltipBorderStyle;
        border-color: $bannerTooltipBorderColor transparent;
        border-width: $bannerTooltipBorderTop $bannerTooltipBorderWidth 0 $bannerTooltipBorderWidth;
        content: "";
        width: 0;
        display: block;
        left: $bannerTooltipLeft;
        top: $bannerTooltipTop;
        position: absolute;
        z-index: $bannerTooltipZIndex;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }

      &__expand-icon {
        object-fit: contain;
        width: $bannerExpandIconWidth;
        height: $bannerExpandIconHeight;
      }

      &__card {
        flex: 0 0 auto;
        box-sizing: border-box;
      }

      &__card-title {
        isolation: unset;
      }

      &__client-card {
        padding-right: $bannerClientCardPaddingRight;
      }

      &__client-cards-border {
        list-style: $bannerClientCardBorderListStyle;
        background-image: linear-gradient(to right, $bannerClientCardBorderBgImageColorStart 60%, $bannerClientCardBorderBgImageColorEnd 20%);
        background-position: bottom;
        background-size: $bannerClientCardBorderBgSizeHeight $bannerClientCardBorderBgSizeWidth;
        background-repeat: repeat-x;
        border: none;
        position: relative;
      }

      &__h1 {
        display: inline-block;
      }

      &__chart-display {
        position: relative;
      }

      &__item {
        padding: $bannerItemPadding;
        width: $bannerItemPadding;
      }

      &__amount {
        font-weight: $typeFontWeightSemibold;
      }

      &__estimated-annual-income {
        padding-top: $spacingLarge;
      }

      &__total-value {
        padding-bottom: $bannerTotalValuePaddingBottom;
      }

      &__aligned {
        text-align: center
      }

      &__list-direction {
        display: flex;
        flex-direction: column-reverse;
      }

      &__chart-content {
        position: relative;
        max-width: $bannerChartContentMaxWidth;
        width: $bannerChartContentWidth;
      }

      &__toggle-icons {
        position: absolute;
        top: $bannerToggleIconsTop;
        right: $bannerToggleIconsRight;


        &-button {
          background: none;
          border: none;
          cursor: $bannerButtonCursor;

          &--selected {
            color: $bannerButtonSelected;
          }
        }
      }

      &__toggle-icons span {
        padding: $bannerToggleIconsPadding;
      }

      &__toggle-icons-border {
        height: $bannerToggleIconsBorderHeight;
        width: $bannerToggleIconsBorderWidth;
        background-color: $bannerToggleIconsBorderBgColor;
        display: inline-block;
        position: relative;
        top: $bannerToggleIconsBorderTop;
      }

      // &__disclaimer {
      //   text-align: center;
      // }

      &__chart-legend {
        list-style: none;
      }

      // &__chart-legend li {
      //   font-family: quote($fontFace), Arial, sans-serif;
      //   font-weight: $typeFontWeightLight;
      //   font-size: $typeScaleXXSmall;
      //   se: $colorPrimaryBase;
      //   margin: 2px;
      //   list-style: none;
      //   float: none;
      // }

      &__chart-legend-item {
        height: $bannerChartLegendItemHeight;
        width: $bannerChartLegendItemWidth;
        border-radius: $bannerChartLegendItemBorderRadius;
        display: inline-block;
        margin-right: $bannerChartLegendItemMarginRight;
      }
    }

    // desktop view
    @media only screen and (min-width: $desktopBreakpoint) {
        @if $isWTC == true {
          .c-banner {
            &__chart-container {
              min-width: $bannerMediaMinWidth;
            }

            &__chart-display {
              flex-wrap: nowrap !important;
            }

            &__disclaimer {
              padding-right: $bannerMediaPaddingRight;
            }

            &__item {
              width: $bannerMediaWidth;
            }

            &__amount {
              min-width: $bannerMediaMinWidthAmount;
            }

            &__aligned {
              text-align: $bannerMediaTextAlign;
            }

            &__list-direction {
              display: block;
              flex-direction: column;
            }

            &__estimated-annual-income {
              padding-top: $bannerMediaPaddingTop;
            }

            &__total_value {
              padding-bottom: $bannerMediaPaddingBottom;
            }

            &__chart-legend {
              padding-top: $bannerMediaPaddingTop;
            }

            &__chart-legend li {
              display: inline-block;
              width: $bannerMediaChartLegendWidth;
              vertical-align: $bannerMediaChartLegendVerticalAlign;
              min-width: $bannerMediaChartLegendMinWidth;
            }

            &__chart-legend br {
              clear: left;
            }

            &__chart-content {
              position: static
            }
          }
        }
    }
}