$wt-scrollable-container-tokens: (
    scrollableContainerPosition: relative,
    scrollableContainerAfterBottom: 0,
    scrollableContainerAfterWidth: 100%,
    scrollableContainerAfterHeight: 100px,
    scrollableContainerAfterBackgroundColor: #ffffff00,
    scrollableContainerScrollerHeight: 55vh,
    scrollableContainerScrollerOverflowy: scroll,
    scrollableContainerScrollerPaddingBottom: 75px,
    scrollableContainerOuterContainerShadowColor: #00000012,
    scrollableContainerOuterContainerShadowRight: 2px,
    scrollableContainerOuterContainerShadowBottom: 16px,
    scrollableContainerWebkitScrollbarWidth: 10px,
    scrollableContainerWebkitScrollbarThumbBg: #e0e9ed,
    scrollableContainerWebkitScrollbarThumbRadius: 5px
  );