$spacingXXXSmall: 2px;
$spacingXXSmall: 4px;
$spacingXSmall: 8px;
$spacingSmall: 12px;
$spacingMedium: 16px;
$spacingLarge: 24px;
$spacingXLarge: 32px;
$spacingXXLarge: 48px;
$spacingXXXLarge: 64px;