p {
  @include proto-type();
  font-size: $typeScaleMedium;
  color: $colorGrayDarker;
  line-height: 16px;
}

@if $isWTC == true {
  p {
    @include proto-type();
    font-size: $typeScaleSmall;
    color: $colorGrayDarker;
    line-height: 16px;
    font-weight: $typeFontWeightRegular;
  }
}