$wt-nav-tokens: (
    nav-sm: 576px,
    nav-md: 768px,
    nav-lg: 992px,
    nav-xl: 1200px,
    navGrayBorder: $colorPrimaryLight,
    navMenuItemBackgroundColor: $colorGrayLightest,
    navUnderlineColor: #c5d1d9,
    navHorzontalSeparator: $colorPrimaryBase,
    navBackgroundColor: $colorPrimaryBase,
    navColor: $colorGrayscaleWhite,
    navLogoTitlePaddingWidth: 1rem,
    navLogoFill: $colorGrayscaleWhite,
    navLogoWidth: 120px,
    navLogoHeight: 25px,
    navMenuMargin: 0,
    navMenuPadding: 0,
    navMenuBorder: 0,
    navMenuBarItemColor: $colorGrayscaleWhite,
    navMenuBarItemPadding: 1rem,
    navMenuBarItemBackgroundColor: $colorPrimaryBase,
    navMenuBarItemHoverBgColor: $colorGrayscaleWhite,
    navMenuBarItemHoverColor: $colorPrimaryBase,
    navMenuBarItemFontWeight: bold,
    navMenuBarItem: $colorGrayscaleWhite,
    navMenuBarItemActive: $colorSecondaryBase,
    navMenuBarItemTextPaddingHeight: 10px,
    navToggleBgColor: $colorGrayscaleWhite,
    navToggleHoverBgColor: $colorPrimaryBase,
    navToggleActiveBgColor: $colorSecondaryBase,
    navToggleExpandedBgImg: $colorPrimaryBase,
    navToggleExpandedBgColor: $colorGrayscaleWhite,
    navToggleExpandedActiveBgImg: $colorSecondaryBase,
    navRightBgImg: $colorGrayscaleWhite,
    navRightMediaBg: 0.25rem,
    navRightMediaPaddingHeight: 1rem,
    navRightMediaPaddingWidth: 2rem,
    navRightHoverBg: $colorPrimaryBase,
    navRightActiveBg: $colorSecondaryBase,
    navDropDownBg: $colorGrayscaleWhite,
    navDropDownHoverBg: $colorPrimaryBase,
    navDropDownActiveBg: $colorSecondaryBase,
    navDropDownMediaBg: $colorGrayscaleWhite,
    navDropDownMediaBgPosition: 0.25rem,
    navDropDownMediaHoverBg: $colorPrimaryBase,
    navDropDownMediaActiveBg: $colorSecondaryBase,
    navCommunicationBg: $colorGrayscaleWhite,
    navCommunicationHoverBg: $colorGrayscaleWhite,
    navCommunicationImgIconBg: $colorPrimaryBase,
    navCommunicationActiveBg: $colorGrayscaleWhite,
    navCommunicationActiveIconBg: $colorSecondaryBase,
    navMenuBgColor: $colorPrimaryBase,
    navMenuTranstionLeftTime: 1s,
    navMenuTranstionRightTime: 1s,
    navMenuItemColor: $colorGrayscaleWhite,
    navMenuItemPaddingHeight: 1rem,
    navMenuItemPaddingWidth: 4rem,
    navMenuItemBgColor: $colorPrimaryBase,
    navMenuItemMediaPadding: 1rem,
    navMenuItemMediaAriPaddingBottom: 14px,
    navMenuItemMediaAriBgColor: $colorGrayscaleWhite,
    navMenuItemMediaAriColor: $colorSecondaryBase,
    navMenuAfterBorderWidth: 4px,
    navMenuAfterBorderType: solid,
    navMenuAfterLeft: 1.75rem,
    navMenuItemTextBgColor: $colorGrayscaleWhite,
    navMenuItemTextColor: $colorSecondaryBase,
    navMenuItemTextBorderBottomWidth: 2px,
    navMenuItemTextBorderBottomType: solid,
    navMenuItemTextHoverColor: $colorGrayscaleWhite,
    navMenuItemTextHoverMediaPaddingBot: 1rem,
    navMenuItemTextHoverMediaPaddingBotSub: $spacingXXXSmall,
    navMenuItemTextHoverPageBgColor: $colorGrayscaleWhite,
    navMenuItemTextHoverSmColor: $colorPrimaryBase,
    navMenuItemTextHoverSmBorderBottomWidth: 2px,
    navMenuItemTextHoverSmBorderBottomType: solid,
    navTextBorderWidth: 2px,
    navTextBorderType: solid,
    navTextPadding: 10px,
    navTextBorderTextWidth: 1px,
    navSignOutBorderTopWidth: 1px,
    navSignOutBorderTopType: dashed
  );