$nav-sm:systemTheme(nav,nav-sm);
$nav-md:systemTheme(nav,nav-md);
$nav-lg:systemTheme(nav,nav-lg);
$nav-xl:systemTheme(nav,nav-xl);
$navGrayBorder:systemTheme(nav,navGrayBorder);
$navMenuItemBackgroundColor :systemTheme(nav,navMenuItemBackgroundColor );
$navUnderlineColor:systemTheme(nav,navUnderlineColor);
$navHorzontalSeparator:systemTheme(nav,navHorzontalSeparator);
$navBackgroundColor:systemTheme(nav,navBackgroundColor);
$navColor:systemTheme(nav,navColor);
$navLogoTitlePaddingWidth:systemTheme(nav,navLogoTitlePaddingWidth);
$navLogoFill:systemTheme(nav,navLogoFill);
$navLogoWidth:systemTheme(nav,navLogoWidth);
$navLogoHeight:systemTheme(nav,navLogoHeight);
$navMenuMargin:systemTheme(nav,navMenuMargin);
$navMenuPadding:systemTheme(nav,navMenuPadding);
$navMenuBorder:systemTheme(nav,navMenuBorder);
$navMenuBarItemColor:systemTheme(nav,navMenuBarItemColor);
$navMenuBarItemPadding:systemTheme(nav,navMenuBarItemPadding);
$navMenuBarItemBackgroundColor:systemTheme(nav,navMenuBarItemBackgroundColor);
$navMenuBarItemHoverBgColor:systemTheme(nav,navMenuBarItemHoverBgColor);
$navMenuBarItemHoverColor:systemTheme(nav,navMenuBarItemHoverColor);
$navMenuBarItemFontWeight:systemTheme(nav,navMenuBarItemFontWeight);
$navMenuBarItem:systemTheme(nav,navMenuBarItem);
$navMenuBarItemActive:systemTheme(nav,navMenuBarItemActive);
$navMenuBarItemTextPaddingHeight:systemTheme(nav,navMenuBarItemTextPaddingHeight);
$navToggleBgColor:systemTheme(nav,navToggleBgColor);
$navToggleHoverBgColor:systemTheme(nav,navToggleHoverBgColor);
$navToggleActiveBgColor:systemTheme(nav,navToggleActiveBgColor);
$navToggleExpandedBgImg:systemTheme(nav,navToggleExpandedBgImg);
$navToggleExpandedBgColor:systemTheme(nav,navToggleExpandedBgColor);
$navToggleExpandedActiveBgImg:systemTheme(nav,navToggleExpandedActiveBgImg);
$navRightBgImg:systemTheme(nav,navRightBgImg);
$navRightMediaBg:systemTheme(nav,navRightMediaBg);
$navRightMediaPaddingHeight:systemTheme(nav,navRightMediaPaddingHeight);
$navRightMediaPaddingWidth:systemTheme(nav,navRightMediaPaddingWidth);
$navRightHoverBg:systemTheme(nav,navRightHoverBg);
$navRightActiveBg:systemTheme(nav,navRightActiveBg);
$navDropDownBg:systemTheme(nav,navDropDownBg);
$navDropDownHoverBg:systemTheme(nav,navDropDownHoverBg);
$navDropDownActiveBg:systemTheme(nav,navDropDownActiveBg);
$navDropDownMediaBg:systemTheme(nav,navDropDownMediaBg);
$navDropDownMediaBgPosition:systemTheme(nav,navDropDownMediaBgPosition);
$navDropDownMediaHoverBg:systemTheme(nav,navDropDownMediaHoverBg);
$navDropDownMediaActiveBg:systemTheme(nav,navDropDownMediaActiveBg);
$navCommunicationBg:systemTheme(nav,navCommunicationBg);
$navCommunicationHoverBg:systemTheme(nav,navCommunicationHoverBg);
$navCommunicationImgIconBg:systemTheme(nav,navCommunicationImgIconBg);
$navCommunicationActiveBg:systemTheme(nav,navCommunicationActiveBg);
$navCommunicationActiveIconBg:systemTheme(nav,navCommunicationActiveIconBg);
$navMenuBgColor:systemTheme(nav,navMenuBgColor);
$navMenuTranstionLeftTime:systemTheme(nav,navMenuTranstionLeftTime);
$navMenuTranstionRightTime:systemTheme(nav,navMenuTranstionRightTime);
$navMenuItemColor:systemTheme(nav,navMenuItemColor);
$navMenuItemPaddingHeight:systemTheme(nav,navMenuItemPaddingHeight);
$navMenuItemPaddingWidth:systemTheme(nav,navMenuItemPaddingWidth);
$navMenuItemBgColor:systemTheme(nav,navMenuItemBgColor);
$navMenuItemMediaPadding:systemTheme(nav,navMenuItemMediaPadding);
$navMenuItemMediaAriPaddingBottom:systemTheme(nav,navMenuItemMediaAriPaddingBottom);
$navMenuItemMediaAriBgColor:systemTheme(nav,navMenuItemMediaAriBgColor);
$navMenuItemMediaAriColor:systemTheme(nav,navMenuItemMediaAriColor);
$navMenuAfterBorderWidth:systemTheme(nav,navMenuAfterBorderWidth);
$navMenuAfterBorderType:systemTheme(nav,navMenuAfterBorderType);
$navMenuAfterLeft:systemTheme(nav,navMenuAfterLeft);
$navMenuItemTextBgColor:systemTheme(nav,navMenuItemTextBgColor);
$navMenuItemTextColor:systemTheme(nav,navMenuItemTextColor);
$navMenuItemTextBorderBottomWidth:systemTheme(nav,navMenuItemTextBorderBottomWidth);
$navMenuItemTextBorderBottomType:systemTheme(nav,navMenuItemTextBorderBottomType);
$navMenuItemTextHoverColor:systemTheme(nav,navMenuItemTextHoverColor);
$navMenuItemTextHoverMediaPaddingBot:systemTheme(nav,navMenuItemTextHoverMediaPaddingBot);
$navMenuItemTextHoverMediaPaddingBotSub:systemTheme(nav,navMenuItemTextHoverMediaPaddingBotSub);
$navMenuItemTextHoverPageBgColor:systemTheme(nav,navMenuItemTextHoverPageBgColor);
$navMenuItemTextHoverSmColor:systemTheme(nav,navMenuItemTextHoverSmColor);
$navMenuItemTextHoverSmBorderBottomWidth:systemTheme(nav,navMenuItemTextHoverSmBorderBottomWidth);
$navMenuItemTextHoverSmBorderBottomType:systemTheme(nav,navMenuItemTextHoverSmBorderBottomType);
$navTextBorderWidth:systemTheme(nav,navTextBorderWidth);
$navTextPadding:systemTheme(nav,navTextPadding);
$navTextBorderTextWidth:systemTheme(nav,navTextBorderTextWidth);
$navTextBorderType:systemTheme(nav,navTextBorderType);
$navSignOutBorderTopWidth:systemTheme(nav,navSignOutBorderTopWidth);
$navSignOutBorderTopType:systemTheme(nav,navSignOutBorderTopType);