.p-menu {
  
  @include proto-menu();
  @if $isMTB == true {
    background: $menuBackgroundColor;
    background: linear-gradient(
      90deg,
      $menuBackgroundGradient0 0%,
      $menuBackgroundGradient50 50%,
      $menuBackgroundGradient100 100%
    );
  }

  &__img {
    height: 30px;
  }

  &__link {
    font-family: quote($typeFontFamily), Helvetica, Arial, sans-serif;
    font-weight: $menuFontWeight;
    padding: $menuLinkPadding;
    display: $menuListDisplay;
    list-style: none;
    float: left;

    &--active-text {
      display: inline-block;
      text-decoration: none;
      color: $menuTextColor;
      height: 18px;
    }

    &--active {

      @if $isMTB == true {
        @include proto-menuLink();
        border: solid $menuBorderBottomColor;
        padding: $menuLinkPadding $menuLinkPadding $menuActiveLinkPaddingBottom;
        border-width: 0 0 $menuBorderWidth 0;
        display: $menuListDisplay;
        float: left;

        &:hover {
          text-decoration: none;
          color: $menuTextColor;
          background-color: darken($menuBackgroundColor, $buttonDarkenValue);
          display: $menuListDisplay;
        }
      }

      @if $isWTC == true {
        @include proto-menuLink();
        background-color: white;
        padding: $menuActiveLinkPadding
          $menuActiveLinkPadding
          $menuActiveLinkPaddingBottom;
        display: $menuListDisplay;
        float: left;

        &__text {
          color: $menuActiveColor !important;
          border: solid $menuBorderBottomColor;
          padding: $menuActiveLinkPadding
            $menuActiveLinkPadding
            $menuActiveLinkPaddingBottom;
          border-width: 0 0 $menuBorderWidth 0;
        }
      }
    }

    &--disabled {
      display: none;
    }

    &:hover {
      text-decoration: none;
      color: $menuTextColor;
      background-color: darken($menuBackgroundColor, $buttonDarkenValue);
    }
  }

  &__text {
    display: inline-block;
    text-decoration: none;
    color: $menuTextColor;
    height: 18px;
  }

  &__logo {
    height: $menuLogoHeight;
    padding: $menuLogoPaddingHeight $menuLogoPaddingWidth;
  }

  &__list {
    display: inline-block;
    float: left;
  }

  & .p-menu__list .p-menu__icon {
    display: inline-block;
    text-decoration: none;
    color: $menuTextColor;
  }

  & .p-menu__list .p-menu__logo {
    display: inline-block;
    text-decoration: none;
    color: $menuTextColor;
  }

  &__icon {
    color: $menuTextColor;
    padding: $menuIconPadding;

    &--text {
      display: block;
      position: relative;
      color: $menuTextColor;
      text-decoration: none;
      padding: $menuTextIconTextPaddingHeight $menuTextIconTextPaddingWidth;
      
      &:hover {
        background-color: darken($menuBackgroundColor, $buttonDarkenValue);
      }
    }

    &--side {
      margin: auto;
      display: flex;
      position: relative;
      color: $menuTextColor;
      text-decoration: none;
      padding: $menuIconTextSideHeight $menuIconTextSideWidth;
    }

    &:hover {
      background-color: darken($menuBackgroundColor, $buttonDarkenValue);
    }
  }

  &__icon-text {
    display: block;
    list-style: none;
    font-family: quote($typeFontFamily), Helvetica, Arial, sans-serif;
    font-weight: $menuFontWeight;
    margin-top: $menuIconTextMarginSpacing;
   
    &--side {
      display: block;
      list-style: none;
      font-family: quote($typeFontFamily), Helvetica, Arial, sans-serif;
      font-weight: $menuFontWeight;
      margin: auto 0 auto $menuIconTextMarginSpacing;
    }
  }

  &__block {
    
    &--right {
      margin: 0 0 0 auto;
      height: $menuPatternHeight;
      padding: $menuUnorderedListPadding;
      overflow: hidden;
    }

    &--left {
      margin: 0 auto 0 0;
      height: $menuPatternHeight;
      padding: $menuUnorderedListPadding;
      overflow: hidden;
    }

    &--logo {
      margin: 0;
      height: $menuPatternHeight;
      padding: $menuUnorderedListPadding;
      overflow: hidden;
    }

    &--center {
      margin: 0 $menuBlockLogoCenterHeight 0 0;
      height: $menuPatternHeight;
      padding: $menuUnorderedListPadding;
      position: inherit;
      right: 50%;
      overflow: hidden;
    }
  }
}
