$menuBackgroundColor: $colorPrimaryBase;
$menuPadding: 10px;
$menuPatternHeight: 74px;
$menuLinkMargin: 0;
$menuTextColor: $colorWhite;
$menuFontWeight: $typeFontWeight;
$menuFontSize: $typeScaleMedium;
$menuUnorderedListPadding: 0;
$menuLinkPadding: 28px;
$menuBorderBottomColor: none;
$menuBorderWidth: 3px;
$menuActiveLinkPadding: 15px;
$menuActiveLinkPaddingBottom: 25px;
$menuActiveColor: #ffb300;
$menuLogoPaddingWidth: 28px;
$menuLogoPaddingHeight: 24px;
$menuLogoHeight: 26px;
$menuIconPadding: 23px;
$menuBlockLogoCenterHeight: 97px;
$menuIconTextSideWidth:17px;
$menuIconTextSideHeight:25px;
$menuIconTextMarginSpacing:$spacingXXSmall;
$menuTextIconTextPaddingWidth: $spacingMedium;
$menuTextIconTextPaddingHeight: 13px;
$menuBackgroundGradient0: #007746;
$menuBackgroundGradient50: $colorPrimaryBase;
$menuBackgroundGradient100: #00694b;

@if $isMTB {
    $menuBorderBottomColor: $colorYellowBase;
}

@if $isWTC {
    $menuPadding: $spacingXSmall;
    $menuBorderBottomColor: $colorSecondaryLight;
    $menuActiveLinkPadding: 13px;
    $menuActiveLinkPaddingBottom: 15px;
    $menuActiveColor: $colorSecondaryLight;
    $menuLogoPaddingHeight: 22px;
    $menuLogoHeight: 32px;
}

$menuTextAlign: center;
$menuDisplay: flex;
$menuListStyle: none;
$menuDisabled: none;
$menuListDisplay: inline-block;
$menuLinkDisplay: inline-block;
$menuBorderStyle: solid;
$menuIconTextDisplay: block;
$menuIconPosition: relative;
$menuBlock: auto