// For M&T
$progressBarLabelFontFamily: systemTheme(progress-bar, progressBarLabelFontFamily);
$progressBarProgressColor: systemTheme(progress-bar, progressBarProgressColor);
$progressBarProgressValueBackground: systemTheme(progress-bar, progressBarProgressValueBackground);
$progressBarBackground: systemTheme(progress-bar, progressBarBackground);
$progressBarMsFillBorder: systemTheme(progress-bar, progressBarMsFillBorder);
