$wt-modal-tokens: (
    modalOverlayBackgroundColor: rgba(66, 89, 104, 0.85),
    modalBorderRadius: 5px,
    modalHeaderBorderColor: $colorPrimaryLight,
    modalFontColor: $colorGrayscaleBlack,
    modalCloseBarTitleFontSize: 28px,
    modalHeaderBackgroundColor: $colorGrayLightest,
    modalCloseBarTitleFontColor: $colorPrimaryBase,
    modalTitleFontFamily: $typeFontFamily,
    modalCloseButtonFontColor: $colorPrimaryBase,
    modalContentPadding: $spacingXLarge $spacingXLarge $spacingXSmall $spacingXLarge,
    modalCloseBarPadding: $spacingLarge $spacingMedium $spacingLarge $spacingXLarge,
    modalContentFontWeight: $typeFontWeight,
    //padding-top/bottom is height of button + 16px spacing on both sides all divided by 2. padding-right is button size + spacing medium. Both are used to center the title horizontally and vertically
    modalMobileCloseBarPadding: $spacingLarge $spacingLarge $spacingLarge $spacingXLarge,
    modalWidthXLarge: 790px,
    modalWidthLarge: 670px,
    modalWidthMedium: 690px,
    modalWidth: 70%,
    modalShadowColor: rgba(0,0,0, 0.1),
    modalFooterFontColor: $colorPrimaryBase,
    modalButtonLoadingColor: $colorSecondaryBlueBase,
    modalPrimaryButtonLoadingColor: $colorGrayscaleWhite,
    modalMaxHeight: 90vh,
    modalCloseBarBackgroundColor: $colorGrayLightest,
    modalButtonWidth: 120px,
    modalOverlayMobilePadding: 20px,
    modalScrollBoxShadowSize: 0 5px 5px -2px,
    modalFooterBoxShadowSize: 0 -5px 5px,
    modalFooterPadding: $spacingXLarge,
    modalButtonMargin: 0px $spacingXSmall $spacingMedium $spacingXSmall,
    modalCloseBarBorderRadius: 5px 5px 0 0,
    modalOverlayZIndex: 99999999,
    modalTitleBorder: none,
    modalTitleFontStyle: normal,
    modalTitleFontWeight: $typeFontWeight,
    modalTitleLineHeight: 22px,
    modalTitleMargin: 0,
    modalTitlePadding: 0,
    modalCloseBarButtonBorder: none,
    modalCloseBarButtonPadding: 0,
    modalCloseBarButtonIconFontSize: $typeScaleXLarge,
    modalCloseBarButtonFontSize: $typeScaleXSmall,
    modalCloseBarTitleLetterSpacing: 0px,
    modalCloseBarTitleOverflow: hidden,mi
    modalCloseBarTitleTextOverflow: ellipsis,
    modalCloseBarTitleWidth: 100%,
    modalCloseBarTitleWhiteSpace: nowrap,
    modalContentWidth: 100%,
    modalMobileWidth: 100%,
    modalButtonLoadingFontSize: 0,
    modalHeaderTitleLetterSpacing: 0,
    modalSubTitleColor: $colorGrayscaleBlack,
    modalSubTitleFontSize: $typeScaleLarge,
    modalSubTitleFontWeight: $typeFontWeightRegular,
    modalSubTitleFontFamily: $typeFontFamily,
    modalAlertIconFontSize: 64px,
    modalAlertIconMarginBottom: $spacingLarge,
    modalAlertTitleFontSize: $typeScaleXXLarge,
    modalAlertTitleColor: $colorPrimaryBase,
    modalAlertTitleMarginBottom: $spacingXLarge,
    modalAlertTextFontSize: $typeScaleLarge,
    modalAlertTextColor: $colorGrayscaleBlack,
    modalAlertTextMargin: $spacingXLarge 0,
    modalAlertTextFontWeight: $typeFontWeightRegular,
    modalAlertDividerBorder: 1px solid $colorGrayBorder,
    modalAlertDividerWidth: 90%,
    modalMargin: 100px 0
  );