$modalOverlayBackgroundColor: systemTheme(modal, modalOverlayBackgroundColor);
$modalBorderRadius: systemTheme(modal, modalBorderRadius);
$modalHeaderBorderColor: systemTheme(modal, modalHeaderBorderColor);
$modalFontColor: systemTheme(modal, modalFontColor);
$modalHeaderBackgroundColor: systemTheme(modal, modalHeaderBackgroundColor);
$modalHeaderTitleFontColor: systemTheme(modal, modalHeaderTitleFontColor);
$modalCloseBarTitleFontSize: systemTheme(modal, modalCloseBarTitleFontSize);
$modalCloseBarTitleFontColor: systemTheme(modal, modalCloseBarTitleFontColor);
$modalTitleFontFamily: systemTheme(modal, modalTitleFontFamily);
$modalCloseButtonFontColor: systemTheme(modal, modalCloseButtonFontColor);
$modalContentPadding: systemTheme(modal, modalContentPadding);
$modalCloseBarPadding: systemTheme(modal, modalCloseBarPadding);
$modalWidthXLarge: systemTheme(modal, modalWidthXLarge);
$modalWidthLarge: systemTheme(modal, modalWidthLarge);
$modalWidthMedium: systemTheme(modal, modalWidthMedium);
$modalWidth: systemTheme(modal, modalWidth);
$modalMobileOverlayBackgroundColor: systemTheme(modal, modalMobileOverlayBackgroundColor);
$modalMobileCloseBarPadding: systemTheme(modal, modalMobileCloseBarPadding);
$modalMaxHeight: systemTheme(modal, modalMaxHeight);
$modalMobileHeight: systemTheme(modal, modalMobileHeight);
$modalMobileMaxHeight: systemTheme(modal, modalMobileMaxHeight);
$modalCloseBarBackgroundColor: systemTheme(modal, modalCloseBarBackgroundColor);
$modalButtonWidth: systemTheme(modal, modalButtonWidth);
$modalOverlayMobilePadding: systemTheme(modal, modalOverlayMobilePadding);
$modalScrollBoxShadowSize: systemTheme(modal, modalScrollBoxShadowSize);
$modalFooterBoxShadowSize: systemTheme(modal, modalFooterBoxShadowSize);
$modalShadowColor: systemTheme(modal, modalShadowColor);
$modalFooterPadding: systemTheme(modal, modalFooterPadding);
$modalButtonMargin: systemTheme(modal, modalButtonMargin);
$modalCloseBarBorderRadius: systemTheme(modal, modalCloseBarBorderRadius);
$modalOverlayZIndex: systemTheme(modal, modalOverlayZIndex);
$modalTitleBorder: systemTheme(modal, modalTitleBorder);
$modalTitleFontStyle: systemTheme(modal, modalTitleFontStyle);
$modalTitleFontWeight: systemTheme(modal, modalTitleFontWeight);
$modalTitleLineHeight: systemTheme(modal, modalTitleLineHeight);
$modalTitleMargin: systemTheme(modal, modalTitleMargin);
$modalTitlePadding: systemTheme(modal, modalTitlePadding);
$modalTitleWordBreak: systemTheme(modal, modalTitleWordBreak);
$modalTitleWordWrap: systemTheme(modal, modalTitleWordWrap);
$modalCloseBarButtonBorder: systemTheme(modal, modalCloseBarButtonBorder);
$modalCloseBarButtonPadding: systemTheme(modal, modalCloseBarButtonPadding);
$modalCloseBarButtonIconFontSize: systemTheme(modal, modalCloseBarButtonIconFontSize);
$modalCloseBarButtonFontSize: systemTheme(modal, modalCloseBarButtonFontSize);
$modalCloseBarTitleLetterSpacing: systemTheme(modal, modalCloseBarTitleLetterSpacing);
$modalCloseBarTitleOverflow: systemTheme(modal, modalCloseBarTitleOverflow);
$modalCloseBarTitleTextOverflow: systemTheme(modal, modalCloseBarTitleTextOverflow);
$modalCloseBarTitleWidth: systemTheme(modal, modalCloseBarTitleWidth);
$modalCloseBarTitleWhiteSpace: systemTheme(modal, modalCloseBarTitleWhiteSpace);
$modalContentWidth: systemTheme(modal, modalContentWidth);
$modalMobileWidth: systemTheme(modal, modalMobileWidth);
$modalButtonLoadingFontSize: systemTheme(modal, modalButtonLoadingFontSize);
$modalButtonLoadingColor: systemTheme(modal, modalButtonLoadingColor);
$modalPrimaryButtonLoadingColor: systemTheme(modal, modalPrimaryButtonLoadingColor);
$modalHeaderTitleLetterSpacing: systemTheme(modal, modalHeaderTitleLetterSpacing);
$modalSubTitleColor: systemTheme(modal, modalSubTitleColor);
$modalSubTitleFontSize: systemTheme(modal, modalSubTitleFontSize);
$modalSubTitleFontWeight: systemTheme(modal, modalSubTitleFontWeight);
$modalSubTitleFontFamily: systemTheme(modal, modalSubTitleFontFamily);
$modalMargin: systemTheme(modal, modalMargin);
$modalContentFontWeight: systemTheme(modal, modalContentFontWeight);
//Alert
$modalAlertIconFontSize: systemTheme(modal, modalAlertIconFontSize);
$modalAlertIconMarginBottom: systemTheme(modal, modalAlertIconMarginBottom);
$modalAlertTitleFontSize: systemTheme(modal, modalAlertTitleFontSize);
$modalAlertTitleColor: systemTheme(modal, modalAlertTitleColor);
$modalAlertTitleMarginBottom: systemTheme(modal, modalAlertTitleMarginBottom);
$modalAlertTextFontSize: systemTheme(modal, modalAlertTextFontSize);
$modalAlertTextColor: systemTheme(modal, modalAlertTextColor);
$modalAlertTextMargin: systemTheme(modal, modalAlertTextMargin);
$modalAlertTextFontWeight: systemTheme(modal, modalAlertTextFontWeight);
$modalAlertDividerBorder: systemTheme(modal, modalAlertDividerBorder);
$modalAlertDividerWidth: systemTheme(modal, modalAlertDividerWidth);