$inlineErrorBackgroundColor: #ffd4d1;
$inlineErrorWarningBackgroundColor: transparent;
$inlineErrorFontFamily: $typeFontFamily;
$inlineErrorWarningInputBorderColor: transparent;
$inlineErrorInputBorderColor: #be4940;

$inlineErrorContentPaddingLeft: $spacingXSmall;
$inlineErrorInputColor: $colorGrayDarker;
$inlineErrorFontColor: $colorGrayDarker;

$inlineErrorBorderSize: 1px;
$inlineErrorFontWeight: normal;
$inlineErrorPadding: $spacingSmall;
$inlineErrorFontSize: $typeScaleSmall;
$inlineErrorIconColor: #be4940;
$inlineErrorWarningIconColor: #FFB300;
$inlineErrorIconFontSize: $typeScaleMedium;

$inlineErrorBackgroundColor: #ffd4d1;

@if $isMTB {
    $inlineErrorWarningBackgroundColor: $colorYellowLight;
    $inlineErrorWarningInputBorderColor: $colorYellowBase;
}

@if $isWTC {
    $inlineErrorBackgroundColor: transparent;
    
    $inlineErrorFontColor: $colorSemanticRedBase;
    $inlineErrorInputBorderColor: $colorSemanticRedBase;
    $inlineErrorPadding: 5px 0 0 0;
    $inlineErrorContentPaddingLeft: 0;
    $inlineErrorInputColor: $colorSemanticRedBase;

    $inlineErrorFontSize: $typeScaleSmall;
}