@import 'var-list';

.c-icon-list {
  margin: $listMargin;
  padding: $listPadding;
  @include prefixer(box-sizing, border-box);
  border: 0;
  color: $colorGrayDarker;
  display: block;
  font-family: quote($typeFontFamily), Arial, Helvetica, sans-serif;
  font-size: $typeScaleMedium;
  font-style: normal;
  font-weight: $typeFontWeightLight;
  line-height: 1.5;
  list-style: none;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  width: 100%;

  &__item {
    align-items: $listIconItemAlignItems;
    @include flexbox();
    margin-bottom: $listIconItemMarginBottom;
    text-align: $listTextAlign;
  }

  &__icon {
    background: $listIconBackgroundColor;
    border-radius: $listIconBorderRadius;
    @include prefixer(box-sizing, border-box);
    color: $listIconColor;
    display: $listIconDisplay;
    flex-grow: $listIconFlexGrow;
    flex-shrink: $listIconFlexShrink;
    font-size: $typeScaleLarge;
    height: $listIconHeight;
    line-height: $listIconLineHeight;
    margin-right: $listIconMarginRight;
    padding: $listIconPadding;
    text-align: $listIconTextAlign;
    width: $listIconWidth;
  }

  &__content {
    color: $colorGrayDarker;
    display: inline-block;
    font-family: quote($typeFontFamily), Arial, Helvetica, sans-serif;
    font-size: $typeScaleMedium;
    font-weight: $typeFontWeightLight;


    &--bold {
      color: $colorGrayDarker;
      font-family: quote($typeFontFamily), Arial, Helvetica, sans-serif;
      font-size: $typeScaleMedium;
      font-weight: $typeFontWeightMedium;
    }
  }
}