// Change with caution, these are used throughout multiple instances.
// Alter only if you are certain that the change should cascade to all instances within all components and elements.
// Most edits to prototypes should be extending by adding variations rather than altering current code

@mixin proto-list() {
  @include prefixer(box-sizing, border-box);
  border: 0;
  color: $listColor;
  display: block;
  font-family: $listFontFamily, Arial, sans-serif;
  font-size: $listFontSize;
  font-style: $listFontStyle;
  font-weight: $listFontWeight;
  line-height: 1.5;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0 $spacingMedium;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  width: 100%;
}

@mixin proto-list__item() {
  @include proto-list();
  display: list-item;
  margin-bottom: $listMarginBottom;
  padding: 0;
}