$footerMainBackgroundColor: $colorGrayLighter;
$footerLinkColor: $colorPrimaryBase;
$footerFontColor: $colorGrayDarker;
$footerFontFamily: $typeFontFamily;
$footerMainPadding: $spacingMedium $spacingXXXSmall;
$footerMainTextAlign: center;
$footerWidth: 100%;
$footerContentMaxWidth: 300px;
$footerParagraphFontWeight: $typeFontWeightLight;
$footerParagraphLineHeight: 1.2em;
$footerParagraphMargin: $spacingXSmall;
$footerParagraphMarginBottom: $spacingMedium;
$footerParagraphTextAlign: center;
$footerParagraphFirstMarginTop: 0;
$footerParagraphLastMarginBottom: 0;
$footerImagesMargin: $spacingMedium;
$footerFontSize: $typeScaleXSmall;

@if $isWTC {
  $footerMainBackgroundColor: $colorGrayscaleWhite;
  $footerLinkColor: $colorSecondaryBlueBase;
  $footerFontColor: $colorPrimaryBase;
  $footerFontFamily: $fontFace;
  $footerMainPadding: $spacingXLarge 0 0 0;
  $footerMainTextAlign: left;
  $footerContentMaxWidth: auto;
  $footerParagraphLineHeight: $typeScaleMedium;
  $footerParagraphTextAlign: left;
  $footerFontSize: $typeScaleXXXSmall;

  $footerMainBorderTop: $spacingXXXSmall solid $colorGrayBorder;
  $footerHrBorder: 1px solid $colorGrayBorder;

  $footerParagraphFontWeight: $typeFontWeightRegular;
}

// More WTC

$footerHeaderLinksMarginTop: $spacingXLarge;
$footerHrMargin: $spacingXLarge 0;
$footerParagraphFirstPChildFontWeight: $typeFontWeightBold;
$footerParagraphLastTextAlign: center;
$footerParagraphLastFontWeight: $typeFontWeightRegular;
$footerParagraphLastPFontWeight: $typeFontWeightRegular;
$footerParagraphLastLineHeight: $typeScaleMedium;
$footerParagraphLastPChildFontWeight: $typeFontWeightBold;
$footerHeaderDesktopAlignItems: center;
$footerHeaderLinksDesktopMargintop: 0;
$footerLinksDesktopMarginLeft: $spacingXLarge;
