$wt-menu-tokens: (
    menuBackgroundColor: $colorPrimaryBase,
    menuPadding: $spacingXSmall,
    menuPatternHeight: 74px,
    menuTextAlign: center,
    menuDisplay: flex,
    menuLinkMargin: 0,
    menuListStyle: none,
    menuTextColor: $colorGrayscaleWhite,
    menuFontWeight: $typeFontWeight,
    menuFontSize: $typeScaleMedium,
    menuDisabled: none,
    menuUnorderedListPadding: 0,
    menuListDisplay: inline-block,
    menuLinkDisplay: inline-block,
    menuLinkPadding: 28px,
    menuBorderStyle: solid,
    menuBorderBottomColor: $colorSecondaryLight,
    menuBorderWidth: 3px,
    menuActiveLinkPadding: 13px,
    menuActiveLinkPaddingBottom: 15px,
    menuActiveColor: $colorSecondaryLight,
    menuLogoPaddingWidth: 28px,
    menuLogoPaddingHeight: 22px,
    menuLogoHeight: 32px,
    menuBlockLogoCenterHeight: 97px,
    menuIconTextSideWidth: 17px,
    menuIconTextSideHeight: 25px,
    menuIconTextMarginSpacing: $spacingXXSmall,
    menuIconPadding: 23px,
    menuIconTextDisplay: block,
    menuIconPosition: relative,
    menuTextIconTextPaddingWidth: $spacingMedium,
    menuTextIconTextPaddingHeight: 13px,
    menuBlock: auto
  );