$menuBackgroundColor: systemTheme(menu, menuBackgroundColor);
$menuPadding: systemTheme(menu, menuPadding);
$menuPatternHeight: systemTheme(menu, menuPatternHeight );
$menuTextAlign: systemTheme(menu, menuTextAlign);
$menuDisplay: systemTheme(menu, menuDisplay);
$menuListStyle: systemTheme(menu, menuListStyle);
$menuLinkMargin: systemTheme(menu, menuLinkMargin);
$menuTextColor: systemTheme(menu, menuTextColor);
$menuFontWeight: systemTheme(menu, menuFontWeight);
$menuFontSize: systemTheme(menu, menuFontSize);
$menuDisabled: systemTheme(menu, menuDisabled);
$menuBorderStyle: systemTheme(menu, menuBorderStyle);
$menuBorderBottomColor: systemTheme(menu, menuBorderBottomColor);
$menuActiveColor: systemTheme(menu, menuActiveColor);
$menuBorderWidth: systemTheme(menu, menuBorderWidth);
$menuCenterDisplay: systemTheme(menu, menuCenterDisplay);
$menuIconPosition: systemTheme(menu, menuIconPosition);
$menuBlockLogoCenterHeight: systemTheme(menu, menuBlockLogoCenterHeight);
$menuIconTextSideHeight: systemTheme(menu, menuIconTextSideHeight);
$menuIconTextMarginSpacing: systemTheme(menu, menuIconTextMarginSpacing);
$menuIconTextSideWidth: systemTheme(menu, menuIconTextSideWidth);
$menuUnorderedListPadding: systemTheme(menu, menuUnorderedListPadding);
$menuListDisplay: systemTheme(menu, menuListDisplay);
$menuLinkDisplay: systemTheme(menu, menuLinkDisplay);
$menuLinkPadding: systemTheme(menu, menuLinkPadding);
$menuActiveLinkPadding: systemTheme(menu, menuActiveLinkPadding);
$menuActiveLinkPaddingBottom: systemTheme(menu, menuActiveLinkPaddingBottom);
$menuLogoPaddingWidth: systemTheme(menu, menuLogoPaddingWidth);
$menuLogoPaddingHeight: systemTheme(menu, menuLogoPaddingHeight);
$menuLogoHeight: systemTheme(menu, menuLogoHeight);
$menuIconPadding: systemTheme(menu, menuIconPadding);
$menuIconTextDisplay: systemTheme(menu, menuIconTextDisplay);
$menuTextIconTextPaddingHeight: systemTheme(menu, menuTextIconTextPaddingHeight);
$menuTextIconTextPaddingWidth: systemTheme(menu, menuTextIconTextPaddingWidth);
$menuBlock: systemTheme(menu, menuBlock);