//Naming should maybe be "breakpoint--sm" like margin--sm

@mixin xs {
  @media only screen and (min-width: $breakpoint--xsmall) {
    max-width: $breakpoint--xsmall;
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: $breakpoint--small) {
    max-width: $breakpoint--small;
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $breakpoint--medium) {
    max-width: $breakpoint--medium;
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $breakpoint--large) {
    max-width: $breakpoint--large;
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: $breakpoint--xlarge) {
    max-width: $breakpoint--xlarge;
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: $breakpoint--xxlarge) {
    max-width: $breakpoint--xxlarge;
    @content;
  }
}
