.l-container{
    display: $containerLayoutDisplay;
    flex-direction: $containerLayoutFlexDirection;
    /* Fix bug in IE 10 and 11 where min-height is ignored when display: flex and flex-direction: column are on a container */
    height: $containerLayoutHeight;
    min-height: $containerLayoutMinHeight;
    
    &__content{
        flex: $containerLayoutContentFlex;
    }
    
    &__footer{
        flex-shrink: $containerLayoutFooterFlexShrink;
    }
}