$sizes: (
  none: 0,
  xxxsmall: $spacingXXXSmall,
  xxsmall: $spacingXXSmall,
  xsmall: $spacingXSmall,
  small: $spacingSmall,
  medium: $spacingMedium,
  large: $spacingLarge,
  xlarge: $spacingXLarge,
  xxlarge: $spacingXXLarge,
  xxxlarge: $spacingXXXLarge,
  auto: auto
);

$sides: top bottom left right;

@mixin marginSizes ($sides) {
  @each $size, $value in $sizes {
    &--#{$size}{
      margin-#{$sides}: $value;
    }
  }
}

.l-margin {
  @each $type, $value in $sizes {
    &--#{$type}{
      margin: $value;
    }
  }
  @each $side in $sides {
    &-#{$side} {
      @include marginSizes($side);
    }
  }
  &-horizontal {
    @each $type, $value in $sizes {
      &--#{$type}{
        margin: 0 $value;
      }
    }
  }
  &-vertical {
    @each $type, $value in $sizes {
      &--#{$type}{
        margin: $value 0;
      }
    }
  }

  @media only screen and (min-width: $desktopBreakpoint) {
    @each $side in $sides {
      &--sm {
        @each $size,
        $val in $sizes {
          &-#{$size} {
            margin-#{$side}: $val;
          }
        }
      }
      &-#{$side} {
        &--sm {
          @each $size,
          $val in $sizes {
            &-#{$size} {
              margin-#{$side}: $val;
            }
          }
        }
      }
    }
    &-horizontal {
      &--sm {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            margin: 0 $value;
          }
        }
      }
    }
    &-vertical {
      &--sm {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            margin: $value 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $desktopBreakpoint - 1px) {
    @each $side in $sides {
      &--xs {
        @each $size,
        $val in $sizes {
          &-#{$size} {
            margin-#{$side}: $val;
          }
        }
      }
      &-#{$side} {
        @include marginSizes($side);
        &--xs {
          @each $size,
          $val in $sizes {
            &-#{$size} {
              margin-#{$side}: $val;
            }
          }
        }
      }
    }
    &-horizontal {
      &--xs {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            margin: 0 $value;
          }
        }
      }
    }
    &-vertical {
      &--xs {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            margin: $value 0;
          }
        }
      }
    }
  }
}

