$sizes: (
  none: 0,
  xxxsmall: $spacingXXXSmall,
  xxsmall: $spacingXXSmall,
  xsmall: $spacingXSmall,
  small: $spacingSmall,
  medium: $spacingMedium,
  large: $spacingLarge,
  xlarge: $spacingXLarge,
  xxlarge: $spacingXXLarge,
  xxxlarge: $spacingXXXLarge
);

$sides: top bottom left right;

@mixin paddingSizes ($sides) {

  @each $size,
  $value in $sizes {
    &--#{$size} {
      padding-#{$sides}: $value;
    }
  }
}

.l-padding {
  @each $side in $sides {
    &-#{$side} {
      @include paddingSizes($side);
    }
  }
  &-horizontal {
    @each $type,
    $value in $sizes {
      &--#{$type} {
        padding: 0 $value;
      }
    }
  }
  &-vertical {
    @each $type,
    $value in $sizes {
      &--#{$type} {
        padding: $value 0;
      }
    }
  }
  @each $type, $value in $sizes {
    &--#{$type}{
      padding: $value;
    }
  }

  @media only screen and (min-width: $desktopBreakpoint) {
    @each $side in $sides {
      &--sm {
        @each $size,
        $val in $sizes {
          &-#{$size} {
            padding-#{$side}: $val;
          }
        }
      }
      &-#{$side} {
        &--sm {
          @each $size,
          $val in $sizes {
            &-#{$size} {
              padding-#{$side}: $val;
            }
          }
        }
      }
    }
    &-horizontal {
      &--sm {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            padding: 0 $value;
          }
        }
      }
    }
    &-vertical {
      &--sm {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            padding: $value 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $desktopBreakpoint - 1px) {
    @each $side in $sides {
      &--xs {
        @each $size,
        $val in $sizes {
          &-#{$size} {
            padding-#{$side}: $val;
          }
        }
      }
      &-#{$side} {
        @include paddingSizes($side);
        &--xs {
          @each $size,
          $val in $sizes {
            &-#{$size} {
              padding-#{$side}: $val;
            }
          }
        }
      }
    }
    &-horizontal {
      &--xs {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            padding: 0 $value;
          }
        }
      }
    }
    &-vertical {
      &--xs {
        @each $type,
        $value in $sizes {
          &-#{$type} {
            padding: $value 0;
          }
        }
      }
    }
  }
}
