$wt-action-group-tokens: (
      actionGroupWidth: 100%,
      actionGroupButtonContainerWidth: 100%,
      actionGroupButtonNotFirstChildMarginLeft: $spacingMedium,
      actionGroupLinkContainerMarginTop: $spacingXSmall,
);