.c-fly-out-menu {
    @if $isWTC == true {
      &__dropdown-list {
        list-style-type: none;
      }

      &__dropdown-list-item {
        padding-bottom: $flyOutListItemPadding;
      }

      &__dropdown-list-item:hover {
        color: $flyOutListItemColor;
        text-decoration: $flyOutListItemTextDecoration;
      }

      &__dropdown-container {
        position: absolute;
        top: $flyOutContainerTop;
        right: $flyOutContainerRight;
        z-index: $flyOutContainerZIndex;
      }

      &__dropdown {
        top: $flyOutDropDownTop;
        position: relative;
        box-shadow: 0 $flyOutDropDownShadowWidth $flyOutDropDownShadowHeight 0 $flyOutDropDownShadowColor;
        width: $flyOutDropDownWidth;

      }

      &__dropdown:after,
      &__dropdown:before {
        bottom: $flyOutDropDownBottom;
        border: $flyOutDropDownBorderType $flyOutDropDownBorderColor;
        content: " ";
        height: $flyOutDropDownHeight;
        width: $flyOutDropDownWidth;
        position: absolute;
        pointer-events: none;
      }

      &__dropdown:before {
        border-color: $flyOutDropDownBeforeColor;
        border-bottom-color: $flyOutDropDownBeforeBorderBottomColor;
        border-width: $flyOutDropDownBeforeBorderWidth;
        left: $flyOutDropDownBeforeLeft;
        margin-left: $flyOutDropDownBeforeMarginLeft;
      }

      &__dropdown:after {
        border-color: $flyOutDropDownAfterBorderColor;
        border-bottom-color: $flyOutDropDownAfterBorderBottomColor;
        border-width: $flyOutDropDownAfterBorderWidth;
        left: $flyOutDropDownAfterLeft;
        margin-left: $flyOutDropDownAfterMarginLeft;
      }
    }
}