// Badge is WTC only
$badgeBackgroundColor: transparent;
$badgeBorderRadius: 4px;
$badgeBorderSize: 1px;
$badgeBorderStyle: solid;
$badgeFontColor: $colorGrayDarker;
$badgeFontSize: $typeScaleXSmall;
$badgeFontFamily: $typeFontFamily;
$badgeHeight: 28px;
$badgeMargin: 0;
$badgeWidth: auto;
$badgeTextTransformation: uppercase;
$badgeFontWeight: $typeFontWeightMedium;
$badgeLineHeight: 1.25;
// M&T here to allow compiling
$badgePositiveBorderColor: $colorPrimaryBase;
$badgeProcessingBorderColor: transparent;
$badgeInactiveBorderColor: transparent;
$badgeNegativeBorderColor: transparent;
$badgePadding: 6px 12px;
$badgeLetterSpacing: 1px;
$badgeColorInactive: $colorGrayBase;

@if $isMTB {
  $badgePositiveBorderColor: $colorPrimaryBase;
  $badgeProcessingBorderColor: $colorOrangeBase;
  $badgeInactiveBorderColor: $colorGrayDark;
  $badgeNegativeBorderColor: $colorRedBase;
  $badgePadding: 6px 12px;
  $badgeLetterSpacing: 1px;
  $badgeColorInactive: $colorGrayBase;
}

@if $isWTC {
  $badgeFontColor: $colorPrimaryBase;
  $badgeLetterSpacing: 0;
  $badgePositiveBorderColor: $colorSemanticGreenBase;
  $badgeProcessingBorderColor: $colorSecondaryLight;
  $badgeInactiveBorderColor: $colorGrayscaleGrayBase;
  $badgeNegativeBorderColor: $colorSemanticRedBase;
  $badgePadding: 6px 12px;
  $badgeFontWeight: $typeFontWeightRegular;
}
