$modalOverlayBackgroundColor: rgba(0, 0, 0, 0.4);
$modalBorderRadius: 0;
$modalHeaderBorderColor: $colorGrayLighter;
$modalFontColor: $colorGrayDark;
$modalHeaderTitleFontColor: $colorPrimaryBase;
$modalCloseBarTitleFontColor: $colorGrayDark;
$modalCloseBarTitleFontSize: $typeScaleXSmall;
$modalTitleFontFamily: $typeFontFamily;
$modalCloseButtonFontColor: $colorPrimaryBase;
$modalShadowColor: rgba(239,239,239, 1.0);
$modalFooterFontColor: none;
$modalButtonLoadingColor: $colorPrimaryBase;
$modalPrimaryButtonLoadingColor: $colorWhite;
$modalMobileHeight: 100vh;
$modalMobileMaxHeight:100vh;
$modalMobileWidth: 100%;
$modalMobileOverlayBackgroundColor: $colorWhite;
$modalMobileContentHeight: 100vh;
$modalScrollBoxShadowSize: 0 5px 5px;
$modalFooterPadding: $spacingMedium;
$modalFooterBoxShadowSize: 0 -5px 5px;
$modalMaxHeight: 90vh;
$modalWidth: 70%;
$modalHeaderBorderSize: 1px;
$modalHeaderBorderStyle: solid;
$modalHeaderPadding: 0;
$modalHeaderMarginBottom: $spacingXLarge;
$modalHeaderPaddingBottom: $spacingLarge;
$modalHeaderTitleFontSize: $typeScaleXXLarge;
$modalHeaderTitleMarginBottom: $spacingSmall;
$modalHeaderTitleOverflow: visible;
$modalHeaderTitleTextOverflow: inherit;
$modalCloseBarPadding: 22px 62px 22px 40px; //padding-top/bottom is height of button + 16px spacing on both sides all divided by 2. padding-right is button size + spacing medium. Both are used to center the title horizontally and vertically
$modalMobileCloseBarPadding: 22px $spacingMedium;
$modalOverlayZIndex: 99999999;
$modalTitleBorder: none;
$modalTitleFontStyle: normal;
$modalTitleFontWeight: $typeFontWeight;
$modalTitleLineHeight: 1.25;
$modalTitleMargin: 0;
$modalTitlePadding: 0;
$modalCloseBarButtonBorder: none;
$modalCloseBarButtonPadding: 0;
$modalCloseBarButtonIconFontSize: $typeScaleXLarge;
$modalCloseBarButtonFontSize: $typeScaleXSmall;
$modalCloseBarTitleLetterSpacing: 2px;
$modalCloseBarTitleOverflow: hidden;
$modalCloseBarTitleTextOverflow: ellipsis;
$modalCloseBarTitleWidth: 100%;
$modalCloseBarTitleWhiteSpace: nowrap;
$modalContentWidth: 100%;
$modalButtonLoadingFontSize: 0;
$modalHeaderTitleLetterSpacing: 0;
$modalButtonMargin: 0;
$modalContentFontWeight: $typeFontWeight;
//padding-top/bottom is height of button + 16px spacing on both sides all divided by 2. padding-right is button size + spacing medium. Both are used to center the title horizontally and vertically
$modalWidthXLarge: 790px;
$modalWidthLarge: 670px;
$modalWidthMedium: 690px;
$modalCloseBarBackgroundColor: $colorGrayLightest;
$modalButtonWidth: 120px;
$modalOverlayMobilePadding: 20px;
$modalCloseBarBorderRadius: $spacingXXSmall $spacingXXSmall 0 0;
$modalSubTitleColor: $colorGrayDarker;
$modalSubTitleFontSize: 16px;
$modalSubTitleFontWeight: $typeFontWeightLight;
$modalSubTitleFontFamily: $typeFontFamily;
$modalAlertIconFontSize: 64px;
$modalAlertIconMarginBottom: $spacingLarge;
$modalAlertTitleFontSize: $typeScaleXXLarge;
$modalAlertTitleColor: $colorPrimaryBase;
$modalAlertTitleMarginBottom: $spacingXLarge;
$modalAlertTextFontSize: $typeScaleLarge;
$modalAlertTextColor: $colorGrayscaleBlack;
$modalAlertTextMargin: $spacingXLarge 0;
$modalAlertTextFontWeight: $typeFontWeightLight;
$modalAlertDividerWidth: 90%;
$modalAlertTitlePadding: 0 $spacingLarge; 
$modalMargin: 100px 0;
$modalSubTitleMargin: 0;
$modalSubTitleLineHeight: 1.5;
$modalContentPadding: 0;

// WT
$modalMaxWidth: 710px;
$modalSubTitlePadding: $spacingLarge $spacingXLarge;
$modalFooterBorderRadius: 0 0 $spacingXXSmall $spacingXXSmall;
$modalContentFontWeight: $typeFontWeightLight; // was $typeFontWeight 300
$modalTextPadding: $spacingXLarge $spacingLarge;
$modalTextLineHeight: 1.5;

@if $isMTB {
    $modalFooterFontColor: $colorPrimaryDark;
    $modalContentPadding: $spacingXLarge;
    $modalButtonMargin: 0 114px;
}

@if $isWTC {
    $modalOverlayBackgroundColor: rgba(66, 89, 104, 0.85);
    $modalBorderRadius: $spacingXXSmall;
    $modalHeaderBorderColor: $colorPrimaryLight;
    $modalFontColor: $colorGrayscaleBlack;
    $modalCloseBarTitleFontSize: $typeScaleXXLarge;
    $modalHeaderBackgroundColor: $colorGrayLightest;
    $modalCloseBarTitleFontColor: $colorPrimaryBase;
    $modalContentPadding: $spacingXLarge;
    $modalCloseBarPadding: $spacingLarge $spacingMedium $spacingLarge $spacingXLarge;
    $modalMobileCloseBarPadding: $spacingLarge $spacingLarge $spacingLarge $spacingXLarge;
    $modalShadowColor: rgba(0,0,0,0.1);
    $modalFooterFontColor: $colorPrimaryBase;
    $modalButtonLoadingColor: $colorGraphicBlueBase;
    $modalScrollBoxShadowSize: 0 5px 5px -2px;
    $modalButtonMargin: 0px $spacingXSmall $spacingMedium $spacingXSmall;
    $modalFooterPadding: $spacingXLarge $spacingXLarge $spacingMedium $spacingXLarge;
    $modalCloseBarTitleLetterSpacing: 0px;

    $modalAlertDividerBorder: 1px solid $colorGrayBorder;
    $modalSubTitleFontSize: $typeScaleMedium;
    $modalAlertTextFontSize: $typeScaleMedium;
    
    $modalContentFontWeight: $typeFontWeightRegular;
    $modalSubTitleFontWeight: $typeFontWeightRegular;
    $modalAlertTextFontWeight: $typeFontWeightRegular;
}