@mixin headerSubmenu() {
  // Drop Down Menu
  &__submenu {
    position: absolute;
    background: $headerSubmenuBackground;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    @include prefixer(box-shadow, 0px 2px 4px rgba(0,0,0,.1));
    opacity: 0;
    transition: opacity .3s ease-in-out .3s, height 0 .6s, width 0 .6s;
    overflow: hidden;

    // Submenu First Break
    @media only screen and (max-width: $breakpoint--large) {
        background: $headerSubmenuBackgroundResponsive;   
        @include prefixer(box-shadow, none);
    }
    
    &-item {
      color: $headerSubmenuColor;
      list-style: none;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: $spacingSmall;
      }
    }

    &-link {
      @include proto-link($headerSubmenuColor, $typeScaleMedium);
      border-bottom: 1px solid transparent;
      text-decoration: none;
      font-weight: $headerSubmenuFontWeight;
      width: $headerSubmenuLinkWidth;
      white-space: nowrap;

      &:hover {
        border-bottom: 1px solid $headerSubmenuColor;
        text-decoration: none;
      }
        @media only screen and (max-width: $breakpoint--large) {
          color: $headerResponsiveLinkColor;
          &:hover {
              color: $headerResponsiveLinkColor;
              border-bottom: 1px solid $headerResponsiveLinkColor;
              text-decoration: none;
          }
        }
    }
  }
}