@import 'p-header-menu-item',
        'p-header-submenu';

// Set Main Header Layout for Desktop
.p-main-header {
  background: $headerBackgroundColor;
  
  // Grid Graceful Degredation Support
  display: flex;
  @supports(display: grid) {
    display: grid;
  }

  height: $headerHeight;
  width: $headerWidth;
  position: relative;
  @include prefixer(box-shadow, 0px 2px 4px rgba(0,0,0,.1));
  
  // Layout for WTC
  @if $isMTB == false {
    grid-template-columns: 162px 101px minmax(0,1fr) minmax(0,1fr) ;
    grid-template-areas: "logo navigation navigation actions buttons";

    // Change Layout On Mobile
    @media only screen and (max-width: $breakpoint--large) {
      grid-template-columns: 101px minmax(0,1fr) 162px minmax(0,1fr) 101px;
      grid-template-areas: "navigation navigation logo  actions buttons";
    }
  }

  // Layout for MTB
  @if $isMTB == true {
    grid-template-columns: 101px minmax(0,1fr) 162px minmax(0,1fr) 101px;
    grid-template-areas: "navigation navigation logo actions buttons";
  }

  // Logo Placed on Header
  &__logo {
    grid-area: logo;
    line-height: 0;
    place-self: center;

    // Grid Graceful Degredation Support
    @if $isMTB == true {
      margin: 0 auto;
      line-height: 87px;   
    }
    
    @if $isMTB == false {
      margin: 0 24px;
      line-height: 83px; 
    }
    @supports(display: grid) {
      margin: 0;
      line-height: 0;
    }

    svg {
      height: $headerLogoHeight;
    }
  }

  // Navigation Links
  &__menu {
    align-self: center;
    display: flex;
    grid-area: navigation;
    height: 100%;
    list-style: none;
    padding: $headerMenuPadding;
    
    // Grid Graceful Degredation Support
    @supports(display: grid) {
      width: 100%;
    }

    z-index: 2;

    &-links {
      display: flex;
      margin: 0;
      padding: 0;

      &-close {
        position: absolute;
        right: 20px;
        top: -27px;
        list-style: none;
        margin: 0;
        padding: 0;
        
        button {
          @include proto-link($headerSubmenuColor, $typeScaleMedium);
          vertical-align: middle;
          text-decoration: none;
        }
        .icon {
          font-size: 24px;
          vertical-align: middle;
        }
      }
      
      // Menu Links Container on Tablet
      @media only screen and (max-width: $breakpoint--large) {
        @include prefixer(box-sizing, border-box);
        // opacity: 0;
        background: $headerSubmenuBackgroundResponsive;
        border-top: 32px solid $headerSubmenuTopBorderColor;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
        color: $headerResponsiveLinkColor;
        font-family: $headerMenuItemFont, Arial, sans-serif;
        font-weight: $typeFontWeightMedium;
        left: -100%;
        height: 100vh;
        margin: 0;
        min-width: 375px;
        padding: $spacingLarge $spacingLarge $spacingLarge 0;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        transition: all .3s ease-in-out;

        &--active {
          left:0;
        }

      }
      
      // Menu Links Container on Mobile
      @media only screen and (max-width: $breakpoint--small) {
        width: 100vw;
      }
    }
    
    // Hamburger Menu Button on Desktop
    &-button {
      // Style Hamburger Menu
      display: none;
      background: none;
      border: none;
      font-size: $typeScaleXLarge;
      padding: 0;

      @if $isMTB == false {
        line-height: 0;
        padding: 0 20px;
      }

      &::before {
        color: #fff;
      }

      &-label {
        color: #fff;
        display: block;
        font-family: "MTB Balto Web", Arial, sans-serif;
        font-size: $typeScaleXSmall;
      }

      @media only screen and (max-width: $breakpoint--large) {
        // Show on Tablet and Lower
        display: block;
      }
    }

    // Actions Links for Tablet and Mobile
    &-actions {
      display: none;
    }


    // Menu Item - Use if Displayed in a list.
    &-item {
 
      @include headerMenuItem();

      // Active state override for desktop
      &--active {
        @include headerMenuItem();
        .p-main-header__menu-item-link {
          @media only screen and (max-width: $breakpoint--large) {
            color: $headerResponsiveLinkColorHover;
          }
        }

      }

      &--mobile {
        display: none;
        
        // Actions links on tablet and mobile
        @media only screen and (max-width: $breakpoint--large) {  
          display: block;
          
          // TODO: Refactor Reused Code for Submenu
          position: relative;
          padding-left: $spacingLarge;

          &:hover .p-main-header__menu-item-link {
            color: $headerResponsiveLinkColorHover;
          }

          &:hover .p-main-header__submenu {
            opacity: 1;
            width: auto;
            @supports (width: max-content) {
              width: max-content;
            }
            height: auto;
            padding: $spacingMedium 0;
            position: static;
            background: red;
          }
          &:hover::after {
            visibility: visible;
            transform: scaleY(1);
          }
          
          &::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: $headerMenuItemLineColor;
            visibility: hidden;
            transform: scaleY(0);
            transition: all 0.3s ease-in-out 0s;
            transform-origin: center;
          }
        }
      }

      // Menu Item First Break
      @media only screen and (max-width: $breakpoint--large) {
        height: auto;
        padding-left: $spacingLarge;

        &:hover .p-main-header__submenu {
          opacity: 0;
        //   width: max-content;
          height: auto;
          padding: $spacingMedium 0;
        //   position: static;
          padding: 0;
        }
        &:hover::after {
          visibility: visible;
          transform: scaleY(1);
        }

        &--active {
          height: auto;
          padding-left: $spacingLarge;
          position: relative;
          
          .p-main-header__submenu {
            opacity: 1;
            height: auto;
            padding: $spacingMedium 0;
            position: static;
            width: auto;
            @supports (width: max-content) {
              width: max-content;
            }
          }
          &:hover .p-main-header__submenu {
            padding: $spacingMedium 0;
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
          }
        }  

        &::after {
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          bottom: 0;
          left: 0;
          opacity: 1;
          background-color: $headerMenuItemLineColor;
          visibility: hidden;
          transition: all 0.3s ease-in-out 0s;
          transform-origin: center;
          transform: scaleY(0)
        }

        &--active::after {
          background-color: $headerMenuItemLineColor;
          content: "";
          width: 4px;
          height: 100%;
          bottom: 0;
          left: 0;
          opacity: 1;
          position: absolute;
          transform: scaleY(0);
          transition: all 0.3s ease-in-out 0s;
          transform-origin: center;
          transform: scaleY(1);
          visibility: visible;
        } 

      }

      // Menu Item Link
      &-link {
        color: $headerMenuItemColor;
        height: 100%;
        position: relative;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: $headerMenuItemMargin;
        padding: $headerMenuItemPadding;
        transition: all .4s ease-in-out 0s;

        // Menu Item Hover Effect
        &:hover {
          color: $headerMenuItemColorHover;

          text-decoration: none;
        }

        @media only screen and (max-width: $breakpoint--large) {
          // Menu Item Link First Break
          width: 96px;
          color: $headerResponsiveLinkColor;
          font-family: $headerMenuItemFont, Arial, sans-serif;
          font-weight: 300;
          font-size: 24px;
          height: auto;
          letter-spacing: 0;
          line-height: 1.5;
          margin: 0;
          padding: 0;
          transition: color .4s ease-in-out .3s;
          width: auto;
          @supports (width: max-content) {
            width: max-content;
          }
          
          &:hover {
            color: #333;
            background: trasparent;
          }

          .icon {
            display: none;
          }
        }
        
      }

      &-text {
        margin-right: $headerMenuItemTextMargin;
        font-family: $headerMenuItemFont, Arial, sans-serif;
        font-size: $headerMenuItemFontSize;
        @media only screen and (max-width: $breakpoint--large) {
          font-size: 24px;
        }
      }
    }
  }

  // Drop Down Menu
  @include headerSubmenu();

  // Buttons on Far end of Menu ie. Logout
  &__buttons {
    grid-area: buttons;
    display: grid;
    align-items: center;
    justify-items: end;

    // Grid Graceful Degredation Support
    @if $isMTB == true {
      padding: 17px 32px 0 0;
    }

    @if $isMTB == false {
      padding: 19px 32px 0 0;
    }
    @supports (display: grid) {
      padding: 0 32px 0 0;
    }

  }
  // Logout Button
  @if $isMTB == true {
    &__button {
      @include proto-button();
      background: transparent;
      border:1px solid #fff;
      color: #fff;
      width: auto;
      font-size: 12px;
      align-self: center;
  
      &:hover {
        border: 1px solid #fff;
      }
    }
  }
  @if $isMTB == false {
    &__button {
      background: transparent;
      border: none;
      color: #fff;
      width: auto;
      font-size: $headerMenuItemFontSize;
      font-family: $headerMenuItemFont;
      height: 100%;
      border-radius: 0;
      align-self: center;
      padding: $headerMenuItemPadding;
      transition: all .4s ease-in-out 0s;
  
      &:hover {
        background: $headerMenuItemBackground;
        color: $headerMenuItemColorHover;
      }
    }
  }



  // Additional Icon Actions in Header
  &__additional-actions {
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // Grid Graceful Degredation Support
    @supports (display: grid) {
      @if $isMTB == false {
        margin-left: auto;
      }
    }

    @media only screen and (max-width: $breakpoint--large) {
      // Hide For Mobile
      display: none;
    }
  }

  // Individual Icon Action Display
  &__icon-action {
    color: #fff;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
    align-self: center;
    .icon {
      transition: .3s all cubic-bezier(0.635, -0.600, 0.160, 1.650);
      font-size: 18px;
    }

    &:hover {
      .icon {
        transform:scale(1.2);
      }
    }

    &-label {
        display: block;
        font-family: $listActionItemActionsFontFamily;
        color: #fff;
        font-size: 12px;
        padding-top: $listActionItemActionsPaddingTop;
    }
  }
}