// STEP GUIDE
@if $isMTB == true {
    .p-step-guide {
        background-color: $stepGuideBackgroundColor;    
        @include prefixer(box-sizing, border-box);
        @include flexbox();
        flex-direction: column;
        height: $stepGuideHeight;
        max-height: $stepGuideMaxHeight;        
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99999999;
        display: none;
        width: $stepGuideWidth;
        &--visible {
            display: flex;
        }

        &__close-bar {
        @include prefixer(box-sizing, border-box);
        padding: $stepGuideCloseBarPadding; //padding-top/bottom is height of button + 16px spacing on both sides all divided by 2. padding-right is button size + spacing medium. Both are used to center the title horizontally and vertically
        position: relative;

            &-button {
                background-color: transparent;
                border: $stepGuideCloseBarButtonBorder;
                @include flexbox();
                flex-direction: column;
                font-style: $stepGuideCloseBarButtonFontStyle;
                padding: $stepGuideCloseBarButtonPadding;
                position: absolute;
                right: $stepGuideCloseBarButtonRight;
                top: $stepGuideCloseBarButtonTop;

                &-icon {
                    align-self: center;
                    color: $stepGuideCloseBarIconColor;
                    font-size: $stepGuideCloseBarIconFontSize;
                    cursor: pointer;
                }

                &-text {
                    color: $stepGuideCloseBarTextColor;
                    font-size: $stepGuideCloseBarTextFontSize;
                    cursor: pointer;
                }
            }

            &-title {
                border: $stepGuideCloseBarTitleBorder;
                @include prefixer(box-sizing, border-box);
                color: $stepGuideCloseBarTitleColor;
                display: inline-block;
                font-family: quote($stepGuideCloseBarTitleFontFamily), Helvetica, Arial, sans-serif;
                font-size: $stepGuideCloseBarTitleFontSize;
                font-style: $stepGuideCloseBarTitleFontStyle;
                font-variant: normal;
                font-weight: $stepGuideCloseBarTitleFontWeight;
                isolation: isolate;
                letter-spacing: $stepGuideCloseBarTitleLetterSpacing;
                line-height: $stepGuideCloseBarTitleLineHeight;
                margin: $stepGuideCloseBarTitleMargin;
                margin-block-end: $stepGuideCloseBarTitleMarginBlockEnd;
                margin-block-start: $stepGuideCloseBarTitleMarginBlockStart;
                margin-inline-end: $stepGuideCloseBarTitleMarginInlineEnd;
                margin-inline-start: $stepGuideCloseBarTitleMarginInlineStart;
                overflow: $stepGuideCloseBarTitleOverflow;
                padding: $stepGuideCloseBarTitlePadding;                
                text-align: center;
                text-decoration: none;
                text-justify: none;
                text-overflow: $stepGuideCloseBarTitleTextOverflow;
                text-rendering: optimizeLegibility;
                text-transform: uppercase;                
                vertical-align: baseline;
                width: $stepGuideCloseBarTitleWidth;
                word-break: keep-all;
                word-wrap: break-word;
                white-space: $stepGuideCloseBarTitleWhiteSpace;
                writing-mode: horizontal-tb;
                opacity: 0;

                &--visible {
                    opacity: 1;
                }
            }

            &--sticky {
                box-shadow: $stepGuideCloseBarTitleStickyBoxShadowOne, $stepGuideCloseBarTitleStickyBoxShadowTwo;
            }

            &--scroll {
                box-shadow: $stepGuideCloseBarTitleScrollBoxShadowSize $stepGuideCloseBarTitleScrollBoxShadowColor;
            }
        }

        &__header { 
            padding-bottom: $stepGuideHeaderPaddingBottom;
            border-bottom: $stepGuideBorder;

            &-title {
                border: $stepGuideHeaderTitleBorder;
                @include prefixer(box-sizing, border-box);
                color: $stepGuideHeaderTitleColor;
                display: block;
                font-family: quote($stepGuideHeaderTitleFontFamily), Helvetica, Arial, sans-serif;
                font-size: $stepGuideHeaderTitleFontSize;
                font-style: $stepGuideHeaderTitleFontStyle;
                font-variant: normal;
                font-weight: $stepGuideHeaderTitleFontWeight;
                isolation: isolate;
                letter-spacing: $stepGuideHeaderTitleLetterSpacing;
                line-height: $stepGuideHeaderTitleLineHeight;
                margin: $stepGuideHeaderTitleMargin;
                margin-block-end: $stepGuideHeaderTitleMarginBlockEnd;
                margin-block-start: $stepGuideHeaderTitleMarginBlockStart;
                margin-inline-end: $stepGuideHeaderTitleMarginInlineEnd;
                margin-inline-start: $stepGuideHeaderTitleMarginInlineStart;
                margin-bottom: $stepGuideHeaderTitleMarginBottom;
                overflow: $stepGuideHeaderTitleOverflow;
                padding: $stepGuideHeaderTitlePadding;
                text-align: left;
                text-decoration: none;
                text-justify: none;
                text-overflow: $stepGuideHeaderTitleTextOverflow;
                text-rendering: optimizeLegibility;
                text-transform: none;
                text-shadow: none;
                vertical-align: baseline;
                word-break: keep-all;
                word-wrap: break-word;
                writing-mode: horizontal-tb;
            }

            &-sub-title {
                color: $stepGuideSubTitleColor;
                font-family: quote($stepGuideSubTitleFontFamily), Helvetica, Arial, sans-serif;
                font-size: $stepGuideSubTitleFontSize;
                margin: $stepGuideSubTitleMargin;
                line-height: $stepGuideSubTitleLineHeight;
            }
        }

        &__eyebrow {
            font-size: $stepGuideEyebrowFontSize; 
            color: $stepGuideEyebrowColor; 
            line-height: $stepGuideEyebrowLineHight; 
            text-transform: $stepGuideEyebrowTextTransform; 
            margin-bottom: $stepGuideEyebrowMarginBottom;
            letter-spacing: $stepGuideEyebrowLetterSpacing;
        }

        &__content {
            @include prefixer(box-sizing, border-box);                
            overflow-y: auto;
            padding: $stepGuideContentPadding;
            width: $stepGuideContentWidth;
            font-family: $stepGuideContentFontFamily;
            font-weight: $stepGuideContentFontWeight;
            color: $stepGuideContentColor;                
            display: none; // For the JS to work set the content to display none
            height: $stepGuideContentHeight;

            // TO DO
            &--visible {
                display: block;
            }

            p {                    
                line-height: $stepGuideContentParagraphLineHeight;
            }
        }       

        &__footer {
            align-items: center;
            @include prefixer(box-sizing, border-box);
            @include flexbox();               
            justify-content: space-between; 
            flex-wrap: wrap; 
            box-shadow: $stepGuideFooterBoxShadow;                

            &--left {
                display: flex; 
                align-items: center;                    
                padding: $stepGuideFooterLeftPadding;
                
                &-button {
                    background-color: transparent;
                    border: $stepGuideFooterLeftButtonBorder;
                    @include flexbox();
                    flex-direction: column;
                    font-style: $stepGuideFooterLeftButtonFontStyle;
                    padding: $stepGuideFooterLeftButtonPadding;                
                    margin-right: $stepGuideFooterLeftButtonMarginRight;                
                    cursor: pointer;

                    &:disabled {
                        color: $stepGuideFooterLeftButtonDisbaledColor;                   
                        cursor: not-allowed;
                    }

                    &-icon {
                        align-self: center;
                        color: $stepGuideFooterLeftIconColor;
                        font-size: $stepGuideFooterLeftIconFontSize;                    
                    }

                    &-text {                    
                        font-size: $stepGuideFooterLeftTextFontSize;
                        font-family: $stepGuideFooterLeftTextFontFamily;
                    }
                }
            }

            &-vertical-border{
                border-right: $stepGuideFooterVerticalBorderBorderRight; 
                height: $stepGuideFooterVerticalBorderHeight;
            }

            &--right {                   
                padding: $stepGuideFooterRightPadding;
            }
        }

        &__button {
            &--primary {
                @include proto-button--primary();
            }
        }

        &__pagination {
            color: $stepGuidePaginationColor; 
            font-family: $stepGuidePaginationFontFamily; 
            display:flex; 
            margin-left: $stepGuidePaginationMarginLeft;

            &--first-number {
                font-weight: $stepGuidePaginationFirstNumberFontWeight; 
                margin-right: $stepGuidePaginationFirstNumberMarginRight;
            }

            &--last-number {
                font-weight: $stepGuidePaginationLastNumberFontWeight; 
                margin-left: $stepGuidePaginationLastNumberMarginLeft;
            }
        }

        .c-progress-bar--step-guide {
            width: $stepGuideProgresssBarWidth;            
            display: flex;
            @include proto-progress-bar();            
            
            progress {               
                height: $stepGuideProgresssBarProgressHeight;                
                width: $stepGuideProgresssBarProgressWidth;
            }
        }

        @media only screen and (max-width: $breakpoint--small) {
            .p-step-guide {
                height: $stepGuideMobileHeight;
                max-height: $stepGuideMobileMaxHeight;
                width: $stepGuideMobileMaxHeight;                         

                &__close-bar {
                    padding: $stepGuideCloseBarPaddingMobile;

                    &-title {
                        text-align: $stepGuideCloseBarTitleTextAlignMobile;
                    }
                }          

                &__content {                    
                    padding: $stepGuideContentPaddingMobile;
                }
                
            }
        }
    }
}

