    // Step Guide
$stepGuideBackgroundColor: $colorWhite;
$stepGuideHeight: 100vh;
$stepGuideMaxHeight: 100vh;
$stepGuideWidth: 100%;
    // Step Guide Close Bar
$stepGuideCloseBarPadding: 22px 62px 22px 40px; //padding-top/bottom is height of button + 16px spacing on both sides all divided by 2. padding-right is button size + spacing medium. Both are used to center the title horizontally and vertically
    // Step Guide Close Bar Button
$stepGuideCloseBarButtonBorder: none;
$stepGuideCloseBarButtonFontStyle: normal;
$stepGuideCloseBarButtonPadding: 0;
$stepGuideCloseBarButtonRight: $spacingMedium;
$stepGuideCloseBarButtonTop: $spacingMedium;
    // Step Guide Close Bar Icon
$stepGuideCloseBarIconColor: $colorPrimaryBase;
$stepGuideCloseBarIconFontSize: $typeScaleXLarge;
    // Step Guide Close Bar Text
$stepGuideCloseBarTextColor: $colorPrimaryBase;
$stepGuideCloseBarTextFontSize: $typeScaleXSmall;
    // Step Guide Close Bar Title (18)
$stepGuideCloseBarTitleBorder: none;
$stepGuideCloseBarTitleColor: $colorGrayDark;
$stepGuideCloseBarTitleFontFamily: $typeFontFamily;
$stepGuideCloseBarTitleFontSize: $typeScaleXSmall;
$stepGuideCloseBarTitleFontStyle: normal;
$stepGuideCloseBarTitleFontWeight: $typeFontWeight;
$stepGuideCloseBarTitleLetterSpacing: $spacingXXXSmall;
$stepGuideCloseBarTitleLineHeight: 22px;
$stepGuideCloseBarTitleMargin: 0;
$stepGuideCloseBarTitleMarginBlockEnd: 0;
$stepGuideCloseBarTitleMarginBlockStart: 0;
$stepGuideCloseBarTitleMarginInlineEnd: 0;
$stepGuideCloseBarTitleMarginInlineStart: 0;
$stepGuideCloseBarTitleOverflow: hidden;
$stepGuideCloseBarTitlePadding: 0;
$stepGuideCloseBarTitleTextOverflow: ellipsis;
$stepGuideCloseBarTitleWidth: 100%;
$stepGuideCloseBarTitleWhiteSpace: nowrap;
    // Step Guide Close Bar Title Sticky
$stepGuideCloseBarTitleStickyBoxShadowOne: 0 2px 4px rgba($colorBlack, .10);
$stepGuideCloseBarTitleStickyBoxShadowTwo: 0 4px 8px rgba($colorBlack, .10);
    // Step Guide Close Bar Title Scroll
$stepGuideCloseBarTitleScrollBoxShadowSize: 0 5px 5px;
$stepGuideCloseBarTitleScrollBoxShadowColor: rgba(239,239,239,1.0);
    // Step Guide Header
$stepGuideHeaderPaddingBottom: $spacingMedium;
    // Step Guide Header Title (17)
$stepGuideHeaderTitleBorder: none;
$stepGuideHeaderTitleColor: $colorPrimaryBase;
$stepGuideHeaderTitleFontFamily: $typeFontFamily;
$stepGuideHeaderTitleFontSize: $typeScaleXLarge;
$stepGuideHeaderTitleFontStyle: normal;
$stepGuideHeaderTitleFontWeight: $typeFontWeight;
$stepGuideHeaderTitleLetterSpacing: 0;
$stepGuideHeaderTitleLineHeight: 22px;
$stepGuideHeaderTitleMargin: 0;
$stepGuideHeaderTitleMarginBlockEnd: 0;
$stepGuideHeaderTitleMarginBlockStart: 0;
$stepGuideHeaderTitleMarginInlineEnd: 0;
$stepGuideHeaderTitleMarginInlineStart: 0;
$stepGuideHeaderTitleMarginBottom: $spacingXSmall;
$stepGuideHeaderTitleOverflow: visible;
$stepGuideHeaderTitlePadding: 0;
$stepGuideHeaderTitleTextOverflow: inherit;
    // Step Guide Eyebrow
$stepGuideEyebrowFontSize: $typeScaleXSmall;
$stepGuideEyebrowColor: $colorGrayDark;
$stepGuideEyebrowLineHight: $typeCaptionLineHeight;
$stepGuideEyebrowTextTransform: uppercase;
$stepGuideEyebrowMarginBottom: $spacingXSmall; 
    // Step Guide Content
$stepGuideContentPadding: $spacingMedium 105px;
$stepGuideContentWidth: 100%;
$stepGuideContentFontFamily: $typeFontFamily;
$stepGuideContentFontWeight: $typeFontWeight;
$stepGuideContentColor: $colorGrayDarker;
$stepGuideContentHeight: 100vh;
    // Step Guide Content Paragraph
$stepGuideContentParagraphLineHeight: 1.5;
    // Step Guide Footer
$stepGuideFooterBoxShadow: 0 -5px 5px $colorGrayLighter;
    // Step Guide Footer Left
$stepGuideFooterLeftPadding: $spacingMedium;
    // Step Guide Footer Left Button
$stepGuideFooterLeftButtonBorder: none;
$stepGuideFooterLeftButtonFontStyle: normal;
$stepGuideFooterLeftButtonPadding: 0;
$stepGuideFooterLeftButtonMarginRight: $spacingMedium;
    // Step Guide Footer Left Button Disabled
$stepGuideFooterLeftButtonDisbaledColor: $colorGrayDark;
    // Step Guide Footer Left Icon
$stepGuideFooterLeftIconColor: $colorPrimaryBase;
$stepGuideFooterLeftIconFontSize: $typeScaleXLarge;
    // Step Guide Footer Left Text
$stepGuideFooterLeftTextFontSize: $typeCaptionFontSize;
$stepGuideFooterLeftTextFontFamily: $typeFontFamily;
    // Step Guide Footer Vertical Border
$stepGuideFooterVerticalBorderBorderRight: 1px solid $colorGrayBase;
$stepGuideFooterVerticalBorderHeight: 42px;
    // Step Guide Footer Right
$stepGuideFooterRightPadding: $spacingMedium;
    // Step Guide Pagination
$stepGuidePaginationColor: $colorGrayDarker;
$stepGuidePaginationFontFamily: $typeFontFamily;
$stepGuidePaginationMarginLeft: $spacingMedium;
    // Step Guide Pagination First Number
$stepGuidePaginationFirstNumberFontWeight: $typeFontWeightBold;
$stepGuidePaginationFirstNumberMarginRight: $spacingXXXSmall;
    // Step Guide Pagination First Number    
$stepGuidePaginationLastNumberFontWeight: $typeFontWeightBold;
$stepGuidePaginationLastNumberMarginLeft: $spacingXXXSmall;
    // Step Guide Progress Bar
$stepGuideProgresssBarWidth: 100%; 
    // Step Guide Progress Bar Progress       
$stepGuideProgresssBarProgressHeight: 4px;
$stepGuideProgresssBarProgressWidth: 100%;
    // Step Guide Mobile
$stepGuideMobileHeight: 100vh;
$stepGuideMobileMaxHeight: 100vh;
$stepGuideMobileWidth: 100%;
    // Step Guide Close Bar Mobile
$stepGuideCloseBarPaddingMobile: 22px $spacingMedium;
    // Step Guide Close Bar Title Mobile
$stepGuideCloseBarTitleTextAlignMobile: center;
    // Step Guide Close Bar Title Mobile
$stepGuideContentPaddingMobile: $spacingMedium;

$stepGuideBorder: solid 1px $colorGrayLight;


$stepGuideSubTitleFontSize: 16px;
$stepGuideSubTitleColor: $colorGrayDarker;
$stepGuideSubTitleFontFamily: $typeFontFamily;
$stepGuideSubTitleMargin: 16px 0 0 0;
$stepGuideSubTitleLineHeight: 24px;
$stepGuideEyebrowLetterSpacing: 2px;