@mixin proto-loading($_bg) {
    @include prefixer(align-items, $loadingAlignment);
    background: $_bg;
    box-shadow: 0 3px 6px rgba($colorBlack, .10), 0 6px 12px rgba($colorBlack, .10);;
    border-radius: $loadingBorderRadius;
    @include flexbox();
    @include justify-content($loadingAlignment); 
    padding: $loadingPadding;
    @include prefixer(transition, all .3s ease-in-out);
    @include fit-content(width);
    z-index: 1;
}