.c-calendar {
  border: $calendarBorder;
  border-radius: $calendarBorderRadius;
  color: $calendarFontColor;
  font-family: $calendarFontFamily;
  width: $calendarWidth;

  &__arrow {
    color: $calendarArrowColor;
    cursor: pointer;
    font-size: $calendarArrowSize;
  }

  &__header {
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: $calendarHeaderPadding;
    width: 100%;
  }

  &__month-select {
    align-items: center;
    color: $calendarFontColor;
    display: flex;
    justify-content: center;
    margin: $calendarMonthSelectMargin;
    text-align: center;
  }

  &__month {
    margin: $calendarMonthMargin;
    width: $calendarMonthWidth;
  }

  &__body {
    padding-bottom: $calendarBodyPaddingBottom;
    font-size: $calendarFontSize;
  }

  &__days-of-week {
    border-bottom: $calendarBorder;
    display: flex;
    font-size: $calendarFontSize;
    font-weight: $calendarDaysOfWeekFontWeight;
    justify-content: space-around;
    margin-bottom: $calendarDaysOfWeekMarginBottom;
    padding: $calendarDaysOfWeekPadding;
  }

  &__week {
    display: flex;
    justify-content: space-around;
    padding: $calendarWeekPadding;
  }

  &__day {
    height: $calendarDaySize;
    width: $calendarDaySize;
    display: flex;
    align-items: center;
    justify-content: center;

    &--disabled {
      color: $calendarDisabledColor;
      cursor: not-allowed;
    }

    &--selected, &:hover {
      &:not(.c-calendar__day--disabled) {
        color: $calendarCircleFontColor;
        background: $calendarCircleColor;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}