$calendarBorder: solid 1px $colorGrayLight;
$calendarBorderRadius: 2px;
$calendarFontColor: $colorGrayDarker;
$calendarFontFamily: $typeFontFamily;
$calendarWidth: 340px;

$calendarArrowColor: $colorPrimaryBase;
$calendarArrowSize: 16px;

$calendarHeaderPadding: 16px 8px 0 8px;

$calendarMonthSelectMargin: 0 auto 16px auto;

$calendarMonthMargin: 8px 24px;
$calendarMonthWidth: 120px;

$calendarBodyPaddingBottom: 16px;

$calendarDaysOfWeekFontWeight: 500;
$calendarDaysOfWeekMarginBottom: 12px;
$calendarDaysOfWeekPadding: 8px 16px 16px 16px;

$calendarWeekPadding: 6px 16px;

$calendarDaySize: 32px;

$calendarCircleFontColor: $colorWhite;
$calendarCircleColor: $colorPrimaryBase;
$calendarFontSize: 12px;
$calendarDisabledColor: $colorGrayDark;