$wt-modal-component-tokens: (
    modalComponentsContainerWidth: 90%,
    modalComponentsContainerMaxWidth: 662px,
    modalComponentsContainerBorderRadius: 5px,
    modalComponentsContainerMargin: auto,
    modalComponentsContainerShadowRight: 2px,
    modalComponentsContainerShadowBottom: 22px,
    modalComponentsContainerShadowLeft: 6px,
    modalComponentsContainerShadowColor: #0000002e,
    modalComponentsContainerMedMaxWidth: 862px,
    modalComponentsContainerLargeMaxWidth: 1065px,
    modalHeaderBorderRadius: 5px,
    modalBodyPaddingHeight: 80px,
    modalBodyPaddingWidth: 30px,
    modalButtonWrapperPaddingTop: 40px,
    modalButtonWrapperButtonMargin: 5px,
    modalCloseIconButtonWidth: 36px,
    modalCloseIconButtonHeight: 36px,
    modalCloseIconTop: 8px,
    modalCloseIconRight: 5px,
    modalDescriptionLineHeight: 18px,
    modalFooterOverflow: hidden,
    modalMediaFooterHeight: 100px,
    modalDesktopFooterHeight: 212px
  );