$modalComponentsContainerMaxWidth: systemTheme(modalComponent ,modalComponentsContainerMaxWidth); 
$modalComponentsContainerWidth: systemTheme(modalComponent ,modalComponentsContainerWidth); 
$modalComponentsContainerBorderRadius: systemTheme(modalComponent ,modalComponentsContainerBorderRadius); 
$modalComponentsContainerMargin: systemTheme(modalComponent ,modalComponentsContainerMargin); 
$modalComponentsContainerShadowRight: systemTheme(modalComponent ,modalComponentsContainerShadowRight); 
$modalComponentsContainerShadowBottom: systemTheme(modalComponent ,modalComponentsContainerShadowBottom); 
$modalComponentsContainerShadowLeft: systemTheme(modalComponent ,modalComponentsContainerShadowLeft); 
$modalComponentsContainerShadowColor: systemTheme(modalComponent ,modalComponentsContainerShadowColor); 
$modalComponentsContainerMedMaxWidth: systemTheme(modalComponent ,modalComponentsContainerMedMaxWidth); 
$modalComponentsContainerLargeMaxWidth: systemTheme(modalComponent ,modalComponentsContainerLargeMaxWidth); 
$modalHeaderBorderRadius: systemTheme(modalComponent ,modalHeaderBorderRadius); 
$modalBodyPaddingHeight: systemTheme(modalComponent ,modalBodyPaddingHeight); 
$modalBodyPaddingWidth: systemTheme(modalComponent ,modalBodyPaddingWidth); 
$modalButtonWrapperPaddingTop: systemTheme(modalComponent ,modalButtonWrapperPaddingTop); 
$modalButtonWrapperButtonMargin: systemTheme(modalComponent ,modalButtonWrapperButtonMargin); 
$modalCloseIconButtonWidth: systemTheme(modalComponent ,modalCloseIconButtonWidth); 
$modalCloseIconButtonHeight: systemTheme(modalComponent ,modalCloseIconButtonHeight); 
$modalDescriptionLineHeight: systemTheme(modalComponent ,modalDescriptionLineHeight); 
$modalFooterOverflow: systemTheme(modalComponent ,modalFooterOverflow); 
$modalMediaFooterHeight: systemTheme(modalComponent ,modalMediaFooterHeight); 
$modalDesktopFooterHeight: systemTheme(modalComponent ,modalDesktopFooterHeight); 
$modalCloseIconTop: systemTheme(modalComponent ,modalCloseIconTop); 
$modalCloseIconRight: systemTheme(modalComponent ,modalCloseIconRight); 