$wt-review-input-tokens: (
    reviewInputFontColor: $colorGrayDarkest,
    reviewInputIconLinkFontColor: $colorSecondaryBlueBase,
    reviewInputContainerBackgroundColor: $colorGrayscaleGrayLighter,
    reviewInputContainerBorder: none,
    reviewInputContainerBorderRadius: 0,
    reviewInputLabelFontColor: $colorGrayDarkest,
    reviewInputLabelFontFamily: $typeFontFamily,
    reviewInputSecureToggleLinkFontColor: $colorSecondaryBlueBase,
    reviewInputFontSize: $typeScaleLarge,
    reviewInputLineHeightIncrease: 6px,
    reviewInputWidth: 100%,
    reviewInputIconLinkLineHeight: 1,
    reviewInputIconLinkMarginBottom: $spacingXSmall,
    reviewInputIconLinkFontSize: $typeScaleXSmall,
    reviewInputLabelFontSize: $typeScaleXSmall,
    reviewInputLabelFontWeight: $typeFontWeightMedium,
    reviewInputLabelMarginBottom: $spacingXSmall,
    reviewInputLabelMarginRight: $spacingXSmall,
    reviewInputMultiLineFontSize: $typeScaleMedium,
    reviewInputSecureToggleLinkFontSize: $typeScaleMedium,
  );