$reviewInputFontColor: systemTheme(review-inputs, reviewInputFontColor);
$reviewInputIconLinkFontColor: systemTheme(review-inputs, reviewInputIconLinkFontColor);
$reviewInputContainerBackgroundColor: systemTheme(review-inputs, reviewInputContainerBackgroundColor);
$reviewInputContainerBorderRadius: systemTheme(review-inputs, reviewInputContainerBorderRadius);
$reviewInputLabelFontColor: systemTheme(review-inputs, reviewInputLabelFontColor);
$reviewInputLabelFontFamily: systemTheme(review-inputs, reviewInputLabelFontFamily);
$reviewInputSecureToggleLinkFontColor: systemTheme(review-inputs, reviewInputSecureToggleLinkFontColor);
$reviewInputFontSize: systemTheme(review-inputs, reviewInputFontSize);
$reviewInputLineHeightIncrease: systemTheme(review-inputs, reviewInputLineHeightIncrease);
$reviewInputWidth: systemTheme(review-inputs, reviewInputWidth);
$reviewInputIconLinkLineHeight: systemTheme(review-inputs, reviewInputIconLinkLineHeight);
$reviewInputIconLinkMarginBottom: systemTheme(review-inputs, reviewInputIconLinkMarginBottom);
$reviewInputIconLinkFontSize: systemTheme(review-inputs, reviewInputIconLinkFontSize);
$reviewInputContainerBorder: systemTheme(review-inputs, reviewInputContainerBorder);
$reviewInputLabelFontSize: systemTheme(review-inputs, reviewInputLabelFontSize);
$reviewInputLabelFontWeight: systemTheme(review-inputs, reviewInputLabelFontWeight);
$reviewInputLabelMarginBottom: systemTheme(review-inputs, reviewInputLabelMarginBottom);
$reviewInputLabelMarginRight: systemTheme(review-inputs, reviewInputLabelMarginRight);
$reviewInputMultiLineFontSize: systemTheme(review-inputs, reviewInputMultiLineFontSize);
$reviewInputSecureToggleLinkFontSize: systemTheme(review-inputs, reviewInputSecureToggleLinkFontSize);