.c-card, .p-card {
  border: $cardBorder;
  border-radius: $cardBorderRadius;
  box-shadow: $cardShadowKey, $cardShadowAmbient;
  display: inline-block;
  margin: $cardMargin;
  // max-width: $cardSize;
  font-family: $cardFont;
  width: 100%;

  &__border-top {
    @extend .c-card;
    border-top: $cardBorderTop;
    border-radius: 0 0 $cardBorderRadius $cardBorderRadius;
    transition: all 0.3s ease-in-out;
  }

  &--hero {
    @extend .c-card;
    display: block;
    max-width: $cardHeroMobileMaxWidth;

    @media only screen and (min-width: $breakpoint--medium) {
      max-width: 100%;
      display: flex;
    }
  }


  &:hover {
    border-color: darken($cardHoverColor, $cardHoverDarkenValue);
  }

  &__body {
    padding: $cardBodyPadding;

    &--small {
      padding: $cardBodyPaddingSmall;
      flex-grow: 1;
    }

    &--hero {
      padding: $cardBodyPadding;
      width: auto;

      @media only screen and (min-width: $breakpoint--medium) {
        padding: $cardBodyPaddingHero;
        width: 50%;
      }
    }
  }

  &__img {
    border-radius: $cardImageBorderRadius;
    display: block;
    max-width: 100%;

    &--hero-desktop {
      display: none;

      @media only screen and (min-width: $breakpoint--medium) {
        display: block;
        width: 50%;
        border-radius: $cardImageBorderRadiusHero;
      }
    }

    &--hero-mobile {
      display: block;
      width: 100%;
      border-radius: $cardImageBorderRadiusHero;


      @media only screen and (min-width: $breakpoint--medium) {
        display: none;
      }
    }
  }

  &__eyebrow {
    color: $cardEyebrowColor;
    font-size: $cardEyebrowFontSize;
    text-transform: $cardEyebrowTextTransform;
  }

  &__title {
    color: $cardTitleColor;
    font-weight: $cardTitleFontWeight;
    font-size: $cardTitleFontSize;
    margin: $cardTitleMargin;

    &--small {
      text-align: center;
      margin: $cardTitleMarginSmall;
      color: $cardTitleColor;
    }

    &--hero {
      @include proto-title-2();
      margin: $cardTitleMarginHero;
    }

    &--actionable  {
      color: #007856;
      font-family: "M&T Balto";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;

      margin: 0;
      padding: 0;
      text-decoration: none;

      &-icon {
        font-size: 12px;
        padding: 0 2px;
      }
    }

  }

  &__title-sub {
    color: #333333;
    font-family: "M&T Balto";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  &__text {
    color: $cardTextColor;
    font-size: $cardTextFontSize;
    font-weight: $cardTextFontWeight;
    margin-bottom: $cardTextMarginBottom;
    text-align: left;
    width: 100%;
    line-height: $cardTextLineHeight;

    &--small {
      color: $cardTextColorSmall;
      font-size: $cardTextFontSizeSmall;
      font-weight: $cardTextFontWeightSmall;
      margin-bottom: $cardTextMarginBottomSmall;
      text-align: center;
      line-height: $cardTextLineHeightSmall;
    }
  }

  &__button-container {
    text-align: center;

    &--hero {
      display: block;

      @media only screen and (min-width: $breakpoint--medium) {
        display: flex;
        align-items: baseline;
      }
    }
  }

  &__button--primary {
    @include proto-button--primary();

    &--hero {
      @include proto-button--primary();
      width: 100%;

      @media only screen and (min-width: $breakpoint--medium) {
        width: 50%;
      }
    }
  }

  &__button--default {
    @include proto-button();
    margin-top: $cardButtonDefaultMarginTop;

    &--hero {
      @include proto-button();
      width: 100%;
      margin-left: $cardButtonDefaultMarginLeftHeroMobile;
      margin-top: $cardButtonDefaultMarginTop;

      @media only screen and (min-width: $breakpoint--medium) {
        width: 50%;
        margin-left: $cardButtonDefaultMarginLeftHero;
      }

    }
  }

  &__button--link {
    margin-top: $cardLinkMarginTop;
    display: inline-block;
    color: $cardLinkColor;
  }

}
.c-horizontal-list {
  align-items: center;
  border-top: 1px solid #D7D7D7;
  justify-content: space-evenly;
  
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 0;
  width: 100%;

  @media only screen and (min-width: $breakpoint--medium) {
    border: none;
    width: max-content;
    justify-content: flex-end;
    margin: 0;
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 12px 0;
    @media only screen and (min-width: $breakpoint--medium) {
      padding: 12px;
    }
    text-align: center;
    width: max-content;
  } 

  &__link {
    text-align: center;
    text-decoration: none;
  }

  &__icon {
    color: #007856;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    padding: 0 8px;
    @media only screen and (min-width: $breakpoint--medium) {
      display: block;
      font-size: 24px;
      vertical-align: baseline;
      padding: 0;
    }
  }

  &__text {
    color: #007856;
    display: inline-block;

    @media only screen and (min-width: $breakpoint--medium) {
      display: block;
    }
    font-family: "M&T Balto";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
  } 
}

.c-drop-down {
  @include prefixer(box-sizing, border-box);
  width: 100%;

  &__field {
    padding: 16px;
    display: flex;
    flex-basis: auto;
  }

  &__content{
    flex-grow: 1;
  }

  &__toggle {
    align-self: center;
    border: none;
    background: #fff;
    font-size: 24px;
    color: #007856;
    padding: 20px;
    height: 100%;
  }
  &__menu {
    display: none;
    @include prefixer(box-sizing, border-box);

    &-item {
      background: #fff;
      border: none;
      border-top: 1px solid #efefef;
      @include prefixer('box-sizing', border-box);
      cursor: pointer;
      text-decoration: none;

      display: flex;
      flex-basis: auto;

      padding: 16px;
      width: 100%;

      color: #333333;
      font-family: "M&T Balto";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;

      &-main {
        flex-grow: 1;
        text-align: left;
      }

      &-alt {
        font-weight: 300;
        text-align: right;
      }

      &:hover {
        color: #fff;
        background: #007856;
      }

    }    
  }
}