$toggleContainerBorderBottomColor:systemTheme(toggle,toggleContainerBorderBottomColor);
$toggleContainerBorderSize:systemTheme(toggle,toggleContainerBorderSize);
$toggleContainerColor:systemTheme(toggle,toggleContainerColor);
$toggleContentTop:systemTheme(toggle,toggleContentTop);
$toggleSectionColor:systemTheme(toggle,toggleSectionColor);
$toggleSectionPaddingBottom:systemTheme(toggle,toggleSectionPaddingBottom);
$toggleSelectedBorderColor:systemTheme(toggle,toggleSelectedBorderColor);
$toggleSelectedBorderSize:systemTheme(toggle,toggleSelectedBorderSize);
$toggleSelectedBottom:systemTheme(toggle,toggleSelectedBottom);
$toggleSelectedLeft:systemTheme(toggle,toggleSelectedLeft);
$subToggleBorderRight:systemTheme(toggle,subToggleBorderRight);
$toggleFontWeight:systemTheme(toggle,toggleFontWeight);