@import 'var-notification';

@mixin notificationBase($_colorMain, $_colorBase, $_textColor, $_shadow:false) {
  background-color: $_colorMain;
  border: $notificationBorderLeftSize $notificationBorderStyle $_colorBase;
  border-radius: $notificationBorderRadiusSize;
  font-family: $notificationFontFamily;
  font-size: $notificationFontSize;
  font-weight: $notificationFontWeight;
  line-height: $notificationLineHeight;
  color: $_textColor;
  padding: $notificationContentPadding;
  @if $_shadow  {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
  }

  @include flexbox();
}
.c-notification {
  &--info {
    @if $isMTB == true {
      @include notificationBase(
        $notificationBaseMainColor,
        $notificationBaseBaseColor,
        $notificationFontColor,
        $_shadow: true
      );
    }
    @include notificationBase(
        $notificationBaseMainColor,
        $notificationBaseBaseColor,
        $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationBaseBaseColor;
    }
  }

  &--success {
    @if $isMTB == true {
      @include notificationBase(
        $notificationSuccessMainColor,
        $notificationSuccessBaseColor,
        $notificationFontColor,
        $_shadow: true
      );
    }
    @include notificationBase(
      $notificationSuccessMainColor,
      $notificationSuccessBaseColor,
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationSuccessBaseColor;
    }
  }

  &--warning {
    @if $isMTB == true {
      @include notificationBase(
        $notificationWarningMainColor,
        $notificationWarningBaseColor,
        $notificationFontColor,
        $_shadow: true
      );
    }
    @include notificationBase(
      $notificationWarningMainColor,
      $notificationWarningBaseColor,
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationWarningBaseColor;
    }
  }

  &--error {
    @if $isMTB == true {
      @include notificationBase(
        $notificationErrorMainColor, 
        $notificationErrorBaseColor, 
        $notificationFontColor,
        $_shadow: true
      );
    }
    @include notificationBase(
      $notificationErrorMainColor, 
      $notificationErrorBaseColor, 
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationErrorBaseColor;
    }
  }

  &--inline-info {
    @include notificationBase(
      $notificationInlineBaseMainColor,
      $notificationInlineBaseBaseColor,
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationInlineBaseBaseColor;
    }
  }

  &--inline-success {
    @include notificationBase(
      $notificationInlineSuccessMainColor,
      $notificationInlineSuccessBaseColor,
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationInlineSuccessBaseColor;
    }
  }

  &--inline-warning {
    @include notificationBase(
      $notificationInlineWarningMainColor,
      $notificationInlineWarningBaseColor,
      $notificationFontColor
    );
    .c-notification__icon {
      color: $notificationInlineWarningBaseColor;
    }
  }

  &--inline-error {
    @include notificationBase(
      $notificationInlineErrorMainColor, 
      $notificationInlineErrorBaseColor, 
      $notificationFontColor);
      .c-notification__icon {
        color: $notificationInlineErrorBaseColor;
      }
  }

  &__icon {
    align-self: $notificationAlignSelf;
    margin-left: $notificationIconMarginLeftRight;
    margin-right: $notificationIconMarginLeftRight;
    font-size: $notificationIconFontSize;
    line-height: $notificationIconLineHeight;
    margin-top: $notificationIconMarginTop;
  }

  &__content {
    align-self: $notificationAlignSelf;
    padding-left: $notificationContentPadding;
  }
}