$wt-banner-tokens: (
    bannerScrollableContainerOverflow: auto,
    bannerScrollableContainerMinWidth: 100%,
    bannerTooltipBorderStyle: solid,
    bannerTooltipBorderColor: $colorPrimaryBase,
    bannerTooltipBorderWidth: 4px,
    bannerTooltipBorderTop: 6px,
    bannerTooltipLeft: 50%,
    bannerTooltipTop: 100%,
    bannerTooltipZIndex: 99,
    bannerExpandIconWidth: 40px,
    bannerExpandIconHeight: 40px,
    bannerClientCardPaddingRight: $spacingXXLarge,
    bannerClientCardBorderListStyle: none,
    bannerClientCardBorderBgImageColorStart: #eaf7ed,
    bannerClientCardBorderBgImageColorEnd: #ffffff00,
    bannerClientCardBorderBgSizeHeight: 8px,
    bannerClientCardBorderBgSizeWidth: 1px,
    bannerItemPadding: $spacingLarge,
    bannerItemWidth: 100%,
    bannerEstimatedAnnualIncomePaddingTop: $spacingLarge,
    bannerTotalValuePaddingBottom: $spacingLarge,
    bannerChartContentMaxWidth: 500px,
    bannerChartContentWidth: 100%,
    bannerToggleIconsTop: -7px,
    bannerToggleIconsRight: -18px,
    bannerButtonCursor: pointer,
    bannerButtonSelected: $colorSecondaryBase,
    bannerToggleIconsPadding: $spacingXXSmall,
    bannerToggleIconsBorderHeight: $spacingMedium,
    bannerToggleIconsBorderWidth: 1px,
    bannerToggleIconsBorderBgColor: $colorSecondaryCream,
    bannerToggleIconsBorderTop: 4px,
    bannerChartLegendItemHeight: 8px,
    bannerChartLegendItemWidth: 8px,
    bannerChartLegendItemBorderRadius: 50%,
    bannerChartLegendItemMarginRight: 5px,
    bannerMediaMinWidth: 110px,
    bannerMediaPaddingRight: 70px,
    bannerMediaWidth: auto,
    bannerMediaMinWidthAmount: 200px,
    bannerMediaTextAlign: left,
    bannerMediaPaddingTop: 0,
    bannerMediaPaddingBottom: 0,
    bannerMediaChartLegendWidth: 49%,
    bannerMediaChartLegendVerticalAlign: top,
    bannerMediaChartLegendMinWidth: 150px
  );