$wt-sidenav-tokens: (
    sideNavBoxShadowRight: 2px,
    sideNavBoxShadowBottom: 8px,
    sideNavBoxShadow: #0000002e,
    sideNavMaxWidth: 411px,
    sideNavWidth: 100%,
    sideNavContractedWidth: 48px,
    sideNavContractedBoxShadow: none,
    sideNavContractedMinHeight: 0,
    sideNavSublistPaddingLeft: 94px,
    sideNavSubitemPaddingTop: $spacingMedium,
    sideNavSubitemPaddingBottom: $spacingMedium,
    sideNavItemClosePaddingTop: $spacingMedium,
    sideNavItemRightPaddingRight: $spacingMedium
  );