$sideNavBoxShadowRight:systemTheme(sidenav,sideNavBoxShadowRight);
$sideNavBoxShadowBottom:systemTheme(sidenav,sideNavBoxShadowBottom);
$sideNavBoxShadow:systemTheme(sidenav,sideNavBoxShadow);
$sideNavMaxWidth:systemTheme(sidenav,sideNavMaxWidth);
$sideNavWidth:systemTheme(sidenav,sideNavWidth);
$sideNavContractedBoxShadow:systemTheme(sidenav,sideNavContractedBoxShadow);
$sideNavContractedWidth:systemTheme(sidenav,sideNavContractedWidth);
$sideNavContractedMinHeight:systemTheme(sidenav,sideNavContractedMin);
$sideNavSublistPaddingLeft:systemTheme(sidenav,sideNavSublistPaddingLeft);
$sideNavSubitemPaddingTop:systemTheme(sidenav,sideNavSubitemPaddingTop);
$sideNavSubitemPaddingBottom:systemTheme(sidenav,sideNavSubitemPaddingBottom);
$sideNavItemClosePaddingTop:systemTheme(sidenav,sideNavItemClosePaddingTop);
$sideNavItemRightPaddingRight:systemTheme(sidenav,sideNavItemRightPaddingRight);