.c-sidenav {
    @if $isWTC == true {
      position: absolute;
      box-shadow: 0 $sideNavBoxShadowRight $sideNavBoxShadowBottom 0 $sideNavBoxShadow;
      max-width: $sideNavMaxWidth;
      width: $sideNavWidth;

      &__open {
        display: none;
      }

      &--contracted {
        width: $sideNavContractedWidth;
        box-shadow: $sideNavContractedBoxShadow;
        min-height: $sideNavContractedMinHeight;

        .c-sidenav__open {
          display: flex;
        }

        .c-sidenav__menu {
          display: none;  
        }
      }

      &__list {
        list-style: none;
      }

      &__sub-list {
        padding: 0 0 0 $sideNavSubitemPaddingTop;
      }

       &__sub-item {
        padding: $sideNavSubitemPaddingTop 0 $sideNavSubitemPaddingBottom;
      }

      &__item-close {
        position: absolute;
        top: $sideNavItemClosePaddingTop;
        right: $sideNavItemRightPaddingRight;
      }
    }
}