$wt-tooltip-tokens: (
    tooltipBackgroundColor: $colorPrimaryBase,
    tooltipFontSize: $typeScaleXSmall,
    tooltipTopLeft: calc(50% - 5px),
    tooltipRightTop: $spacingSmall,
    tooltipLeftTop: $spacingSmall,
    tooltipBottomLeft: calc(50% - 5px),
    tooltipTitleFontSize: $typeScaleMedium,
    tooltipIconContentFontSize: $typeScaleMedium,
    tooltipShadow: none,
    tooltipContentFontWeight: $typeFontWeightRegular,
    tooltipContentColor: $colorGrayscaleWhite,
    tooltipContentParagraphLineHeight: $typeScaleLarge,
    tooltipContentParagraphMargin: 0,
    tooltipContentParagraphFontWeight: $typeFontWeightRegular,
    tooltipContentParagraphColor: $colorGrayscaleWhite,
    tooltipIconContentParagraphLineHeight: $typeScaleLarge,
    tooltipIconContentParagraphMargin: 0,
    tooltipIconContentParagraphColor: $colorGrayscaleWhite,
    tooltipTitleColor: $colorGrayscaleWhite
  );