$tooltipBackgroundColor: systemTheme(tooltip, tooltipBackgroundColor);
$tooltipFontSize: systemTheme(tooltip, tooltipFontSize);
$tooltipTopLeft: systemTheme(tooltip, tooltipTopLeft);
$tooltipRightTop: systemTheme(tooltip, tooltipRightTop);
$tooltipLeftTop: systemTheme(tooltip, tooltipLeftTop);
$tooltipBottomLeft: systemTheme(tooltip, tooltipBottomLeft);
$tooltipTitleFontSize: systemTheme(tooltip, tooltipTitleFontSize);
$tooltipIconContentFontSize: systemTheme(tooltip, tooltipIconContentFontSize);
$tooltipShadow: systemTheme(tooltip, tooltipShadow);
$tooltipContentFontWeight: systemTheme(tooltip, tooltipContentFontWeight);
$tooltipContentColor: systemTheme(tooltip, tooltipContentColor);
$tooltipContentParagraphLineHeight: systemTheme(tooltip, tooltipContentParagraphLineHeight);
$tooltipContentParagraphMargin: systemTheme(tooltip, tooltipContentParagraphMargin);
$tooltipContentParagraphFontWeight: systemTheme(tooltip, tooltipContentParagraphFontWeight);
$tooltipContentParagraphColor: systemTheme(tooltip, tooltipContentParagraphColor);
$tooltipIconContentParagraphLineHeight: systemTheme(tooltip, tooltipIconContentParagraphLineHeight);
$tooltipIconContentParagraphMargin: systemTheme(tooltip, tooltipIconContentParagraphMargin);
$tooltipIconContentParagraphColor: systemTheme(tooltip, tooltipIconContentParagraphColor);
$tooltipTitleColor: systemTheme(tooltip, tooltipTitleColor);