$progressBarLabelFontFamily: $fontFace;
$progressBarProgressColor: $colorPrimaryLight;
$progressBarProgressValueBackground: $colorPrimaryLight;
$progressBarProgressMarginLeft: $spacingXSmall;
$progressBarBackground: none;
$progressBarMsFillBorder: none;