@mixin proto-radio {    
    font-family: $radioFontFamily;
    font-size: $radioFontSize;
    font-weight: $radioFontWeight;
    color: $radioFontColor;
}

@mixin proto-radio-label {   
    cursor: pointer;    
    line-height: $radioLabelLineHeight;    
    position: relative;
    padding: $radioLabelPadding;

}

@mixin proto-radio-input-border {
    content: '';
    position: absolute;  
    border-radius: $radioInputBorderRadius;
    border: $radioInputBorder;
    width: $radioInputWidth;
    height: $radioInputHeight;
}

@mixin proto-radio-input-fill {
    content: '';
    position: absolute;
    border-radius: $radioFillBorderRadius;
    width: $radioFillWidth;
    height: $radioFillHeight;
}