  // Proto Radio
  $radioFontFamily: $typeFontFamily;
  $radioFontSize: $typeScaleMedium;
  $radioFontColor: $colorGrayDarker;
  $radioFontWeight: $typeFontWeightMedium;  
  
  // Proto Radio Label
  $radioLabelLineHeight: $spacingLarge;
  $radioLabelPadding: $spacingMedium $spacingMedium $spacingMedium 52px;

  // Proto Radio Input Border 
  $radioInputBorderRadius: 50%;
  $radioInputBorder: $spacingXXXSmall solid $colorPrimaryBase;
  $radioInputWidth: $spacingLarge;
  $radioInputHeight: $spacingLarge;  
  
  // Proto Radio Input Fill
  $radioFillLeft: -28px;
  $radioFillTop: 1px;
  $radioFillBorderRadius: 50%;
  $radioFillWidth: $spacingMedium;
  $radioFillHeight: $spacingMedium;

  // Radio Group Container
  $radioGroupContainerMarginBottom: -1px;
  $radioGroupContainerBorderRadius: 0px;

  // Radio Group Container None
  $radioGroupContainerNoneMarginBottom: $spacingLarge;
  
  // Radio Group Container Label
  $radioGroupContainerLabelHeightMobile: 55px;

  // Radio Group Container None Label Before
  $radioGroupContainerNoneLabelBeforeTop: 10px;
  $radioGroupContainerNoneLabelBeforeLeft: $spacingMedium;  

  // Radio Group Container None Label After
  $radioGroupContainerNoneLabelAfterTop: $spacingMedium;
  $radioGroupContainerNoneLabelAfterLeft: 22px;

  // Radio Group Container Label Before
  $radioGroupContainerLabelBeforeTop: 13px;
  $radioGroupContainerLabelBeforeLeft: $spacingMedium;  

  // Radio Group Container Label After
  $radioGroupContainerLabelAfterTop: 19px;
  $radioGroupContainerLabelAfterLeft: 22px;

  // Radio Group Container First Child
  $radioGroupContainerFirstChildBorderRadius: $spacingXXXSmall $spacingXXXSmall 0 0;

  // Radio Group Container Last Child
  $radioGroupContainerLastChildBorderRadius: 0 0 $spacingXXXSmall $spacingXXXSmall;

  // Radio Group Container Text
  $radioGroupContainerTextFontWeight: $typeFontWeightLight;
  $radioGroupContainerTextMarginLeft: $spacingMedium;
  $radioGroupContainerTextMarginMobile: 0;

  // Radio Group Container Text Input  
  $radioGroupContainerTextInputBackgroundColor: $colorWhite;
  $radioGroupContainerTextInputBorderRadius: $spacingXXXSmall;
  $radioGroupContainerTextInputColor: $colorGrayDarker;
  $radioGroupContainerTextInputFontSize: $typeScaleMedium;
  $radioGroupContainerTextInputHeight: $typeScaleXLarge;
  $radioGroupContainerTextInputMarginLeft: $spacingMedium;
  $radioGroupContainerTextInputPadding: $spacingXSmall;  
  $radioGroupContainerTextInputTop: 17px;
  $radioGroupContainerTextInputLeft: 113px;
  $radioGroupContainerTextInputDisabledColor: $colorGrayLighter;
  $radioGroupContainerTextInputTopMobile: 46px;
  $radioGroupContainerTextInputLeftMobile: 36px;
  $radioGroupContainerTextInputMarginLeftLeftMobile: 0;

  // Radio Default Input 
  $radioDefaultInputHeight: 0;
  $radioDefaultHeightOpacity: 0;
  $radioDefaultInputWidth: 0;

  // Radio Checked 
  $radioCheckedBackground: $colorPrimaryBase;  
  $radioButtonAnimationName: bounceIn;
  $radioButtonAnimationDuration: 0.75s;
  $radioButtonAnimationFillMode: both;


  @if $isWTC {
    $radioFontSize: $typeScaleSmall;
    $radioFontColor: $colorPrimaryBase;
    $radioFontWeight: 400;

    $radioInputBorder: 1px solid $colorGrayscaleGrayBase;
    $radioGroupContainerBorderRadius: $spacingXXSmall;

    $radioFillLeft: -27px;
    $radioFillTop: $spacingXXXSmall;

    $radioGroupContainerNoneLabelAfterTop: 15px;
    $radioGroupContainerNoneLabelAfterLeft: 21px;

    $radioGroupContainerLabelAfterTop: 18px;
    $radioGroupContainerLabelAfterLeft: 21px;

    $radioGroupContainerFirstChildBorderRadius: $spacingXXSmall;
    $radioGroupContainerLastChildBorderRadius: $spacingXXSmall;

    $radioGroupContainerTextInputBorderRadius: $spacingXXSmall;
    $radioGroupContainerTextInputColor: $colorGrayDarkest;
    $radioGroupContainerTextInputDisabledColor: #efefef;
   
    $radioGroupContainerMarginBottom: 16px;

    $radioGroupContainerTextFontWeight: $typeFontWeightRegular;
  }