$wt-header-tokens: (
    headerBackgroundColor: $colorPrimaryBase,
    headerWidth: 100%,
    headerHeight: 59px,
    headerLogoPosition: left,
    headerLogoHeight: 31px,

    headerMenuPadding: 0,
    headerMenuItemBackground: $colorGrayLightest,
    headerMenuItemColor: $colorGrayscaleWhite,
    headerMenuItemColorHover: $colorSecondaryBase,
    headerMenuItemFont:  $typeFontFamily,
    headerMenuItemFontSize: $typeScaleSmall,
    headerMenuItemPadding: 0 $spacingLarge,
    headerMenuItemMargin: 0,
    headerMenuItemLineColor: $colorSecondaryBase,
    headerMenuItemLineHeight: 2px,
    headerMenuItemLineWidth: calc(100% - 48px),
    headerMenuItemOrigin: center,
    headerMenuItemPositionBtm: 15px, 
    headerMenuItemPositionLft: 24px,
    headerMenuItemTextMargin: 0,

    headerSubmenuBackground: $colorPrimaryBase,
    headerSubmenuBackgroundResponsive: $colorGrayscaleWhite,
    headerSubmenuColor: $colorGrayscaleWhite,
    headerSubmenuFontWeight: 300,
    headerSubmenuLinkWidth: 100%,
    
    headerSubmenuTopBorderColor: $colorPrimaryLight,
    headerResponsiveLinkColor: $colorPrimaryBase,
    headerResponsiveLinkColorHover: $colorSecondaryBase,
);