$headerBackgroundColor: systemTheme(header, headerBackgroundColor);
$headerWidth: systemTheme(header, headerWidth);
$headerHeight: systemTheme(header, headerHeight);
$headerLogoHeight: systemTheme(header, headerLogoHeight);

$headerMenuPadding: systemTheme(header, headerMenuPadding);
$headerMenuItemBackground: systemTheme(header, headerMenuItemBackground);
$headerMenuItemColor: systemTheme(header, headerMenuItemColor);
$headerMenuItemColorHover: systemTheme(header, headerMenuItemColorHover);
$headerMenuItemFont: systemTheme(header, headerMenuItemFont);
$headerMenuItemFontSize: systemTheme(header, headerMenuItemFontSize);
$headerMenuItemPadding: systemTheme(header, headerMenuItemPadding);
$headerMenuItemMargin: systemTheme(header, headerMenuItemMargin);
$headerMenuItemLineColor: systemTheme(header, headerMenuItemLineColor);
$headerMenuItemLineHeight: systemTheme(header, headerMenuItemLineHeight);
$headerMenuItemLineWidth: systemTheme(header, headerMenuItemLineWidth);
$headerMenuItemOrigin: systemTheme(header, headerMenuItemOrigin);
$headerMenuItemPositionBtm: systemTheme(header, headerMenuItemPositionBtm);
$headerMenuItemPositionLft: systemTheme(header, headerMenuItemPositionLft);
$headerMenuItemTextMargin: systemTheme(header, headerMenuItemTextMargin);
$headerSubmenuBackground: systemTheme(header, headerSubmenuBackground);
$headerSubmenuBackgroundResponsive: systemTheme(header, headerSubmenuBackgroundResponsive);
$headerSubmenuColor: systemTheme(header, headerSubmenuColor);
$headerSubmenuFontWeight: systemTheme(header, headerSubmenuFontWeight);
$headerSubmenuLinkWidth: systemTheme(header, headerSubmenuLinkWidth);
$headerSubmenuTopBorderColor: systemTheme(header, headerSubmenuTopBorderColor);
$headerResponsiveLinkColor: systemTheme(header, headerResponsiveLinkColor);
$headerResponsiveLinkColorHover: systemTheme(header, headerResponsiveLinkColorHover);