.c-text-content {

    &-lead {
        &--normal {
            @include proto-type-lead();
            color: $typeNormalColor;
        }

        &--light {
            @include proto-type-lead();
            color: $typeLightColor;
        }
    }

    &-body {
        &--normal {
            @include proto-type-body();
            color: $typeNormalColor;
        }

        &--light {
            @include proto-type-body();
            color: $typeLightColor;
        }
    }

    &-caption {
        &--normal {
            @include proto-type-caption();
            color: $typeNormalColor;
                @if $isWTC {
                    color: $typeCaptionNormalColor;
                }
        }

        &--subtle {
            @include proto-type-caption();
            color: $typeSubtleColor;

        }

        &--light {
            @include proto-type-caption();
            color: $typeLightColor;
        }
    }
}