// Change with caution, these are used throughout multiple instances.
// Alter only if you are certain that the change should cascade to all instances within all components and elements.
// Most edits to prototypes should be extending by adding variations rather than altering current code

@mixin proto-type() {
    // Display Settings
    box-sizing: $typeBoxSizing;
    display: $typeDisplay;
    margin: $typeMargin;
    padding: $typePadding;

    // Font Settings
    font-family: quote($typeFontFamily), Helvetica, Arial, sans-serif;
    font-style: $typeFontStyle;
    font-variant: $typeFontVariant;
    font-weight: $typeFontWeight;

    // Text Display
    text-decoration: $typeTextDecoration;
    text-indent: $typeTextIndent;
    text-rendering: $typeTextRendering;
    text-shadow: $typeTextShadow;

    // Spacing
    letter-spacing: $typeLetterSpacing;
    line-height: $typeLineHeight;
    word-spacing: $typeWordSpacing;
    white-space: normal;

    // Alignment
    direction: $typeDirection;
    text-align: $typeTextAlign;
    vertical-align: $typeVerticalAlign;
}


@mixin proto-type-lead() {
    @include proto-type();
    font-size: $typeLeadFontSize;
    font-weight: $typeLeadFontWeight;
    line-height: $typeLeadLineHeight;
}

@mixin proto-type-body() {
    @include proto-type();
    font-size: $typeBodyFontSize;
    font-weight: $typeBodyFontWeight;
    line-height: $typeBodyLineHeight;
}

@mixin proto-type-caption() {
    @include proto-type();
    font-size: $typeCaptionFontSize;
    font-weight: $typeCaptionFontWeight;
    line-height: $typeCaptionLineHeight;
}