// Primary
$colorPrimaryBase: #425968;
$colorPrimaryLight: #7c8a98; // Remove???
// Secondary
$colorSecondaryBase: #c53e0d;
$colorSecondaryBlueBase: #3253a4;
$colorSecondaryLight: #f16521; // Remove???
$colorSecondaryCream: #edece4; // Remove???
// Semantic
$colorSemanticGreenBase: #327E75;
$colorSemanticOrangeBase: #B55612;
$colorSemanticRedBase: #dd012c;
$colorSemanticGreenLight: #e1edd9; // NEW
$colorSemanticOrangeLight: #fde8de; // NEW
$colorSemanticRedLight: #fad9e0; // NEW

// Grayscale Replacing Old Grayscale
$colorGrayscaleGrayBase: #697786; //$colorGrayBase: #697480;
$colorGrayscaleGrayLight: #e0e9ed; //$colorGrayLight: #adb8bf;
$colorGrayscaleGrayLighter: #f5f8fa; //$colorGrayLighter: #edf4f7;
$colorGrayscaleGrayDark: #636363; //$colorGrayDark: #545d66;

// Removed not being used
//$colorGrayscaleGrayDarker: #767676; //$colorGrayDarker: #3f464c;

$colorGrayscaleBlack: #010000; //$colorBlack: #010000;
$colorGrayscaleWhite: #ffffff; //$colorWhite: #ffffff;
$colorGrayscaleWhiteDark: #f3f4f5; // NEW

//Graphic
$colorGraphicOrangeLight: #ffae52;
$colorGraphicPurpleBase: #60517e;
$colorGraphicPurpleLight: #b3aed0;
$colorGraphicVioletBase: #60517e;
$colorGraphicVioletLight: #bd9cb6;
$colorGraphicPinkBase: #b23e62;
$colorGraphicPinkLight: #d99ca3;
$colorGraphicOliveBase: #989e36;
$colorGraphicOliveLight: #d8d488;
$colorGraphicGreenBase: #6c8c7c;
$colorGraphicGreenLight: #bcc8b2;
$colorGraphicBlueBase: #3253a4;
$colorGraphicBlueLight: #a7b7de;
$colorBlack: #010000;
$colorWhite: #ffffff;

// Asset Colors
$colorAssetPrivateMarkets: #60517e;
$colorAssetHedgeFunds: #6e295b;
$colorAssetCash: #d85427;
$colorAssetRealAssets: #989e36;
$colorAssetFixedIncome: #6c8c7c;
$colorAssetEquities: #3253a4;
$colorAssetOther: #95a0a8;


//  GrayScale these should be replaced with new Grayscale variables
// Placeholder Text
$colorGrayBase: #697480; // Replacing
$colorGrayBase2: #6c7784; //Removing
// Border 
$colorGrayBase3: #7c8a98; //Removing replace with $colorGrayscaleGrayBase
$colorGrayDark: #545d66; // Replacing
$colorGrayDarker: #3f464c; // Replacing
// Text Fill
$colorGrayDarkest: #2a2e33; //Removing
$colorGrayLight: #adb8bf; // Replacing
$colorGrayLighter: #edf4f7; // Replacing
$colorGrayLightest: #f5f8fa; //Removing
// Border Fails
$colorGrayBorder: #E0E9ED;

// Button Focus keep but rename???
$colorButtonFocus: #B7E1FF;