$wt-flyout-menu-tokens: (
    flyOutListItemPadding: $spacingXSmall,
    flyOutListItemColor: inherit,
    flyOutListItemTextDecoration: underline,
    flyOutContainerTop: 1px,
    flyOutContainerRight: -61px,
    flyOutContainerZIndex: -1,
    flyOutDropDownTop: 40px,
    flyOutDropDownShadowColor: #42596866,
    flyOutDropDownShadowWidth: 2px,
    flyOutDropDownWidth: 123px,
    flyOutDropDownBottom: 100%,
    flyOutDropDownBorderType: Solid,
    flyOutDropDownBorderColor: transparent,
    flyOutDropDownHeight: 0,
    flyOutDropDownBeforeWidth: 0,
    flyOutDropDownBeforeColor: #719ece00,
    flyOutDropDownBeforeBorderBottomColor: $colorGrayscaleGrayLight,
    flyOutDropDownBeforeBorderWidth: 8px,
    flyOutDropDownBeforeLeft: 50%,
    flyOutDropDownBeforeMarginLeft: -8px,
    flyOutDropDownAfterBorderColor: #ffffff00,
    flyOutDropDownAfterBorderBottomColor: $colorGrayscaleWhite,
    flyOutDropDownAfterBorderWidth: 7px,
    flyOutDropDownAfterLeft: 50%,
    flyOutDropDownAfterMarginLeft: -7px
  );