$textFieldBorderColor: $colorGrayLight;
$textFieldBorderRadius: 2px;
$textFieldFontFamily: $typeFontFamily;
$textFieldFontColor: $colorGrayDarker;
$textFieldDisabledBackgroundColor: $colorGrayLighter;
$textFieldDisabledTextColor: $colorGrayDarker;
$textFieldDisabledBorderColor: $colorGrayLight;
$textFieldInputFontColor: $colorGrayBase;
$textFieldPlaceholderFontColor: $colorGrayDark;
$textAreaPlaceholderFontColor: $colorGrayDark;
$textAreaFontColor: $colorGrayLight;
$textFieldAppearance: none;
$textFieldBackgroundClip: padding-box;
$textFieldBorderSize: 1px;
$textFieldBorderStyle: solid;
$textFieldDisplay: block;
$textFieldLineHeight: 1.5;
$textFieldHeight: auto;
$textFieldMargin: 0;
$textFieldPadding: $spacingXSmall $spacingXSmall;
$textFieldTransitionBorderColor: border-color 0.15s ease-in-out;
$textFieldTransitionBoxShadow: box-shadow 0.15s ease-in-out;
$textFieldVerticalAlign: top;
$textFieldWidth: 100%;
$textFieldPosition: relative;
$textFieldDisabledCursor: not-allowed;
$textAreaHeight: 5em;
$textAreaResize: none;
$textFieldFontSize: $typeScaleMedium;
$textFieldFontWeight: $typeFontWeightLight;
$textFieldBackgroundColor: $colorWhite;
$textFieldFocusBoxShadow: none;
$textAreaFocusBoxShadow: none;

$textFieldErrorBorderSize: 1px;
$textFieldErrorBorderStyle: solid;
$textFieldErrorBorderColor: #be4940;
$textFieldErrorInputColor: #be4940;

@if $isWTC {
    $textFieldFontSize: $typeScaleSmall;
    $textFieldErrorBorderColor: $colorSemanticRedBase;
    $textFieldErrorInputColor: $colorSemanticRedBase;
    $textFieldFontWeight: $typeFontWeightRegular;
}


@if $isWTC {
    $textFieldBorderColor: $colorGrayscaleGrayBase;
    $textFieldBorderRadius: 4px;
    $textFieldFontColor: $colorGrayDarker;
    $textFieldDisabledBackgroundColor: #E0E9ED;
    $textFieldDisabledTextColor: $colorGrayscaleGrayDark;
    $textFieldDisabledBorderColor: $colorGrayscaleGrayDark;
    $textAreaFontColor: #d7d7d7;
    $textFieldFontWeight: $typeFontWeightRegular;
    $textFieldFocusBoxShadow: $focusBoxShadow;
    $textAreaFocusBoxShadow: $focusBoxShadow;
}