$wt-group-grid-tokens: (
    groupedgridheaderBgColor: $colorGrayscaleWhite,
    groupedgridheaderColor: $colorGrayscaleGrayBase,
    groupedgridheaderFontSize: $typeScaleXSmall,
    groupedgridheaderBorderBottomWidth: 1px,
    groupedgridheaderBorderBottomStyle: Solid,
    groupedgridheaderBorderBottomColor: #e0e9ed,
    groupedgridheaderStackedLineHeight: 12px,
    groupedgridExpandedWidth: 24px,
    groupedgridExpandedHeight: 24px,
    groupedgridExpandedLeft: -8px,
    groupedgridRowPaddingLeft: 20px,
    groupedgridRowOddBg: $colorGrayscaleWhite,
    groupedgridRowHoverBg: $colorGrayLightest,
    groupedgridRowLevel0Bg: $colorGrayscaleWhite,
    groupedgridRowLevel1Bg: $colorGrayscaleWhite,
    groupedgridRowLevel2Bg: $colorGrayLightest,
    groupgridCellPaddingTop: $spacingSmall,
    groupgridCellPaddingBottom: $spacingSmall,
    groupgridItrPaddingLeft: 25px,
    groupgridInnerPaddingHeight: 10px,
    groupgridInnerColor: $colorGraphicBlueBase,
    groupgridInnerPadding: 10px,
    groupgridChartBorderBottomWidth: 1px,
    groupgridChartBorderBottomType: dotted,
    groupgridChartBorderBottomColor: $colorGrayscaleGrayBase,
    groupgridChartBg: #00ffff,
    groupgridDotWidth: 8px,
    groupgridDotHeight: 8px,
    groupgridDotBorderRadius: 50%,
    groupgridDotMarginRight: $spacingXSmall,
    groupgridFloatingColor: $colorPrimaryBase,
    groupgridFloatingBorderBottomWidth: 1px,
    groupgridFloatingBorderBottomType: solid,
    groupgridFloatingBorderBottomColor: #e0e9ed,
    groupgridMediaPaddingleft: 50px
  );