$groupedgridheaderBgColor:systemTheme(groupgrid, groupedgridheaderBgColor);
$groupedgridheaderColor:systemTheme(groupgrid, groupedgridheaderColor);
$groupedgridheaderFontSize:systemTheme(groupgrid, groupedgridheaderFontSize);
$groupedgridheaderBorderBottomWidth:systemTheme(groupgrid, groupedgridheaderBorderBottomWidth);
$groupedgridheaderBorderBottomStyle:systemTheme(groupgrid, groupedgridheaderBorderBottomStyle);
$groupedgridheaderBorderBottomColor:systemTheme(groupgrid, groupedgridheaderBorderBottomColor);
$groupedgridheaderStackedLineHeight:systemTheme(groupgrid, groupedgridheaderStackedLineHeight);
$groupedgridExpandedWidth:systemTheme(groupgrid, groupedgridExpandedWidth);
$groupedgridExpandedHeight:systemTheme(groupgrid, groupedgridExpandedHeight);
$groupedgridExpandedLeft:systemTheme(groupgrid, groupedgridExpandedLeft);
$groupedgridRowPaddingLeft:systemTheme(groupgrid, groupedgridRowPaddingLeft);
$groupedgridRowOddBg:systemTheme(groupgrid, groupedgridRowOddBg);
$groupedgridRowHoverBg:systemTheme(groupgrid, groupedgridRowHoverBg);
$groupedgridRowLevel0Bg:systemTheme(groupgrid, groupedgridRowLevel0Bg);
$groupedgridRowLevel1Bg:systemTheme(groupgrid, groupedgridRowLevel1Bg);
$groupedgridRowLevel2Bg:systemTheme(groupgrid, groupedgridRowLevel2Bg);
$groupgridCellPaddingTop:systemTheme(groupgrid, groupgridCellPaddingTop);
$groupgridCellPaddingBottom:systemTheme(groupgrid, groupgridCellPaddingBottom);
$groupgridItrPaddingLeft:systemTheme(groupgrid, groupgridItrPaddingLeft);
$groupgridInnerPaddingHeight:systemTheme(groupgrid, groupgridInnerPaddingHeight);
$groupgridInnerColor:systemTheme(groupgrid, groupgridInnerColor);
$groupgridInnerPadding:systemTheme(groupgrid, groupgridInnerPadding);
$groupgridChartBorderBottomWidth:systemTheme(groupgrid, groupgridChartBorderBottomWidth);
$groupgridChartBorderBottomType:systemTheme(groupgrid, groupgridChartBorderBottomType);
$groupgridChartBorderBottomColor:systemTheme(groupgrid, groupgridChartBorderBottomColor);
$groupgridChartBg:systemTheme(groupgrid, groupgridChartBg);
$groupgridDotWidth:systemTheme(groupgrid, groupgridDotWidth);
$groupgridDotHeight:systemTheme(groupgrid, groupgridDotHeight);
$groupgridDotBorderRadius:systemTheme(groupgrid, groupgridDotBorderRadius);
$groupgridDotMarginRight:systemTheme(groupgrid, groupgridDotMarginRight);
$groupgridFloatingColor:systemTheme(groupgrid, groupgridFloatingColor);
$groupgridFloatingBorderBottomWidth:systemTheme(groupgrid, groupgridFloatingBorderBottomWidth);
$groupgridFloatingBorderBottomType:systemTheme(groupgrid, groupgridFloatingBorderBottomType);
$groupgridFloatingBorderBottomColor:systemTheme(groupgrid, groupgridFloatingBorderBottomColor);
$groupgridMediaPaddingleft:systemTheme(groupgrid, groupgridMediaPaddingleft);