@import '../colors/var-colors';

$typeFontFamily: "MTB Balto Web";
$typeFontWeight: 300;
$typeFontWeightLight: 200;
$typeFontWeightMedium: 500;
$typeFontWeightRegular: 400;
$typeFontWeightSemibold: 600;
$typeFontWeightBold: 700;
$typeLetterSpacing: 0;
$typeLineHeight: 1.2;
$typeWordSpacing: 0;
$typeBoxSizing: border-box;
$typeDisplay: block;
$typeMargin: 0;
$typePadding: 0;
$typeFontStyle: normal;
$typeFontVariant: normal;
$typeTextDecoration: none;
$typeTextIndent: 0;
$typeTextRendering: optimizeLegibility;
$typeTextShadow: none;
$typeWhiteSpace: normal;
$typeDirection: ltr;
$typeTextAlign: left;
$typeVerticalAlign: baseline;

$typeLeadFontSize: 20px;
$typeLeadLineHeight: 30px;
$typeLeadFontWeight : $typeFontWeightLight;

$typeBodyFontSize: 16px;
$typeBodyLineHeight: 24px;
$typeBodyFontWeight : $typeFontWeightRegular;

$typeCaptionFontSize: 12px;
$typeCaptionLineHeight: 18px;
$typeCaptionFontWeight : $typeFontWeightRegular;

$typeNormalColor: $colorGrayDarker;
$typeLightColor: $colorWhite;
$typeSubtleColor: $colorGrayLight;