.c-password {
    @if $isWTC == true {
      position: relative;

      .c-password__toggle {
        position: absolute;
        bottom: $passwordBottom;
        right: $passwordRight;
        width: $passwordWidth;
        height: $passwordHeight;
        cursor: pointer;
      }
    }
}