$wt-arrow-tokens: (
    arrowUpWidth: 0,
    arrowUpHeight: 0,
    arrowUpBorderWidth: 4px,
    arrowUpBorderType: solid,
    arrowUpBorderColor: transparent,
    arrowUpBottom: 11px,
    arrowUpRight: 0px,
    arrowUpBorderBottomWidth: 8px,
    arrowUpBorderBottomType: solid,
    arrowUpBorderBottomColor: #000000,
    arrowDownWidth: 0,
    arrowDownHeight: 0,
    arrowDownBorderWidth: 4px,
    arrowDownBorderType: solid,
    arrowDownBorderColor: transparent,
    arrowDownTop: 10px,
    arrowDownRight: 0px,
    arrowDownBorderBottomWidth: 8px,
    arrowDownBorderBottomType: solid,
    arrowDownBorderBottomColor: #000000,
    arrowGreenBorderColor: $colorSemanticGreenBase,
    arrowRedBorderColor: #a90000
  );