$wt-panel-tokens: (
    panelBorderRadius: 5px,
    panelBackground: $colorGrayscaleWhite,
    panelPaddingHeight: $spacingXLarge,
    panelPaddingWidth: 10px,
    panelBorderWidth: 1px,
    panelBorderType: solid,
    panelBorderColor: #e0e9ed,
    panelShadowRight: 2px,
    panelShadowBottom: 16px,
    panelShadowColor: #00000012,
    panelShadowBorderWidth: 2px,
    panelShadowBorderType: solid,
    panelShadowBorderColor: #e0e9ed,
    panelHeaderContainerBorderRadius: 5px,
    panelHeaderContainerBackground: $colorGrayscaleWhite,
    panelHeaderContainerPaddingTopRight: $spacingLarge,
    panelHeaderContainerPaddingBottom: $spacingXLarge,
    panelHeaderContainerPaddingLeft: 40px,
    panelHeaderContainerBorderWidth: 3px,
    panelHeaderContainerBorderType: solid,
    panelHeaderContainerBorderColor: #e0e9ed,
    panelCloseIconTop: 0px,
    panelCloseRight: 5px,
    panelIconRightTop: 28px,
    panelIconRightRight: 20px,
    panelCloseIconButtonWidth: 46px,
    panelCloseIconButtonHeight: 46px,
    panelCloseIconButtonCursor: pointer,
    panelDropDownRight: 30px,
    panelHeaderBlockTextAlign: center,
    panelHeaderBlockLabelPaddingTop: $spacingSmall,
    panelHeaderBlockLabelPaddingBottom: $spacingLarge,
    panelHeaderBlockLabelMargin: auto,
    panelSubheaderBlockBorderWidth: 1px,
    panelSubheaderBlockBorderType: solid,
    panelSubheaderBlockBorderColor: #e0e9ed,
    panelSubheaderBlockFlexDirection: row-reverse,
    panelSubheaderValueTextAlign: right,
    panelBlockFirstOrder: 0,
    panelBlockLastOrder: 1,
    panelMediaPadding: $spacingLarge,
    panelMediaHeaderContainer: 32px,
    panelMediaDropdownRight: 60px,
    panelMediaHeaderBlockTextAlign: left,
    panelMediaHeaderBlockLabelPadding: 0,
    panelMediaHeaderBlockLabelMargin: initial,
    panelMediaSubheaderBordertop: none,
    panelMediaSubheaderFlexDirection: row,
    panelMediaSubheaderTextAlign: left,
    panelMediaSubheaderValueTextAlign: left
  );