$panelBorderRadius:systemTheme(panel, panelBorderRadius);
$panelBackground:systemTheme(panel,  panelBackground);
$panelPaddingHeight:systemTheme(panel, panelPaddingHeight);
$panelPaddingWidth:systemTheme(panel, panelPaddingWidth);
$panelBorderWidth:systemTheme(panel, panelBorderWidth);
$panelBorderType:systemTheme(panel, panelBorderType);
$panelBorderColor:systemTheme(panel, panelBorderColor);
$panelShadowRight:systemTheme(panel, panelShadowRight);
$panelShadowBottom:systemTheme(panel, panelShadowBottom);
$panelShadowColor:systemTheme(panel, panelShadowColor);
$panelShadowBorderWidth:systemTheme(panel, panelShadowBorderWidth);
$panelShadowBorderType:systemTheme(panel, panelShadowBorderType);
$panelShadowBorderColor:systemTheme(panel, panelShadowBorderColor);
$panelHeaderContainerBorderRadius:systemTheme(panel, panelHeaderContainerBorderRadius);
$panelHeaderContainerBackground:systemTheme(panel, panelHeaderContainerBackground);
$panelHeaderContainerPaddingTopRight:systemTheme(panel, panelHeaderContainerPaddingTopRight);
$panelHeaderContainerPaddingBottom:systemTheme(panel, panelHeaderContainerPaddingBottom);
$panelHeaderContainerPaddingLeft:systemTheme(panel, panelHeaderContainerPaddingLeft);
$panelHeaderContainerBorderWidth:systemTheme(panel, panelHeaderContainerBorderWidth);
$panelHeaderContainerBorderType:systemTheme(panel, panelHeaderContainerBorderType);
$panelHeaderContainerBorderColor:systemTheme(panel, panelHeaderContainerBorderColor);
$panelCloseIconTop:systemTheme(panel, panelCloseIconTop);
$panelCloseRight:systemTheme(panel, panelCloseRight);
$panelIconRightTop:systemTheme(panel, panelIconRightTop);
$panelIconRightRight:systemTheme(panel, panelIconRightRight);
$panelCloseIconButtonWidth:systemTheme(panel, panelCloseIconButtonWidth);
$panelCloseIconButtonHeight:systemTheme(panel, panelCloseIconButtonHeight);
$panelCloseIconButtonCursor:systemTheme(panel, panelCloseIconButtonCursor);
$panelDropDownRight:systemTheme(panel, panelDropDownRight);
$panelHeaderBlockTextAlign:systemTheme(panel, panelHeaderBlockTextAlign);
$panelHeaderBlockLabelPaddingTop:systemTheme(panel, panelHeaderBlockLabelPaddingTop);
$panelHeaderBlockLabelPaddingBottom:systemTheme(panel, panelHeaderBlockLabelPaddingBottom);
$panelHeaderBlockLabelMargin:systemTheme(panel, panelHeaderBlockLabelMargin);
$panelSubheaderBlockBorderWidth:systemTheme(panel, panelSubheaderBlockBorderWidth);
$panelSubheaderBlockBorderType:systemTheme(panel, panelSubheaderBlockBorderType);
$panelSubheaderBlockBorderColor:systemTheme(panel, panelSubheaderBlockBorderColor);
$panelSubheaderValueTextAlign:systemTheme(panel, panelSubheaderValueTextAlign);
$panelSubheaderBlockFlexDirection:systemTheme(panel, panelSubheaderBlockFlexDirection);
$panelBlockFirstOrder:systemTheme(panel, panelBlockFirstOrder);
$panelBlockLastOrder:systemTheme(panel, panelBlockLastOrder);
$panelMediaPadding:systemTheme(panel, panelMediaPadding);
$panelMediaHeaderContainer:systemTheme(panel, panelMediaHeaderContainer);
$panelMediaDropdownRight:systemTheme(panel, panelMediaDropdownRight);
$panelMediaHeaderBlockTextAlign:systemTheme(panel, panelMediaHeaderBlockTextAlign);
$panelMediaHeaderBlockLabelPadding:systemTheme(panel, panelMediaHeaderBlockLabelPadding);
$panelMediaHeaderBlockLabelMargin:systemTheme(panel, panelMediaHeaderBlockLabelMargin);
$panelMediaSubheaderBordertop:systemTheme(panel, panelMediaSubheaderBordertop);
$panelMediaSubheaderFlexDirection:systemTheme(panel, panelMediaSubheaderFlexDirection);
$panelMediaSubheaderTextAlign:systemTheme(panel, panelMediaSubheaderTextAlign);
$panelMediaSubheaderValueTextAlign:systemTheme(panel, panelMediaSubheaderValueTextAlign);