$progressTrackerLineHeight: 1px;
$progressTrackerLineColor: $colorGrayscaleGrayBase;
$progressTrackerLineContentTop: 20px;
$progressTrackerListItemWidth: 40px;
$progressTrackerListItemHeight: 40px;
$progressTrackerListIitemBorderRadius: 50%;
$progressTrackerListIitemMarginBottom: 0;
$progressTrackerDefaultBackground: $colorGrayscaleWhite;
$progressTrackerDefaultColor: $colorPrimaryBase;
$progressTrackerDefaultPadding: 4px 13px;
$progressTrackerDefaultBorder: $spacingXXXSmall solid $colorPrimaryBase;
$progressTrackerDefaultFontSize: $typeScaleLarge;
$progressTrackerDefaultFontWeight: $typeFontWeightMedium;
$progressTrackerCompleteBackground: $colorPrimaryBase;
$progressTrackerCompleteColor: $colorGrayscaleWhite;
$progressTrackerCompletePadding: 6px $spacingXSmall;
$progressTrackerCompleteFontSize: $typeScaleXLarge;
$progressTrackerActiveBackground: #f16521; //TO DO seems this needs to exsit in WT & M&T
$progressTrackerActiveColor: $colorGrayscaleWhite;
$progressTrackerActivePadding: 8px 15px;
$progressTrackerActiveFontSize: $typeScaleLarge;
$progressTrackerActiveFontWeight: $typeFontWeightBold;
$progressTrackerTextColor: $colorPrimaryBase;
$progressTrackerTextFontSize: $typeScaleXSmall;