$wt-list-action-tokens: (
    // List Action Title Bar
    listActionTitleBackground: $colorGrayscaleGrayLighter,
    listActionTitleColor: $colorGrayscaleGrayDark,
    listActionTitleFontSize: $typeScaleMedium,
    listActionTitleFontWeight: $typeFontWeightMedium,
    listActionTitleLetterSpacing: normal,
    listActionTitleLineHeight: $spacingLarge,
    listActionTitlePadding: $spacingXXSmall $spacingMedium,
    listActionTitleTextTransform: unset,
    listActionTitleFontFamily: $typeFontFamily,

    // List Action Item
    listActionItemBorder: none,
    listActionItemBackground: $colorGrayscaleWhite,
    listActionItemBorderBottom: 1px solid $colorGrayscaleGrayLight,
    listActionItemPadding: $spacingMedium 0 0 $spacingMedium,
    listActionItemTextAlign: left,

    // List Action Item Icon
    listActionItemIconColor: $colorPrimaryBase,
    listActionItemIconMarginRight: $spacingMedium,
    listActionItemIconFontSize: $typeScaleLarge,
    listActionItemIconMarginBottom: $spacingMedium,

    // List Action Item Content
    listActionItemContentMarginRight: $spacingMedium,
    listActionItemContentMarginBottom: $spacingMedium,

    // List Action Item Title
    listActionItemTitleColor: $colorGrayscaleGrayDark,
    listActionItemTitleFontSize: $typeBodyFontSize,
    listActionItemTitleFontFamily: $typeFontFamily,
    listActionItemTitleLineHeight: $spacingLarge,
    
    // List Action Item Title CTA
    listActionItemCTAColor: $colorPrimaryBase,
    listActionItemCTAFontSize: $typeBodyFontSize,
    listActionItemCTAFontFamily: $typeFontFamily,
    listActionItemCTALineHeight: $spacingLarge,

    // List Action Item Subtitle
    listActionItemSubtitleColor: $colorGrayscaleGrayDark,
    listActionItemSubtitleFontSize: $typeScaleXSmall,
    listActionItemSubtitleFontFamily: $typeFontFamily,
    listActionItemSubtitleLineHeight: $spacingMedium,

    // List Action Item Actions
    listActionItemActionsMarginBottom: $spacingMedium,
    listActionItemActionsColor: $colorPrimaryBase,
    listActionItemActionsFontSize: $typeScaleLarge,
    listActionItemActionsMarignRight: $spacingMedium,
    listActionItemActionsFontFamily: $typeFontFamily,
    listActionItemActionsLabelFontSize: $typeScaleXXSmall,
    listActionItemActionsPaddingTop: $spacingXXSmall,
);

