// List Action Title Styles
$listActionTitleBackground: systemTheme(list-action, listActionTitleBackground);
$listActionTitleColor: systemTheme(list-action, listActionTitleColor);
$listActionTitleFontSize: systemTheme(list-action, listActionTitleFontSize);
$listActionTitleFontWeight: systemTheme(list-action, listActionTitleFontWeight);
$listActionTitleLetterSpacing: systemTheme(list-action, listActionTitleLetterSpacing);
$listActionTitleLineHeight: systemTheme(list-action, listActionTitlePadding);
$listActionTitlePadding: systemTheme(list-action, listActionTitleFontSize);
$listActionTitleTextTransform: systemTheme(list-action, listActionTitleTextTransform);
$listActionTitleFontFamily: systemTheme(list-action, listActionTitleFontFamily);
// List Action Item
$listActionItemBorder: systemTheme(list-action, listActionItemBorder);
$listActionItemBackground: systemTheme(list-action, listActionItemBackground);
$listActionItemBorderBottom: systemTheme(list-action, listActionItemBorderBottom);
$listActionItemPadding: systemTheme(list-action, listActionItemPadding);
$listActionItemTextAlign: systemTheme(list-action, listActionItemTextAlign);
// List Action Item Icon
$listActionItemIconColor: systemTheme(list-action, listActionItemIconColor);
$listActionItemIconMarginRight: systemTheme(list-action, listActionItemIconMarginRight);
$listActionItemIconFontSize: systemTheme(list-action, listActionItemIconFontSize);
$listActionItemIconMarginBottom: systemTheme(list-action, listActionItemIconMarginBottom);
// List Action Item Content
$listActionItemContentMarginRight: systemTheme(list-action, listActionItemContentMarginRight);
$listActionItemContentMarginBottom: systemTheme(list-action, listActionItemContentMarginBottom);
// List Action Item Title
$listActionItemTitleColor: systemTheme(list-action, listActionItemTitleColor);
$listActionItemTitleFontSize: systemTheme(list-action, listActionItemTitleFontSize);
$listActionItemTitleFontFamily: systemTheme(list-action, listActionItemTitleFontFamily);
$listActionItemTitleLineHeight: systemTheme(list-action, listActionItemTitleLineHeight);
// List Action Item Title CTA
$listActionItemCTAColor: systemTheme(list-action, listActionItemCTAColor);
$listActionItemCTAFontSize: systemTheme(list-action, listActionItemCTAFontSize);
$listActionItemCTAFontFamily: systemTheme(list-action, listActionItemCTAFontFamily);
$listActionItemCTALineHeight: systemTheme(list-action, listActionItemCTALineHeight);
// List Action Item Subtitle
$listActionItemSubtitleColor: systemTheme(list-action, listActionItemSubtitleColor);
$listActionItemSubtitleFontSize: systemTheme(list-action, listActionItemSubtitleFontSize);
$listActionItemSubtitleFontFamily: systemTheme(list-action, listActionItemSubtitleFontFamily);
$listActionItemSubtitleLineHeight: systemTheme(list-action, listActionItemSubtitleLineHeight);
// List Action Item Actions
$listActionItemActionsMarginBottom: systemTheme(list-action, listActionItemActionsMarginBottom);
$listActionItemActionsColor: systemTheme(list-action, listActionItemActionsColor);
$listActionItemActionsFontSize: systemTheme(list-action, listActionItemActionsFontSize);
$listActionItemActionsMarignRight: systemTheme(list-action, listActionItemActionsMarignRight);
$listActionItemActionsFontFamily: systemTheme(list-action, listActionItemActionsFontFamily);
$listActionItemActionsLabelFontSize: systemTheme(list-action, listActionItemActionsLabelFontSize);
$listActionItemActionsPaddingTop: systemTheme(list-action, listActionItemActionsPaddingTop);