$loadingFontFamily: systemTheme(loading, loadingFontFamily);
$loadingAlignment: systemTheme(loading, loadingAlignment);
$loadingBorderRadius: systemTheme(loading, loadingBorderRadius);
$loadingPadding: systemTheme(loading, loadingPadding);
$loadingBackgroundColor: systemTheme(loading, loadingBackgroundColor);
$loadingNonBlockBackgroundColor: systemTheme(loading, loadingNonBlockBackgroundColor);
$loadingFontColor: systemTheme(loading, loadingFontColor);
$loadingNonBlockFontColor: systemTheme(loading, loadingNonBlockFontColor);
$loadingSpinnerBackground: systemTheme(loading, loadingSpinnerBackground);
$loadingSpinnerBorderSize: systemTheme(loading, loadingSpinnerBorderSize);
$loadingSpinnerSize: systemTheme(loading, loadingSpinnerSize);
$loadingFontSize: systemTheme(loading, loadingFontSize);
$loadingFontWeight: systemTheme(loading, loadingFontWeight);
$loadingContentPadding: systemTheme(loading, loadingContentPadding);
