$_cols: ( 1: 8.33333333%, 2: 16.66666667%, 3: 25%, 4: 33.33333333%, 5: 41.66666667%, 6: 50%, 7: 58.33333333%, 8: 66.66666667%, 9: 75%, 10: 83.33333333%, 11: 91.66666667%, 12: 100%, auto: 100%); 

@mixin flexGridColsInitialize ($_col-size) {
    .l-flex-col--#{$_col-size},
    .l-flex-col--#{$_col-size}-1,
    .l-flex-col--#{$_col-size}-2,
    .l-flex-col--#{$_col-size}-3,
    .l-flex-col--#{$_col-size}-4,
    .l-flex-col--#{$_col-size}-5,
    .l-flex-col--#{$_col-size}-6,
    .l-flex-col--#{$_col-size}-7,
    .l-flex-col--#{$_col-size}-8,
    .l-flex-col--#{$_col-size}-9,
    .l-flex-col--#{$_col-size}-10,
    .l-flex-col--#{$_col-size}-11,
    .l-flex-col--#{$_col-size}-12,
    .l-flex-col--#{$_col-size}-auto {
        box-sizing: border-box;
        flex: 1 0 100%;
        padding: 0 $_half-gutter-width;
        max-width: 100%;
        //&:not(:first-child) {
        //  padding-left: $_half-gutter-width;
        //}
        //
        //&:not(:last-child) {
        //  padding-right: $_half-gutter-width;
        //}
    }
    .l-flex-col--#{$_col-size}-offset-0,
    .l-flex-col--#{$_col-size}-offset-1,
    .l-flex-col--#{$_col-size}-offset-2,
    .l-flex-col--#{$_col-size}-offset-3,
    .l-flex-col--#{$_col-size}-offset-4,
    .l-flex-col--#{$_col-size}-offset-5,
    .l-flex-col--#{$_col-size}-offset-6,
    .l-flex-col--#{$_col-size}-offset-7,
    .l-flex-col--#{$_col-size}-offset-8,
    .l-flex-col--#{$_col-size}-offset-9,
    .l-flex-col--#{$_col-size}-offset-10,
    .l-flex-col--#{$_col-size}-offset-11,
    .l-flex-col--#{$_col-size}-offset-12{
        box-sizing: border-box;
        padding: 0 $_half-gutter-width;
        max-width: 100%;
        //&:not(:first-child) {
        //  padding-left: $_half-gutter-width;
        //}
        //
        //&:not(:last-child) {
        //  padding-right: $_half-gutter-width;
        //}
    }
}

@mixin flexGridColsBreakpoint ($_col-size) {
    @each $_number,
    $_width in $_cols {
        .l-flex-col--#{$_col-size}-#{$_number} {
            flex-basis: $_width;
            max-width: $_width;
        }
    }
    .l-flex-col--#{$_col-size}-offset {
        margin-left: 0;
    }
    //Variable width content
    .l-flex-#{$_col-size}--auto {
        width: auto;
        flex-basis: 0%;
    }
    @each $_number,
    $_width in $_cols {
        .l-flex-col--#{$_col-size}-offset-#{$_number} {
            margin-left: $_width;
        }
    }
    .l-flex-col--#{$_col-size}-offset-left-auto{
        margin-left: auto!important;
    }
    .l-flex-col--#{$_col-size}-offset-right-auto{
        margin-right: auto!important;
    }

    .l-flex-col--#{$_col-size}-hidden {
        display: none;
    }

    .l-flex-col--#{$_col-size}-visible {
        display: block;
    }

    .l-flex-col--reverse {
        flex-direction: column-reverse;
    }
  }