@mixin flexGridAlignment($_col-size) {
    .l-flex {
        &-start--#{$_col-size} {
            justify-content: flex-start;
            text-align: start;
        }

        &-center--#{$_col-size} {
            justify-content: center;
            text-align: center;
        }

        &-end--#{$_col-size} {
            justify-content: flex-end;
            text-align: end;
        }

        &-top--#{$_col-size} {
            align-items: flex-start;
        }

        &-middle--#{$_col-size} {
            align-items: center;
        }

        &-bottom--#{$_col-size} {
            align-items: flex-end;
        }

        &-around--#{$_col-size} {
            justify-content: space-around;
        }

        &-between--#{$_col-size} {
            justify-content: space-between;
        }

        &-first--#{$_col-size} {
            order: -1;

            &:last-child {
                padding-right: $_outer-margin;
            }
        }

        &-last--#{$_col-size} {
            order: 1;

            &:first-child {
                padding-left: $_outer-margin;
            }
        }
    }
}