@import 'var-select';

.c-select {
  @include proto-select();
  @if $isWTC {
      &--size {
        &-small {
          width: $selectSmallWidth;
        }
        &-large {
          width: $selectLargeWidth;
        }
      }
    }
  width: $selectWidth;

  &:focus {
    // box-shadow: $selectFocusBoxShadow;
  }

  &--error {
    border: $textFieldErrorBorderSize $textFieldErrorBorderStyle $textFieldErrorBorderColor;
    color: $textFieldErrorInputColor;
  }
}
