@mixin proto-select() {
  @include prefixer(appearance, none); 
  background-color: #fff;
  background-image: get-icon('chevron-down', $selectBackgroundColor  ),
    linear-gradient(to bottom, $colorWhite 0%, $colorWhite 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 16px auto, 100%;
  border: $selectBorderSize $selectBorderStyle $selectBorderColor;
  @include prefixer(border-radius, $selectBorderRadius);
  @include prefixer(box-sizing, border-box);
  color: $selectFontColor;
  display: inline-block;
  font-family: quote($selectFontFamily), Arial, Helvetica, sans-serif;
  font-size: $selectFontSize;
  font-weight: $selectFontWeight;
  height: $selectHeight;
  line-height: $selectLineHeight;
  margin: $selectMargin;
  padding: $selectPadding;
  width: 100%;
  border-radius: $selectBorderRadius;

  &::-ms-expand {
    display: none;
  }

  &--error {
    border-color: $selectErrorColor;
    color: $selectErrorColor;
  }

  option {
    background: $selectOptionBackgroundColor;
  }
}