$selectBackgroundColor: $colorPrimaryBase;
$selectBorderColor: $colorGrayLight;
$selectBorderRadius: 2px;
$selectFontFamily: $typeFontFamily;
$selectFontColor: $colorGrayDarker;
$selectBackgroundOrigin: unset;
$selectBackgroundRepeat: no-repeat;
$selectBackgroundSize: auto;
$selectBorderSize: 1px;
$selectBorderStyle: solid;
$selectDisplay: inline-block;
$selectLineHeight: 1.5;
$selectFontSize: $typeScaleMedium;
$selectFontWeight: $typeFontWeightRegular;
$selectHeight: 42px;
$selectMargin: 0;
$selectPadding: $spacingXXSmall 30px $spacingXXSmall $spacingSmall;
$selectWidth: 100%;
$selectOptionBackgroundColor: $colorWhite;
$selectErrorColor: red; //temp;
// $selectFocusBoxShadow: $focusBoxShadow;

$selectSmallWidth: 230px;
$selectLargeWidth: 350px;

@if $isWTC {
    $selectBorderColor: $colorGrayscaleGrayBase;
    $selectFontColor: $colorGrayDarkest;
    $selectBorderRadius: 4px;
    $selectFontSize: $typeScaleSmall;

}


