@if $isWTC == true {
.c-grouped-grid {
      &.ag-theme-balham {
        // these styles apply all over the grid
        & * {
          font-family: $fontFace;
          line-height: normal;
        }

        // removes border around entire grid
        .ag-root {
          border: none;
        }

        /* removes border in header columns */
        .ag-header-cell::after,
        .ag-header-group-cell::after {
          border-right: none;
        }

        // header background color
        .ag-header {
          background-color: $colorGrayscaleWhite;
          color: $colorGrayscaleGrayBase;
          font-weight: $typeFontWeightRegular;
          font-size: $typeScaleXSmall;
          border-bottom: $groupedgridheaderBorderBottomWidth
            $groupedgridheaderBorderBottomStyle $groupedgridheaderBorderBottomColor;
        }

        .ag-header--right .ag-header-cell-label {
          justify-content: flex-end;
        }

        .ag-header--stacked .ag-header-cell-label .ag-header-cell-text {
          white-space: normal;
          text-align: right;
          display: inline-block;
          margin-bottom: 0px;
          line-height: $groupedgridheaderStackedLineHeight;
        }

        .ag-center-cols-container {
          font-size: $typeScaleXSmall;
          color: $groupgridFloatingColor;
          font-weight: $typeFontWeightRegular;
        }

        .ag-group-expanded,
        .ag-group-contracted {
          width: $groupedgridExpandedWidth;
          height: $groupedgridExpandedHeight;
          position: relative;
          left: $groupedgridExpandedLeft;
        }

        .ag-cell-wrapper.ag-row-group {
          align-items: center;
        }

        .ag-row {
          border-color: $groupgridFloatingColor;
        }

        .ag-row .ag-cell {
          display: flex;
          align-items: center;
          padding-left: $groupedgridRowPaddingLeft;
        }

        .ag-group-checkbox.ag-invisible {
          display: none;
        }

        .ag-row-odd {
          background: $groupedgridRowOddBg;
        }

        .ag-row-hover {
          background: $groupedgridRowHoverBg;
        }

        .ag-row-level-0.ag-row-group-expanded {
          background: $groupedgridRowLevel0Bg;
          font-weight: $typeFontWeightBold;
        }

        .ag-row-level-1 {
          background: $groupedgridRowLevel1Bg;
          font-weight: $typeFontWeightRegular;
        }

        .ag-row-level-2 {
          background: $groupedgridRowLevel2Bg;
          font-size: $typeScaleXSmall;

          > div:first-child {
            font-weight: $typeFontWeightSemibold;
          }
        }

        .ag-row-level-3 {
          .ag-cell {
            padding-top: $groupgridCellPaddingTop;
            padding-bottom: $groupgridCellPaddingBottom;
            align-items: flex-start;
          }
        }

        .ag-group-child-count {
          display: none;
        }

        .ag-row-level-1 .ag-child-hide {
          display: none;
        }

        // prevents blue border when clicking on cell
        .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
          border: $groupedgridheaderBorderBottomWidth
            $groupedgridheaderBorderBottomStyle transparent;
        }

        // indent on child row
        .ag-ltr .ag-row-group-leaf-indent {
          margin-left: 0;
        }

        .ag-ltr .ag-row-group-indent-1 {
          padding-left: $groupgridItrPaddingLeft;
        }

        // hides the menu in the headers
        .ag-header-cell-menu-button {
          display: none;
        }

        // t7 class
        .ag-grid__inner {
          white-space: normal;
          line-height: normal;
          padding: $groupgridInnerPaddingHeight 0;
          color: $groupgridInnerColor;

          &--padding {
            padding: $groupgridInnerPadding;
          }
        }

        .ag-grid__inner-name {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .ag-chart-grid__header-cell {
          border-bottom: $groupgridChartBorderBottomWidth
            $groupgridChartBorderBottomType $groupgridChartBorderBottomColor;
          background: $groupgridChartBg;
        }

        .ag-dot {
          display: inline-block;
          width: $groupgridDotWidth;
          height: $groupgridDotHeight;
          border-radius: $groupgridDotBorderRadius;
          margin-right: $groupgridDotMarginRight;
        }

        .ag-floating-top-container {
          font-weight: $typeFontWeightBold;
          color: $groupgridFloatingColor;
          border-bottom: $groupgridFloatingBorderBottomWidth
            $groupgridFloatingBorderBottomType $groupgridFloatingBorderBottomColor;
          .ag-dot {
            display: none;
          }
        }

        .ag-status-bar {
          display: none;
        }

        // hide pointer-events for groups
        &.c-grouped-grid--no-pointer {
          .ag-group-contracted,
          .ag-group-expanded,
          .ag-cell {
            pointer-events: none;
          }
        }
      }
    }

// desktop view
@media only screen and (min-width: $desktopBreakpoint) {
    @if $isWTC == true {
      .c-chart-grid {
        &.ag-theme-balham {
          .ag-ltr .ag-row-group-indent-1 {
            padding-left: $groupgridMediaPaddingleft;
          }
        }
      }
    }
}
}