@import "../_l-breakpoints.scss";
@import "var-container";

.l-container {
  width: 100%;
  margin: 0 auto;
  display: $containerLayoutDisplay;
  flex-direction: $containerLayoutFlexDirection;
  /* Fix bug in IE 10 and 11 where min-height is ignored when display: flex and flex-direction: column are on a container */
  height: $containerLayoutHeight;
  min-height: $containerLayoutMinHeight;
  max-width: $containerMaxWidth;
  @include xs;
  @include sm;
  @include md;
  @include lg;
  @include xl;

  &__content {
    flex: 1 0 auto;
  }

  &__footer {
    flex-shrink: 1 0 auto;
  }

  &--temp---full {
    max-width: 100%;

    .l-container__content {
      margin: 0 auto;
      max-width: $containerMaxWidth;
      @include xs;
      @include sm;
      @include md;
      @include lg;
      @include xl;
    }

  }
}