$wt-cards-tokens: (
    cardSize: 300px,
    cardMediaSize: 100px,
    cardBorderRadius: 4px,
    cardBorderRadiusInner: 2px,
    cardBorderWidth: 1px,
    cardMediaPadding: $spacingXSmall, 
    cardImgWidth: 180px, 
    cardImgHeight: 120px,
    cardMediaPaddingWidth: $spacingMedium, 
    cardMediaMarginBottom: $spacingXXSmall,
    cardHoverColor: $colorGrayscaleGrayDark,
    cardHoverDarkenValue: 5%,
  );