$cardSize: systemTheme(cards, cardSize);
$cardBorderRadius: systemTheme(cards, cardBorderRadius);
$cardBorderRadiusInner: systemTheme(cards, cardBorderRadiusInner);
$cardBorderWidth: systemTheme(cards, cardBorderWidth);
$cardMediaPadding: systemTheme(cards, cardMediaPadding);
$cardImgWidth: systemTheme(cards, cardImgWidth);
$cardImgHeight: systemTheme(cards, cardImgHeight);
$cardMediaPaddingWidth: systemTheme(cards, cardMediaPaddingWidth);
$cardMediaSize: systemTheme(cards, cardMediaSize);
$cardMediaMarginBottom: systemTheme(cards, cardMediaMarginBottom);
