// Default loadMore
$loadMoreBackgroundColor: systemTheme(loadMore, loadMoreBackgroundColor);
$loadMoreBorderColor: systemTheme(loadMore, loadMoreBorderColor);
$loadMoreTextColor: systemTheme(loadMore, loadMoreTextColor);

$loadMoreLoadingFontColor: systemTheme(loadMore, loadMoreLoadingFontColor);
$loadMoreAutoLoadFontColor: systemTheme(loadMore, loadMoreAutoLoadFontColor);
$loadMoreDisabledBackgroundColor: systemTheme(loadMore, loadMoreDisabledBackgroundColor);
$loadMoreDisabledBorderColor: systemTheme(loadMore, loadMoreDisabledBorderColor);
$loadMoreDisabledFontColor: systemTheme(loadMore, loadMoreDisabledFontColor);
$loadMoreDisabledHoverBackgroundColor: systemTheme(loadMore, loadMoreDisabledHoverBackgroundColor);
$loadMoreDisabledHoverBorderColor: systemTheme(loadMore, loadMoreDisabledHoverBorderColor);
$loadMoreDisabledHoverFontColor: systemTheme(loadMore, loadMoreDisabledHoverFontColor);
$loadMoreBorderWeight: systemTheme(loadMore, loadMoreBorderWeight);
$loadMoreBorderStyle: systemTheme(loadMore, loadMoreBorderStyle);

$loadMoreDarkenValue: systemTheme(loadMore, loadMoreDarkenValue);