// Requires Proto Button
.c-button-group {
  position: $buttonGroupPosition;
  display: -ms-inline-flexbox;
  display: $buttonGroupDisplay;
  vertical-align: $buttonGroupVerticalAlign;
  width: $buttonGroupWidth;

  &__button {
    @include proto-button();
    background-color: $buttonGroupBackgroundColor;
    border: $buttonGroupButtonBorderSize $buttonGroupButtonBorderStyle $buttonGroupBorderColor;
    color: $buttonGroupFontColor;
    font-weight: $buttonGroupButtonFontWeight;
    text-decoration: $buttonGroupButtonTextDecoration;
    position: $buttonGroupButtonPosition;
    z-index: $buttonGroupButtonZIndex;
    font-size: $buttonGroupFontSize;

    &:last-child {
      @include prefixer(border-radius, $buttonGroupButtonLastChildBorderRadius);
      border-bottom-right-radius: $buttonGroupBorderBottomRightRadius;
      border-top-right-radius:  $buttonGroupBorderBottomRightRadius;
    }

    &:first-child {
      @include prefixer(border-radius, $buttonGroupButtonFirstChildBorderRadius);
      border-bottom-left-radius: $buttonGroupBorderBottomLeftRadius;
      border-top-left-radius:  $buttonGroupBorderBottomLeftRadius;
    } 
    
    &:not(:first-child) {
      border-left: $buttonGroupButtonNotFirstChildBorderLeft;
    }

    &:not(:last-child) {
      border-right: $buttonGroupButtonNotLastChildBorderRight;
    }

    &:not(:first-child, :last-child) {
      @include prefixer(border-radius, $buttonGroupButtonNotFirstOrLastChildBorderRadius);
    }

    &:visited {
      background-color: $buttonGroupActiveColor;
    }

    &:hover {
      background-color: darken($buttonGroupBackgroundColor, $buttonDarkenValue); 
      border-color: $buttonGroupHoverBorderColor;     
    }

    &:active {
      background-color: darken($buttonGroupActiveColor, $buttonDarkenValue);
      color: $buttonGroupActiveFontColor;
      font-weight: $buttonFontWeight;
      box-shadow: $buttonGroupButtonActiveBoxShadow;
      z-index: $buttonGroupButtonActiveZIndex;
    }

    &:focus {                
      box-shadow: $buttonGroupFocusBoxShadow;
    }

    &--active {
      @extend .c-button-group__button;
      background: $buttonGroupActiveColor;
      color: $buttonGroupActiveFontColor;
      font-weight: $buttonFontWeight;
      box-shadow: $buttonGroupButtonActiveBoxShadow;
      z-index: $buttonGroupButtonActiveZIndex;

      &:visited {
        background-color: $buttonGroupActiveColor;
      }

      &:hover {
        background-color: darken($buttonGroupActiveColor, $buttonDarkenValue);
        color: $buttonGroupActiveHoverColor;
      }

      &:active {
        background-color: darken($buttonGroupActiveColor, $buttonDarkenValue);
      }

      &:focus {                
        box-shadow: $buttonGroupActiveFocusBoxShadow;
      }
    }
  }
}
