// M&T Specific Tokens

$accordionBorderColor: $colorGrayBase;
$accordionTitleFontColor: $colorGrayDarker;
$accordionIconSize: $typeScaleXSmall;

@if $isWTC == true {
    // WT Specific Tokens
    $accordionBorderColor: $colorPrimaryLight;
    $accordionTitleFontColor: $colorGrayDarkest;
    $accordionIconSize: 12px;
}

// Generic Accordion Tokens
$accordionBorderRadius: 2px;
$accordionTitleFontFamily: $typeFontFamily;
$accordionTitleOpenFontColor: $colorPrimaryBase;
$accordionButtonFontFamily: $typeFontFamily;
$accordionIconFillColor: $colorPrimaryBase;
$accordionContentFontFamily: $typeFontFamily;
$accordionBorderSize: 1px;
$accordionBorderStyle: solid;
$accordionIconContainerMarginLeft: auto;
$accordionBackgroundColor: $colorWhite;
$accordionTitleFontSize: $typeScaleMedium;
$accordionTitleFontWeight: $typeFontWeightMedium;
$accordionButtonAlignItems: center;
$accordionButtonPadding: $spacingSmall;
$accordionOpenMaxHeight: 1000px;
$accordionContentPadding: $spacingSmall;
$accordionGroupWidth: 100%;
$accordionGroupBorderBottom: 0;
$accordionGroupBorderRadius: 0;
$accordionGroupFirstChildBorderRadius: 2px 2px 0 0;
$accordionGroupLastChildBorderRadius: 0 0 2px 2px;
$accordionGroupLastChildBorderSize: 1px;
$accordionGroupLastChildBorderStyle: solid;
$accordionGroupLastChildBorderColor: $accordionBorderColor;

