$wt-load-more-tokens: (
    loadMoreBackgroundColor: $colorGrayscaleWhite,
    loadMoreBorderColor: $colorPrimaryLight,
    loadMoreBorderWeight: 1px,
    loadMoreBorderStyle: solid,
    loadMoreTextColor: $colorPrimaryBase,
    loadMoreLoadingFontColor: $colorPrimaryBase,
    loadMoreAutoLoadFontColor: $colorPrimaryBase,
    loadMoreDisabledBackgroundColor: #e0e9ed,
    loadMoreDisabledBorderColor: #e0e9ed,
    loadMoreDisabledFontColor: $colorPrimaryLight,
    loadMoreDisabledHoverBackgroundColor: #e0e9ed,
    loadMoreDisabledHoverBorderColor: #e0e9ed,
    loadMoreDisabledHoverFontColor: $colorPrimaryLight,
    loadMoreDarkenValue: 5%,
  );