$wt-date-select-tokens: (
    dateSelectBorderColor: $colorGrayscaleGrayBase,
    dateSelectIconFill: $colorGrayscaleGrayDark,
    dateSelectIconColor: $colorPrimaryBase,
    dateAlignItems: stretch,
    dateBorderSize: 1px,
    dateBorderStyle: solid,
    dateBorderRadius: 5px,
    dateDisplay: flex,
    dateWidth: 100%,
    dateIconAlignSelf: center,
    dateIconMargin: 0 auto,
    dateIconContainerBorderRadius: 5px 0 0 5px,
    dateIconContainerDisplay: flex,
    dateIconPadding: 0,
    dateIconTextAlign: center,
    dateIconContainerWidth: 44px,
    dateSelectBorderRadius: 0,
    dateSelectBorderTop: none,
    dateSelectBorderBottom: none,
    dateSelectBorderLeft: none,
    dateSelectFlexGrow: 1,
    dateSelectWidth: auto,
    dateSelectLastChildBorderRadius: 0 5px 5px 0,
    dateSelectLastChildBorder: none,
    dateSelectContainerBackgroundColor: $colorGrayscaleWhite,
    dateSelectIconMargin: 10px,
    dateSelectIconFontSize: 1.5em,
    dateSelectFocusBoxShadow: $focusBoxShadow,
    dateSelectIconContainerDisplayMobile: none,
    dateSelectMonthPaddingRight: 20px,
    dateSelectMonthBorderRadius: 5px 0 0 5px
)