$dateSelectBorderColor: systemTheme(date-select, dateSelectBorderColor);
$dateSelectIconColor: systemTheme(date-select, dateSelectIconColor);
$dateAlignItems: systemTheme(date-select, dateAlignItems);
$dateBorderSize: systemTheme(date-select, dateBorderSize);
$dateBorderStyle: systemTheme(date-select, dateBorderStyle);
$dateBorderRadius: systemTheme(date-select, dateBorderRadius);
$dateDisplay: systemTheme(date-select, dateDisplay);
$dateWidth: systemTheme(date-select, dateWidth);
$dateIconAlignSelf: systemTheme(date-select, dateIconAlignSelf);
$dateIconMargin: systemTheme(date-select, dateIconMargin);
$dateIconContainerBorderRadius: systemTheme(date-select, dateIconContainerBorderRadius);
$dateIconContainerDisplay: systemTheme(date-select, dateIconContainerDisplay);
$dateIconPadding: systemTheme(date-select, dateIconPadding);
$dateIconTextAlign: systemTheme(date-select, dateIconTextAlign);
$dateIconContainerWidth: systemTheme(date-select, dateIconContainerWidth);
$dateSelectBorderRadius: systemTheme(date-select, dateSelectBorderRadius);
$dateSelectBorderTop: systemTheme(date-select, dateSelectBorderTop);
$dateSelectBorderBottom: systemTheme(date-select, dateSelectBorderBottom);
$dateSelectBorderLeft: systemTheme(date-select, dateSelectBorderLeft);
$dateSelectFlexGrow: systemTheme(date-select, dateSelectFlexGrow);
$dateSelectWidth: systemTheme(date-select, dateSelectWidth);
$dateSelectLastChildBorderRadius: systemTheme(date-select, dateSelectLastChildBorderRadius);
$dateSelectLastChildBorder: systemTheme(date-select, dateSelectLastChildBorder);
$dateSelectContainerBackgroundColor: systemTheme(date-select, dateSelectContainerBackgroundColor);
$dateSelectIconFontSize: systemTheme(date-select, dateSelectIconFontSize);
$dateSelectIconMargin: systemTheme(date-select, dateSelectIconMargin);
$dateSelectFocusBoxShadow: systemTheme(date-select, dateSelectFocusBoxShadow);
$dateSelectIconContainerDisplayMobile: systemTheme(date-select, dateSelectIconContainerDisplayMobile);
$dateSelectMonthPaddingRight: systemTheme(date-select, dateSelectMonthPaddingRight);
$dateSelectMonthBorderRadius: systemTheme(date-select, dateSelectMonthBorderRadius);