$wt-search-tokens: (
    searchContainerMargin: auto,
    searchContainerWidth: 100%,
    searchContainerHeight: 58px,
    searchContainerBorderRadius: 44px,
    searchContainerBorderWidth: 1px,
    searchContainerBorderType: solid,
    searchContainerBorderColor: $colorGrayscaleGrayLight,
    searchContainerBackgroundColor: $colorGrayscaleWhite,
    searchContentPadding: $spacingMedium,
    searchContentHeight: 100%,
    searchContentAlignItems: center,
    searchContentPosition: relative,
    searchInputBorder: none,
    searchInputBoxShadow: none,
    searchInputHeight: 100%,
    searchInputBackground: transparent,
    searchInputOutlineWidth: 0,
    searchInputWidth: 100%,
    searchIconWidth: 56px,
    searchIconHeight: 56px,
    searchIconPosition: absolute,
    searchIconRight: 5px,
    searchIconTop: 0px
  );