$searchContainerMargin: systemTheme(search ,searchContainerMargin );
$searchContainerWidth: systemTheme(search , searchContainerWidth);
$searchContainerHeight: systemTheme(search , searchContainerHeight);
$searchContainerBorderRadius: systemTheme(search ,searchContainerBorderRadius);
$searchContainerBorderWidth: systemTheme(search ,searchContainerBorderWidth);
$searchContainerBorderType: systemTheme(search ,searchContainerBorderType);
$searchContainerBorderColor: systemTheme(search ,searchContainerBorderColor);
$searchContainerBackgroundColor: systemTheme(search , searchContainerBackgroundColor);
$searchContentPadding: systemTheme(search ,searchContentPadding);
$searchContentHeight: systemTheme(search ,searchContentHeight);
$searchContentAlignItems: systemTheme(search ,searchContentAlignItems);
$searchContentPosition: systemTheme(search ,searchContentPosition);
$searchInputBorder: systemTheme(search ,searchInputBorder);
$searchInputBoxShadow: systemTheme(search ,searchInputBoxShadow);
$searchInputHeight: systemTheme(search ,searchInputHeight);
$searchInputBackground: systemTheme(search ,searchInputBackground);
$searchInputOutlineWidth: systemTheme(search ,searchInputOutlineWidth);
$searchInputWidth: systemTheme(search ,searchInputWidth );
$searchIconWidth: systemTheme(search ,searchIconWidth);
$searchIconHeight: systemTheme(search ,searchIconHeight);
$searchIconPosition: systemTheme(search ,searchIconPosition);
$searchIconRight: systemTheme(search ,searchIconRight);
$searchIconTop: systemTheme(search , searchIconTop);