.p-review-input {
    @include proto-type();
    color: $reviewInputFontColor;
    font-size: $reviewInputFontSize;
    line-height: ($reviewInputFontSize + $reviewInputLineHeightIncrease);
    width: $reviewInputWidth;

    &__icon-link {
        @include proto-icon-link($reviewInputIconLinkFontColor, $reviewInputIconLinkFontSize, $reviewInputIconLinkFontSize, 4px);
        line-height: $reviewInputIconLinkLineHeight;
        margin-bottom: $reviewInputIconLinkMarginBottom;
    }

    &__container {
        @include proto-container();
        background-color: $reviewInputContainerBackgroundColor;
        border: $reviewInputContainerBorder; 
        border-radius: $reviewInputContainerBorderRadius;
    }
    
    &__label {
        color: $reviewInputLabelFontColor;
        display: inline-block;
        font-family: $reviewInputLabelFontFamily;
        font-size: $reviewInputLabelFontSize;
        font-weight: $reviewInputLabelFontWeight;
        margin-bottom: $reviewInputLabelMarginBottom;
        margin-right: $reviewInputLabelMarginRight;
    }
    
    &--secure {
        @include flexbox();
    }
    
    &--multi-line {
        font-size: $reviewInputMultiLineFontSize;
    }
    
    &__secure-toggle {
        @include proto-link($reviewInputSecureToggleLinkFontColor, $reviewInputSecureToggleLinkFontSize);
    }
}