.p-action-group {
    display: block;
    width: $actionGroupWidth;

    &__button {
        width: 100%;

        &:not(:first-child) {
            margin: 0;

            @media (min-width: $breakpoint--small) {
                margin-left: $actionGroupButtonNotFirstChildMarginLeft;

            }
        }

        &:last-child() {
            margin-bottom: 10px;

            @media (min-width: $breakpoint--small) {
                margin-bottom: 0;

            }
        }


        &-container {
            @include flexbox();
            flex-direction: column-reverse;
            width: $actionGroupButtonContainerWidth;

            @media (min-width: $breakpoint--small) {
                flex-direction: row;
            }
        }
    }

    &__link-container {
        display: block;
        margin-top: $actionGroupLinkContainerMarginTop;
        text-align: center;
    }
}