.c-divider {
    @include proto-divider();
    
  @if $isWTC {
      &--dotted {
        background-image: linear-gradient(to right, $dividerDottedBgImageStartColor 40%, $dividerDottedBgImageEndColor 20%);
        background-position: top;
        background-size: $dividerDottedBgSizeHeight $dividerDottedBgSizeWidth;
        background-repeat: repeat-x;
        border: none;
        padding: $dividerDottedPadding 0;
        margin: $dividerDottedMargin 0;
      }
  }
}
