$dividerBorderSize: 1px;
$dividerBorderType: solid;
$dividerBorderColor: $colorGrayLight;
$dividerWidth: 100%;

// WTC only
$dividerDottedBgImageStartColor: #e0e9ed;
$dividerDottedBgImageEndColor: #ffffff00;
$dividerDottedBgSizeHeight: 10px;
$dividerDottedBgSizeWidth: 1px;
$dividerDottedPadding: 1px;
$dividerDottedMargin: $spacingXSmall;
$dividerBorderColor: #d7d7d7;
    
