$wt-grid-tokens: (
    gridLineHeight: 18px,
    gridStatusBarBorderColor: #e0e9ed,
    gridHeaderBgColor: $colorGrayscaleWhite,
    gridHeaderColor: $colorGrayscaleGrayBase,
    gridHeaderFontSize: $typeScaleXSmall,
    gridHeaderBorderWidth: 1px,
    gridHeaderBorderType: solid,
    gridHeaderBorderColor: #e0e9ed,
    gridHeaderLineHeight: 12px,
    gridHeaderWideLineHeight: 20px,
    gridHeaderIndentPaddingLeft: 38px,
    gridColsFontSize: 14px,
    gridColsColor: $colorPrimaryBase,
    gridRowFontSize: $typeScaleXSmall,
    gridGroupWidth: 24px,
    gridGroupHeight: 24px,
    gridGroupLeft: -8px,
    gridRowColor: #e0e9ed,
    gridRowOddBg: $colorGrayscaleWhite,
    gridRowHoverBg: $colorGrayLightest,
    gridRowExpanedBg: $colorGrayLightest,
    gridRowGroupIndentPaddingLeft: 25px,
    gridInnerLineHeight: 18px,
    gridInnerPadding: 10px,
    gridInnerLargePaddngHeight: 15px,
    gridInnerLargePaddingWidth: 10px,
    gridInnerColor: $colorGraphicBlueBase,
    gridBottomPaddingBottom: 13px,
    gridMediaPaddingLeft: 50px
  );