$wt-grid-filter-tokens: (
    gridFilterAscendingWidth: 24px,
    gridFilterAscendingHeight: 24px,
    gridFilterAscendingTop: -6px,
    gridFilterAscendingLeft: -8px,
    gridFilterCellHeight: 24px,
    gridFilterMenuButtonTop: -6px,
    gridFilterMenuButtonHeight: 24px,
    gridFilterMenuButtonWidth: 24px,
    gridFilterMenuPadding: $spacingLarge,
    gridFilterMenuBorderWidth: 1px,
    gridFilterMenuBorderType: solid,
    gridFilterMenuBorderColor: $colorGrayscaleGrayLight,
    gridFilterMenuBorderRadius: 5px,
    gridFilterMenuMarginTop: 178px,
    gridFilterMenuShadowRight: 2px,
    gridFilterMenuShadowBottom: 6px,
    gridFilterMenuShadowColor: #42596866,
    gridFilterPanelBorderTopWidth: 1px,
    gridFilterPanelBorderTopType: solid,
    gridFilterPanelBorderTopColor: #e0e9ed,
    gridFilterPanelMarginTop: 10px,
    gridFilterWrapperPaddingBottom: 0,
    gridFilterButtomBaseHeight: 24px,
    gridFilterButtomBaseWindows: 24px,
    gridFilterWrapperWidth: 24px,
    gridFilterWrapperHeight: 24px,
    gridFilterWrapperTop: 0,
    gridFilterWrapperLeft: 4px,
    gridFilterApplyPanelPaddingTop: $spacingMedium,
    gridFilterButtonBg: $colorGrayscaleWhite,
    gridFilterButtonColor: $colorPrimaryBase,
    gridFilterButtonBorderWidth: 1px,
    gridFilterButtonBorderType: solid,
    gridFilterButtonBorderColor: $colorGrayscaleGrayLight,
    gridFilterButtonBorderRadius: 16px,
    gridFilterButtonPaddingHeight: 6px,
    gridFilterButtonPaddingWidth: 22px,
    gridFilterButtonFontSize: $typeScaleXSmall,
    gridFilterButtonHoverBg: #e0e9ed,
    gridFilterSelectPaddingHeight: $spacingXSmall,
    gridFilterSelectPaddingWidth: $spacingMedium,
    gridFilterSelectFontSize: $typeScaleXSmall,
    gridFilterSelectColor: $colorPrimaryBase,
    gridFilterSelectBorderRadius: 5px,
    gridFilterSelectBgPositionHeight: 150px,
    gridFilterSelectBgPositionWidth: 3px,
    gridFilterInfixWidth: auto,
    gridFilterInfixPaddingTop: 10px,
    gridFilterInfixBorderTop: 0,
    gridFilterInfixInputPaddingHeight: $spacingXSmall,
    gridFilterInfixInputPaddingWidth: $spacingMedium,
    gridFilterInfixInputFontSize: $typeScaleXSmall,
    gridFilterInfixInputBorderRadius: 5px,
    gridFilterInfixInputColor: $colorPrimaryBase,
    gridFilterInfixInputPlaceholderColor: $colorGrayscaleGrayLight,
    gridFilterInfixInputPlaceholderPaddingHeight: $spacingXSmall,
    gridFilterInfixInputPlaceholderPaddingWidth: $spacingMedium,
    gridFilterInfixInputPlaceholderFontSize: $typeScaleXSmall,
    gridFilterFormFieldLabelWrapperTop: 4px,
    gridFilterFormFieldLabelWrapperLeft: 0,
    gridFilterFormFieldLabelWrapperPadding: 0,
    gridFilterFormFieldLabelWrapperWidth: 100%,
    gridFilterFormFieldLabelWrapperHeight: 31px,
    gridFilterFormFieldLabelWrapperMatLeft: 18px,
    gridFilterFormFieldLabelWrapperMatFontSize: $typeScaleXSmall,
    gridFilterFormFieldLabelWrapperMatColor: $colorGrayscaleGrayBase
  );