// Proto checkbox
$checkboxFontFamily: $typeFontFamily;
$checkboxFontSize: $typeScaleMedium;
$checkboxFontColor: $colorGrayDarker;
$checkboxFontWeight: $typeFontWeightMedium;  

// Proto checkbox Label
$checkboxLabelLineHeight: $spacingLarge;
$checkboxLabelPadding: $spacingMedium $spacingMedium $spacingMedium 52px;
$checkboxContainerLabelPadding: $spacingMedium $spacingMedium $spacingMedium 52px;
$checkboxContainerLabelLineHight: 24px;

// Proto checkbox Input Border 
$checkboxInputBorderRadius: 2px;
$checkboxInputBorder: $spacingXXXSmall solid $colorPrimaryBase;
$checkboxInputWidth: $spacingLarge;
$checkboxInputHeight: $spacingLarge;  

// Proto checkbox Input Fill
$checkboxFillLeft: -28px;
$checkboxFillTop: 1px;
$checkboxFillBorderRadius: 2px;
$checkboxFillWidth: 22px;
$checkboxFillHeight: 22px;

// checkbox Group Container
$checkboxGroupContainerMarginBottom: -1px;
$checkboxGroupContainerBorderRadius: 0px;

// checkbox Group Container None
$checkboxGroupContainerNoneMarginBottom: $spacingLarge;
$checkboxNoContainerMarginBottom: $spacingMedium;

// checkbox Group Container Label
$checkboxGroupContainerLabelHeightMobile: 55px;

// checkbox Group Container None Label Before
$checkboxGroupContainerNoneLabelBeforeTop: 10px;
$checkboxGroupContainerNoneLabelBeforeLeft: $spacingMedium;  

// checkbox Group Container None Label After
$checkboxGroupContainerNoneLabelAfterTop: $spacingMedium;
$checkboxGroupContainerNoneLabelAfterLeft: 22px;

// checkbox Group Container Label Before
$checkboxGroupContainerLabelBeforeTop: 13px;
$checkboxGroupContainerLabelBeforeLeft: $spacingMedium;  

// checkbox Group Container Label After
$checkboxGroupContainerLabelAfterTop: 19px;
$checkboxGroupContainerLabelAfterLeft: 22px;

// checkbox Group Container First Child
$checkboxGroupContainerFirstChildBorderRadius: $spacingXXXSmall $spacingXXXSmall 0 0;

// checkbox Group Container Last Child
$checkboxGroupContainerLastChildBorderRadius: 0 0 $spacingXXXSmall $spacingXXXSmall;

// checkbox Group Container Text
$checkboxGroupContainerTextFontWeight: $typeFontWeightLight;
$checkboxGroupContainerTextMarginLeft: $spacingMedium;
$checkboxGroupContainerTextMarginMobile: 0;

// checkbox Group Container Text Input  
$checkboxGroupContainerTextInputBackgroundColor: $colorWhite;
$checkboxGroupContainerTextInputBorderRadius: $spacingXXXSmall;
$checkboxGroupContainerTextInputColor: $colorGrayDarker;
$checkboxGroupContainerTextInputFontSize: $typeScaleMedium;
$checkboxGroupContainerTextInputHeight: $typeScaleXLarge;
$checkboxGroupContainerTextInputMarginLeft: $spacingMedium;
$checkboxGroupContainerTextInputPadding: $spacingXSmall;  
$checkboxGroupContainerTextInputTop: 17px;
$checkboxGroupContainerTextInputLeft: 113px;
$checkboxGroupContainerTextInputDisabledColor: $colorGrayLighter;
$checkboxGroupContainerTextInputTopMobile: 46px;
$checkboxGroupContainerTextInputLeftMobile: 36px;
$checkboxGroupContainerTextInputMarginLeftLeftMobile: 0;

// checkbox Default Input 
$checkboxDefaultInputHeight: 0;
$checkboxDefaultHeightOpacity: 0;
$checkboxDefaultInputWidth: 0;

// checkbox Checked 
$checkboxCheckedBackground: $colorPrimaryBase;  
$checkboxButtonAnimationName: bounceIn;
$checkboxButtonAnimationDuration: 0.75s;
$checkboxButtonAnimationFillMode: both;
$checkboxCheckedFontSize: 24px;
$checkboxCheckedMarginTop: 0;


$checkboxBackground: transparent;
$checkboxBorderColor: $colorPrimaryBase;
$checkboxCheckmarkAnimationDuration: 0.75s;
$checkboxCheckmarkAnimationFillMode: both;
$checkboxCheckmarkAnimationName: bounceIn;
$checkboxCheckmarkBackgroundColor: $colorWhite;
$checkboxCheckmarkBorderRadius: 2px;
$checkboxCheckmarkBorderSize: 2px;
$checkboxCheckmarkBorderStyle: solid;
$checkboxCheckmarkCheckedDisplay: block;
$checkboxCheckmarkColor: $colorPrimaryBase;
$checkboxCheckmarkDisplay: none;
$checkboxCheckmarkFillColor: $colorWhite;
$checkboxCheckmarkLeftPosition: $spacingMedium;
$checkboxCheckmarkPosition: absolute;
$checkboxCursor: pointer;
$checkboxDisplay: inline-flex;
$checkboxFocusOutline: -webkit-focus-ring-color auto 5px;
$checkboxFontColor: $colorGrayDarker;
$checkboxFontFamily: $typeFontFamily;
$checkboxFontSize: $typeScaleMedium;
$checkboxFontWeight: $typeFontWeightMedium;
$checkboxGroupBorderBottom: 0;
$checkboxGroupBorderRadius: 0;
$checkboxGroupFirstChildBorderRadius: 2px 2px 0 0;
$checkboxGroupLastChildBorderColor: $colorGrayLight;
$checkboxGroupLastChildBorderRadius: 0 0 2px 2px;
$checkboxGroupLastChildBorderSize: 1px;
$checkboxGroupLastChildBorderStyle: solid;
$checkboxGroupWidth: 100%;
$checkboxMargin: 0;
$checkboxNoContainerPadding: 0;
$checkboxPaddingLeftIncrement: $spacingSmall;
$checkboxPosition: relative;
$checkboxSize: 24px;
$checkboxCheckmarkNoContainerLeftPosition: 0;
$checkBoxPadding: $spacingMedium $spacingMedium $spacingMedium 52px;

@if $isWTC == true {
    // WT Specific Tokens
    $checkboxFontColor: $colorPrimaryBase;
    $checkboxFontWeight: 400;
    $checkboxFontSize: $typeScaleSmall;

    $checkboxInputBorder: 1px solid $colorGrayscaleGrayBase;
    $checkboxGroupContainerBorderRadius: $spacingXXSmall;

    $checkboxFillLeft: -27px;
    $checkboxFillTop: $spacingXXXSmall;

    $checkboxGroupContainerNoneLabelAfterTop: 12px;
    $checkboxGroupContainerNoneLabelAfterLeft: 21px;

    $checkboxGroupContainerLabelAfterTop: 18px;
    $checkboxGroupContainerLabelAfterLeft: 21px;

    $checkboxGroupContainerFirstChildBorderRadius: $spacingXXSmall;
    $checkboxGroupContainerLastChildBorderRadius: $spacingXXSmall;

    $checkboxGroupContainerTextInputBorderRadius: $spacingXXSmall;
    $checkboxGroupContainerTextInputColor: $colorGrayDarkest;
    $checkboxGroupContainerTextInputDisabledColor: #efefef;
   
    $checkboxGroupContainerMarginBottom: $spacingMedium;
    $checkboxCheckedMarginTop: -2px;
    $checkboxGroupContainerMarginBottom: $spacingMedium;
    $checkboxGroupBorderBottom: 1px solid #697786;
    $checkboxGroupBorderRadius: 4px;
    $checkboxBorderColor: $colorPrimaryBase;
    $checkboxCheckmarkBorderSize: 1px;
    $checkboxFontColor: $colorGrayDarkest;
    $checkboxFontWeight: $typeFontWeightRegular;
    $checkboxGroupLastChildBorderColor: $colorGrayscaleGrayBase;

    $checkboxGroupFirstChildBorderRadius: 4px;
    $checkboxGroupLastChildBorderRadius: 4px;
    $checkboxCheckmarkLeftPosition: $spacingMedium;
    $checkboxGroupBorderRadius: 4px;
    $checkboxCheckmarkNoContainerLeftPosition: $spacingMedium;

    $checkBoxPadding: $spacingMedium $spacingMedium $spacingMedium 52px;

    $checkboxGroupContainerTextFontWeight: $typeFontWeightRegular;
}

