.c-arrow {
    @if $isWTC == true {
      &--up {
        width: $arrowUpWidth;
        height: $arrowUpHeight;
        border-left: $arrowUpBorderWidth $arrowUpBorderType $arrowUpBorderColor !important;
        border-right: $arrowUpBorderWidth $arrowUpBorderType $arrowUpBorderColor !important;
        position: relative;
        bottom: $arrowUpBottom;
        right: $arrowUpRight;
        border-bottom: $arrowUpBorderBottomWidth $arrowUpBorderBottomType $arrowUpBorderBottomColor;
      }

      &--down {
        width: $arrowDownWidth;
        height: $arrowDownHeight;
        border-left: $arrowDownBorderWidth $arrowDownBorderType $arrowDownBorderColor !important;
        border-right: $arrowDownBorderWidth $arrowDownBorderType $arrowDownBorderColor !important;
        position: relative;
        right: $arrowDownRight;
        top: $arrowDownTop;
        border-top: $arrowDownBorderBottomWidth $arrowDownBorderBottomType $arrowDownBorderBottomColor;
      }

      &--green {
        border-color: $arrowGreenBorderColor;

      }

      &--red {
        border-color: $arrowRedBorderColor;

      }
    }


}
