$arrowUpWidth:systemTheme(arrow, arrowUpWidth);
$arrowUpHeight:systemTheme(arrow, arrowUpHeight);
$arrowUpBorderWidth:systemTheme(arrow, arrowUpBorderWidth);
$arrowUpBorderType:systemTheme(arrow, arrowUpBorderType);
$arrowUpBorderColor:systemTheme(arrow, arrowUpBorderColor);
$arrowUpBottom:systemTheme(arrow, arrowUpBottom);
$arrowUpRight:systemTheme(arrow, arrowUpRight);
$arrowUpBorderBottomWidth:systemTheme(arrow, arrowUpBorderBottomWidth);
$arrowUpBorderBottomType:systemTheme(arrow, arrowUpBorderBottomType);
$arrowUpBorderBottomColor:systemTheme(arrow, arrowUpBorderBottomColor);
$arrowDownWidth:systemTheme(arrow, arrowDownWidth);
$arrowDownHeight:systemTheme(arrow, arrowDownHeight);
$arrowDownBorderWidth:systemTheme(arrow, arrowDownBorderWidth);
$arrowDownBorderType:systemTheme(arrow, arrowDownBorderType);
$arrowDownBorderColor:systemTheme(arrow, arrowDownBorderColor);
$arrowDownTop:systemTheme(arrow, arrowDownTop);
$arrowDownRight:systemTheme(arrow, arrowDownRight);
$arrowDownBorderBottomWidth:systemTheme(arrow, arrowDownBorderBottomWidth);
$arrowDownBorderBottomType:systemTheme(arrow, arrowDownBorderBottomType);
$arrowDownBorderBottomColor:systemTheme(arrow, arrowDownBorderBottomColor);
$arrowGreenBorderColor:systemTheme(arrow, arrowGreenBorderColor);
$arrowRedBorderColor:systemTheme(arrow, arrowRedBorderColor);