.c-panel {
    @if $isWTC == true {
      border-radius: $panelBorderRadius;
      background: $panelBackground;
      padding: $panelPaddingHeight $panelPaddingWidth;
      border: $panelBorderWidth $panelBorderType $panelBorderColor;
      position: relative;

      &--shadow {
        box-shadow: 0 $panelShadowRight $panelShadowBottom 0 $panelShadowColor;
        border: $panelShadowBorderWidth $panelShadowBorderType $panelShadowBorderColor;
      }

      &__header-container {
        border-radius: $panelHeaderContainerBorderRadius;
        background: $panelHeaderContainerBackground;
        padding: $panelHeaderContainerPaddingTopRight $panelHeaderContainerPaddingTopRight $panelHeaderContainerPaddingBottom $panelHeaderContainerPaddingLeft;
        position: relative;
        border-bottom: $panelHeaderContainerBorderWidth $panelHeaderContainerBorderType $panelHeaderContainerBorderColor
      }

      &__logo {
        display: none;
      }

      &__close-icon {
        position: absolute;
        top: $panelCloseIconTop;
        right: $panelCloseRight;
      }

      &__icon {
        &-right{
          position: absolute;
          top: $panelIconRightTop;
          right: $panelIconRightRight;
        } 
       }

      &__close-icon-button {
        width: $panelCloseIconButtonWidth;
        height: $panelCloseIconButtonHeight;
        border: none;
        background: none;
        cursor: pointer;
      }

      &__dropdown {
        position: relative;
        right:$panelDropDownRight;
      }

      &__header-block {
        text-align: $panelHeaderBlockTextAlign;
      }

      &__header-block-label {
        padding: $panelHeaderBlockLabelPaddingTop 0 $panelHeaderBlockLabelPaddingBottom 0;
        margin: $panelHeaderBlockLabelMargin;
      }

      &__subheader-block {
        border-top: $panelSubheaderBlockBorderWidth $panelSubheaderBlockBorderType $panelSubheaderBlockBorderColor;
        flex-direction: $panelSubheaderBlockFlexDirection !important;
      }

      &__subheader-value {
        text-align: $panelSubheaderValueTextAlign;
      }

      &__block {
        &--xs {
          &-first {
            order: $panelBlockFirstOrder;
          }
          &-last {
            order: $panelBlockLastOrder
          }
        }
      }
    }
}

// desktop view
@media only screen and (min-width: $desktopBreakpoint) {
    @if $isWTC == true {
      .c-panel {
        padding: $panelMediaPadding;

        &__header-container {
          padding: $panelMediaHeaderContainer 0 $panelMediaHeaderContainer $panelHeaderContainerPaddingLeft;
        }

        &__logo {
          display: block;
        }

        &__dropdown {
          right: $panelMediaDropdownRight;
        }

        &__header-block {
          text-align: $panelMediaHeaderBlockTextAlign;
        }

        &__header-block-label {
          padding: $panelMediaHeaderBlockLabelPadding;
          margin: $panelMediaHeaderBlockLabelPadding;
        }

        &__subheader-block {
          border-top: $panelMediaSubheaderBordertop;
          flex-direction: $panelMediaSubheaderFlexDirection;
          text-align: $panelMediaSubheaderTextAlign;
        }

        &__subheader-value {
          text-align: $panelMediaSubheaderTextAlign;
        }

        &__block {
          &--sm {
            &-first {
              order: $panelBlockFirstOrder;
            }

            &-last {
              order: $panelBlockFirstOrder;
            }
          }
        }
      }
    }
}