body {
    background-color: rgb(234, 240, 230);
  }

.main-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    width: 70%;
}

.form-group{
    width: 80%;
    padding: 9px;
}

.file-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
}

.submit-btn{
    width: 35%;
    padding-bottom: 2%;
}

canvas{
  padding: 2% 5%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:hover:disabled{
  background-color: #777777;
  cursor: not-allowed;
}

.full-name{
    display: flex;
    gap: 9px;
}

.address-group{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.address-primary{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 9px;
}

.address-secondary{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 60%;
}

.address-tertiary{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 40%;
}

.address-g2{
    display: flex;
    gap: 9px;
}

  .activeField {
    border-color: black;
    animation: example 300ms linear;
  }

  .end-text {
    white-space: pre-wrap;
  }

  .hidden{
    display: none;
  }

  @keyframes example {
      0% {

      }
      50% {
        background-color: greenyellow;
      }
    100% {

    }