.p-list-action {
    background: $colorWhite;
    
    &__title {
        background: $listActionTitleBackground;
        color: $listActionTitleColor;
        font-family: $listActionTitleFontFamily;
        font-size: $listActionTitleFontSize;
        font-weight: $listActionTitleFontWeight;
        letter-spacing: $listActionTitleLetterSpacing;
        line-height: $listActionTitleLineHeight;
        margin: 0;
        padding: $listActionTitlePadding;
        text-transform: $listActionTitleTextTransform;
    }

    &__item {
        @include flexbox;
        @include prefixer(box-sizing, border-box);
        justify-content: flex-start;
        align-items: stretch;
        border: $listActionItemBorder;
        background: $listActionItemBackground;
        border-bottom: $listActionItemBorderBottom;
        padding: $listActionItemPadding;
        text-align: $listActionItemTextAlign;
        width: 100%;

        &:last-child {
            border-bottom: none;
        }

        &--wrap {
            flex-wrap: wrap;
            justify-content: center;
        }

        &:hover {
            
           .p-list-action__icon--slide {
            transform: translate(.3em, 0);
           } 
        }

        &-icon {
            align-self: center;
            color: $listActionItemIconColor;
            height: $listActionItemIconSize;
            margin-bottom: $listActionItemIconMarginBottom;
            margin-right: $listActionItemIconMarginRight;
            font-size: $listActionItemIconFontSize;
            width: $listActionItemIconSize;

            &--wrap {
                @media only screen and (max-width: $breakpoint--small) {
                    text-align: center;
                    width: 100%;
                }
            }
  
        }

        &-content {
            flex-grow: 2;
            margin-right: $listActionItemContentMarginRight;
            margin-bottom: $listActionItemContentMarginBottom;

            &--wrap {
                @media only screen and (max-width: $breakpoint--small) {
                    flex-grow: unset;
                }
            }
        }

        &-title {
            display: block;
            align-self: center;
            text-align: left;
            color: $listActionItemTitleColor;
            font-size: $listActionItemTitleFontSize;
            font-family: $listActionItemTitleFontFamily;
            line-height: $listActionItemTitleLineHeight;

            &--cta {
                display: block;
                align-self: center;
                text-align: left;
                color: $listActionItemCTAColor;
                font-size: $listActionItemCTAFontSize;
                font-family: $listActionItemCTAFontFamily;
                line-height: $listActionItemCTALineHeight;
            }

            &.c-link {
                color: $listActionItemCTAColor;
            }
        }

        &-subtitle {
            display: block;
            text-align: left;
            color: $listActionItemSubtitleColor;
            font-size: $listActionItemSubtitleFontSize;
            font-family: $listActionItemSubtitleFontFamily;
            line-height: $listActionItemSubtitleLineHeight;
        }

        &-actions {
            display: flex;
            align-self: center;
            justify-self: flex-end;
            margin-bottom: $listActionItemActionsMarginBottom;

            &--wrap {
                @media only screen and (max-width: $breakpoint--small) {
                    justify-content: center;
                    width: 100%;
                }
            }
          
            
            .icon {
                align-self: center;
                color: $listActionItemActionsColor;
                font-size: $listActionItemActionsFontSize;
                margin-right: $listActionItemActionsMarignRight;
            }
        }
    }
    &__icon--animated {
        transition: .3s all cubic-bezier(0.635, -0.600, 0.160, 1.650);
    }
    &__icon-action {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 2px;

        &.p-list-action__icon--pop:hover {
            transform:scale(1.2) rotate(5deg);
        }

        // TODO: Remove below depending which we choose
        &-alt {
            display: inline-block;
            text-indent: -5000em;
        }
        &-label {
            display: block;
            font-family: $listActionItemActionsFontFamily;
            color: #007856;
            font-size: $listActionItemActionsLabelFontSize;
            padding-top: $listActionItemActionsPaddingTop;
        }

    }
}
button.p-list-action__item {
    cursor: pointer;
}