$wt-chart-grid-tokens: (
    chartGridHeaderBgColor: $colorGrayscaleWhite,
    chartGridHeaderColor: $colorGrayscaleGrayBase,
    chartGridHeaderFontSize: $typeScaleXSmall,
    chartGridHeaderBorderBottomWidth: 1px,
    chartGridHeaderBorderBottomType: solid,
    chartGridHeaderBorderBottomColor: #e0e9ed,
    ChartGridHeaderStackedMarginBottom: 0px,
    ChartGridHeaderStackedLineHeight: 12px,
    ChartGridCenterColsColor: $colorPrimaryBase,
    ChartGridCenterColsFontSize: $typeScaleXSmall,
    ChartGridExpandedWidth: 24px,
    ChartGridExpandedHeight: 24px,
    ChartGridExpandedLeft: -8px,
    ChartGridRowColor: #e0e9ed,
    ChartGridRowOddColor: $colorGrayscaleWhite,
    ChartGridCursor: pointer,
    ChartGridExpandedBg: $colorGrayLightest,
    chartGridItrBorderBottomWidth: 1px,
    chartGridItrBorderBottomType: solid,
    chartGridItrBorderBottomColor: transparent,
    chartGridItrPaddingLeft: 25px,
    chartGridSvgWidth: 14px,
    chartGridSvgHeight: 14px,
    chartGridInnerPaddingHeight: 10px,
    chartGridInnerPadding: 10px,
    chartGrindInnerColor: $colorGraphicBlueBase,
    chartGridHeaderCellBorderBottomWidth: 1px,
    chartGridHeaderCellBorderBottomStyle: dotted,
    chartGridHeaderCellBorderBottomColor: $colorGrayscaleGrayBase,
    chartGridHeaderCellbg: #00ffff,
    chartGridDotWidth: 8px,
    chartGridDotHeight: 8px,
    chartGridDotBorderRadius: 50%,
    chartGridDotMarginRight: $spacingXSmall,
    chartGridFloatingColor: $colorPrimaryBase,
    chartGridFloatingBorderBottomWidth: 1px,
    chartGridFloatingBorderBottomType: solid,
    chartGridFloatingBorderBottomColor: #e0e9ed,
    chartGridThemePaddingLeft: 50px,
    chartGridNoIndentPaddingLeft: 25px
  );