// MTB Specific Tokens

$buttonBorderRadius: 2px;
$buttonWidth: 100%;
$buttonBorderColor: $colorPrimaryBase;
$buttonPaddingTop: $spacingSmall;
$buttonPaddingBottom: $spacingSmall;
$buttonPaddingLeft: $spacingSmall;
$buttonPaddingRight: $spacingSmall;
$buttonDisabledColor: #ececec;
$buttonDisabledBorderColor: #ececec;
$buttonDisabledTextColor: #666666;

$buttonGroupFontColor: $colorGrayDark;
$buttonGroupFontSize: $typeScaleMedium;
$buttonGroupHoverBorderColor: $colorGrayBase;
$buttonGroupActiveColor: $colorPrimaryBase;
$buttonGroupBorderBottomRightRadius: 2px;
$buttonGroupBorderBottomLeftRadius: 2px;
$buttonGroupButtonActiveBoxShadow: none;
$buttonGroupButtonNotLastChildBorderRight: none;
$buttonGroupFocusBoxShadow: 0;
$buttonGroupActiveFocusBoxShadow: 0;
$buttonGroupButtonFontWeight: $typeFontWeight;

$buttonBackFontSize: $typeScaleXLarge;
$buttonBackBorder: $spacingXXXSmall solid $colorPrimaryBase;
$buttonBackBorderRadius: 50%;
$buttonBackPadding: $spacingXSmall 10px $spacingXSmall $spacingXSmall;
$buttonBackMarginRight: $spacingMedium;
$buttonBackColor: $colorPrimaryBase;
$buttonBackDisabledColor: #666666; // This color is not defined as a vaiable but is used in a couple spots
$buttonBackDisabledBorder: $spacingXXXSmall solid #ececec; // This color is not defined as a vaiable but is used in a couple spots

$buttonMinWidth: 0;
$buttonHoverColor: none;
$buttonFocusBoxShadow: none;
$buttonPrimaryFocusBoxShadow: none;
$buttonSecondaryBackgroundColor: none;
$buttonSecondaryBorderWeight: 0;
$buttonSecondaryBorderStyle: none;
$buttonSecondaryBorderColor: none;
$buttonSecondaryTextColor: none;
$buttonSecondaryTextStyle: none;
$buttonSmallFocusBoxShadow: none;
$buttonSmallPrimaryFocusBoxShadow: none;

$buttonBackgroundColor: $colorWhite;
$buttonBorderWeight: 1px;
$buttonBorderStyle: solid;
$buttonTextColor: $colorPrimaryBase;
$buttonTextAlignment: center;
$buttonTextStyle: none;
$buttonLineHeight: 1;
$buttonFontSize: $typeScaleMedium;
$buttonFontFamily: $typeFontFamily;
$buttonFontWeight: $typeFontWeightMedium;
$buttonPrimaryBackgroundColor: $colorPrimaryBase;
$buttonPrimaryBorderColor: $colorPrimaryBase;
$buttonPrimaryBorderWeight: 2px;
$buttonPrimaryBorderStyle: solid;
$buttonPrimaryTextColor: $colorWhite;
$buttonPrimaryTextStyle: none;
$buttonSubtleBackgroundColor: $colorWhite;
$buttonSubtleBorderColor: $colorWhite;
$buttonSubtleBorderWeight: 2px;
$buttonSubtleBorderStyle: solid;
$buttonSubtleTextColor: $colorPrimaryBase;
$buttonSubtleTextStyle: none;

$buttonLoadingDotColor: $colorPrimaryBase;
$buttonPrimaryLoadingDotColor: $colorWhite;
$buttonSubtleLoadingDotColor: $colorPrimaryBase;
$buttonGroupBorderColor: $colorGrayLight;
$buttonGroupActiveHoverColor: $colorWhite;

$buttonDarkenValue: 5%;
$buttonLoadingCursor: wait;
$buttonDisabledCursor: not-allowed;
$buttonDefaultCursor: pointer;
$buttonHeight: auto;
$buttonMinHeight: auto;
$buttonDisplay: flex;
$buttonVerticalAlign: top;
$buttonMargin: 0;
$buttonLetterSpacing: 0.5px;
$buttonDisabledFontColor: $colorWhite;
$loadingPrimarybuttonDotColor: $colorWhite;
$buttonGroupPosition: relative;
$buttonGroupDisplay: inline-flex;
$buttonGroupVerticalAlign: middle;
$buttonGroupWidth: 100%;
$buttonGroupButtonBorderSize: 1px;
$buttonGroupButtonBorderStyle: solid;
$buttonGroupButtonFontWeight: $typeFontWeight;
$buttonGroupButtonTextDecoration: none;
$buttonGroupButtonPosition: relative;
$buttonGroupButtonZIndex: 1;
$buttonGroupButtonLastChildBorderRadius: 0 2px 2px 0;
$buttonGroupButtonFirstChildBorderRadius: 2px 0 0 2px;
$buttonGroupButtonNotFirstChildBorderLeft: none;
$buttonGroupButtonNotFirstOrLastChildBorderRadius: 0;
$buttonGroupButtonActiveZIndex: 2;
$buttonGroupBackgroundColor: $colorWhite;
$buttonGroupActiveFontColor: $colorWhite;

$buttonIconMarginRight: 8px;
$buttonIconFontSize: 24px;

$buttonPrimaryDisabledBorderWidth: 2px;
// For WT to compile
$smallButtonMinHeight: auto;

// WT Specific Tokens
@if $isWTC {
  $buttonBorderRadius: 21px;
  $buttonMinWidth: 100px;
  $buttonWidth: auto;
  $buttonHeight: auto;
  $buttonMinHeight: 42px;
  $buttonFontWeight: $typeFontWeightRegular;
  $buttonBorderColor: $colorGrayscaleGrayBase;
  $buttonPaddingTop: $spacingXSmall;
  $buttonPaddingBottom: $spacingXSmall;
  $buttonPaddingLeft: $spacingXLarge;
  $buttonPaddingRight: $spacingXLarge;
  $buttonHoverColor: $colorPrimaryLight;

  $buttonDisabledColor: $colorGrayscaleGrayLight;
  $buttonDisabledTextColor: $colorGrayscaleGrayDark;
  $buttonDisabledBorderColor: $colorGrayscaleGrayDark;
  $buttonFocusBoxShadow: $focusBoxShadow;
  $buttonPrimaryFocusBoxShadow: $focusBoxShadow;
  $buttonSmallFocusBoxShadow: $focusBoxShadow;
  $buttonSmallPrimaryFocusBoxShadow: $focusBoxShadow;
  $buttonGroupBorderColor: $colorGrayscaleGrayBase;
  $buttonGroupFontColor: $colorPrimaryBase;
  $buttonGroupActiveColor: $colorPrimaryBase;

  $buttonGroupBorderBottomRightRadius: 21px;
  $buttonGroupBorderBottomLeftRadius: 21px;
  $buttonGroupButtonNotFirstChildBorderRight: 1px
    solid
    $colorGrayscaleGrayLight;
  $buttonGroupFontSize: $typeScaleXSmall;
  $buttonGroupButtonFontWeight: $typeFontWeightMedium;
  $buttonSecondaryBackgroundColor: $colorGrayscaleWhite;
  $buttonSecondaryBorderColor: $colorGrayscaleGrayLight;
  $buttonSecondaryBorderWeight: 1px;
  $buttonSecondaryBorderStyle: solid;
  $buttonSecondaryTextColor: $colorPrimaryBase;
  $buttonSecondaryTextStyle: none;

  $buttonGroupFocusBoxShadow: $focusBoxShadow;
  $buttonGroupActiveFocusBoxShadow: $focusBoxShadow;

  $buttonPrimaryDisabledBorderWidth: 1px;

  $smallButtonHeight: auto;
  $smallButtonMinHeight: 30px;
  $smallButtonPaddingTop: 0;
  $smallButtonPaddingRight: $spacingXLarge;
  $smallButtonPaddingBottom: 0;
  $smallButtonPaddingLeft: $spacingXLarge;
}
